<div class="pv4 this mw7">

  <div class="ph3 center">
    
    <h2>{{.image_list_heading.heading}}</h2>
    <ul class="boom flex-ns mhn2-ns mb3">      
      {{ range .image_list }}
      <li class="ph2-ns w-25-ns tc noteworthy">
        <img src="{{.image}}" alt="" class="center db mb3">

        <p>
          {{.text}}
          <a href="{{.linkurl}}">{{.linktext}}</a>

        </p>

      </li>
      {{ end }}
    </ul>
  </div>

  <!-- <div class="ph3 center">
    <span class="f2 b lh-title mb2">{{.intro.heading}}</span>
    <p class="mb4 mw6">{{.intro.text}}</p>
  </div> -->


    <!-- <div class="tc">
      <a href="/products" class="btn raise">See all products</a>
    </div> -->
  </div>
