  <aside>
    
    <ul class="project-info">
      
      <li>
        <b>Client</b> {{ .client }}
      </li>

    <li>
      <b>Role</b> {{ .role }}
      <br/>
    {{ if .technology }}
      <em>{{ .technology }}</em>
    {{ end }}
    </li>
    {{ if .team }}
    <li>
      <b>Team</b> {{ .team }} and myself       
    </li>
    {{else}}
    <li>
      <b>Team</b> Independent project       
    </li>
    {{ end}}
    <li>
      <b>Dates</b> 
      {{ .Date.Format "January" }} -
          {{ with .newdate }}
          {{ dateFormat "January 2006" . }}
      {{ end }}
      <br/>
      <em>({{ .duration }})</em>
    </li>
    </ul>   
 
      </aside>