<section class="bg-off-white pv4 max-w-7xl mx-auto" id="article-feed">
	<div class="ph3 center">

<div class="">
		<div style="display: block; position: relative; margin-bottom: 3em" >
		<ul class="w-100 work-roll" style="padding-left: 0">
			{{ range first 2 (where .Site.Pages "Type" "post") }}
				<li class="ph1-ns w-50-ns block">
					<div class="flex">

						<div class="article-block no-underline pa3 br1 mb2 db w-50">

							<h4><a href="{{ .RelPermalink }}" class="no-underline br1 mb1 db raise w-100"><span class="htitle primary">{{ .Title }}</span></a></h4>
							<p>{{ .Params.preview_intro }}</p>
						
						
							
						</div>

					</div>
				</li>
			{{ end }}
			</ul>
			<!-- <a href="/post" class="btn underline" >All Case Studies</a> -->
			<div class="flex green">
			<a href="/post" style="margin-left: 0" class="skip card-v8 homepage bg radius-lg text-center">
				<span class="">All Case Studies</span>
			</a></div>
			</div>

			<div style="display: block;">
				<ul class="w-100 mhn1-ns mb3 article-roll">
					{{ range last 2 (where .Site.Pages "Type" "article") }}
						<li class="ph1-ns w-50-ns">
							<div class="db">

								<div class="article-block no-underline pa3 br1 mb2 db w-50">


									<h4><a href="{{ .RelPermalink }}" class="no-underline br1 mb1 db raise w-100"><span class="htitle primary">{{ .Title }}</span></a></h4>
								
								
									
								</div>

							</div>
						</li>
					{{ end }}
					</ul>
			<!-- <a href="/article" class="btn underline">All Articles</a> -->

			<div class="flex green">
				<a href="/article" style="margin-left: 0" class="skip card-v8 homepage bg radius-lg text-center">
					<span class="">All Articles</span>
				</a></div>

		</div>
</div>
		<!-- <ul class="flex-ns flex-wrap mhn1-ns pa3">
			{{ range (.Paginator 2).Pages.ByPublishDate.Reverse }}
				<div class="w-100-ns ph1-ns flex">
				  {{ .Render "li copy"}}
				</div>
			{{ end }}
		</ul> -->

			<!-- <a href="/article" class="btn raise">More Articles</a> -->

	</div>
</section>
