<section class="bg-off-white pv4" id="article-feed">
	<div class="ph3 center">

		<h2>Latest case studies & articles: </h2>

		<div style="display: block; position: relative; margin-bottom: 3em">
		<ul class="w-100 flex work-roll" style="padding-left: 450px;">
			{{ range first 1 (where .Site.Pages "Type" "post") }}
				<li class="ph1-ns w-50-ns">
					<div class="flex">
					<!-- <div class="item"><div class="polaroid"><img src="img/test-img.jpg"></div></div>  -->
					{{ .Render "li copy" }}
				</div>
				</li>
			{{ end }}
			</ul>
			<a href="/post" class="btn" style="margin-left: 450px;">All Case Studies</a>
			</div>

			<div style="padding-left: 450px; display: block;">
				<ul class="w-100 mhn1-ns mb3 article-roll">
					{{ range last 1 (where .Site.Pages "Type" "article") }}
						<li class="ph1-ns w-50-ns">
							<div class="db">
							{{ .Render "li copy" }}
						</div>
						</li>
					{{ end }}
					</ul>
			<a href="/article" class="btn">All Articles</a>
		</div>

		<!-- <ul class="flex-ns flex-wrap mhn1-ns pa3">
			{{ range (.Paginator 2).Pages.ByPublishDate.Reverse }}
				<div class="w-100-ns ph1-ns flex">
				  {{ .Render "li copy"}}
				</div>
			{{ end }}
		</ul> -->

			<!-- <a href="/article" class="btn raise">More Articles</a> -->

	</div>
</section>
