<div class="display_image_section parent-outer">

  <div class="max-w-7xl mx-auto">
  <div class="">


    {{ if eq .type "display_image_section" }}

    {{ if eq .type "heading05"}} 
    <b>remove this - h5</b> 
    <h2 id="heading-05">{{.heading05}}</h2>
    {{ end }}

    {{ end }}



    {{ range .display_image_section_content }}

      {{ if eq .type "Content02" }}
      <div class="is-this">{{.Content002 | markdownify}}</div>
      {{ end }}

      <!-- {{ if eq .type "Content03" }}
      <p>{{.Content003 | markdownify}}</p>
      {{ end }} -->

    {{end}}

  </div>
  
  <div class="parent-all max-w-7xl mx-auto">
  
  <div class="div1-04">

    {{ range .display_image_section_content }}

      {{ if eq .type "Content03" }}
      <div>{{.Content003 | markdownify}}</div>
      {{ end }}

      {{ if eq .type "introw" }}
        {{ partial "icon-media-block" . }}
      {{ end }}

    {{end}}

  </div>


  <div class="div2-04">
    <img src="{{.image}}" alt="TBD" class="display-img">
  </div>
  </div>
  </div>

</div>
