<div class="display_image_section parent-outer">

  <div class="max-w-7xl mx-auto">
  <div class="content-850">



    <h2>{{.heading05}}</h2>


    {{ range .display_image_section_content }}

      {{ if eq .type "Content02" }}
      <p>{{.Content002 | markdownify}}</p>
      {{ end }}

      <!-- {{ if eq .type "Content03" }}
      <p>{{.Content003 | markdownify}}</p>
      {{ end }} -->

    {{end}}

  </div>
  
  <div class="parent-all max-w-7xl mx-auto">
  
  <div class="div1-04">

    {{ range .display_image_section_content }}

      {{ if eq .type "Content03" }}
      <p>{{.Content003 | markdownify}}</p>
      {{ end }}

      {{ if eq .type "introw" }}
        {{ partial "icon-media-block" . }}
      {{ end }}

    {{end}}

  </div>


  <div class="div2-04">
    <img src="{{.image}}" alt="TBD">
  </div>
  </div>
  </div>

</div>
</div>
