    <div class="inner-wrap">
      <div style="display: -webkit-box;" class="">

        <div style="">
    {{ .full_basic_content }}
    {{ partial "icon-media-block" .introw }}
    {{ .half_basic_content }}
    </div>

      <div class="" style="align-items: center; justify-content: center;">
      <img src="{{ .image }}" alt="this is the alt text" title="Title is optional" style="width: 300px">
    </div>

    </div>
    </div>



<!-- <div><img src="{{ .image }}" alt="" class="center db mb3"></div>
<div>{{.caption }}</div>
<div>{{.markdown | markdownify}}</div> -->