    <div class="inner-wrap">
      <div style="display: -webkit-box;" class="image-block">

        <div style="width: calc(100% - 520px);">
    {{ .full_basic_content }}
    {{ partial "icon-media-block" .introw }}
    {{ .half_basic_content }}
    </div>

      <div class="med-img" style="align-items: center;
      justify-content: center;">
      <img src="{{ .image }}" alt="this is the alt text" title="Title is optional">
    </div>

    </div>
    </div>



<!-- <div><img src="{{ .image }}" alt="" class="center db mb3"></div>
<div>{{.caption }}</div>
<div>{{.markdown | markdownify}}</div> -->