    <section class="{{.background}}" aria-labelledby="heading03" style="border: 1px solid red">
    
    <div class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex" style="margin-top: 2rem">

    <div class="w-full mt-4 lg:mt-0 lg:w-1/2">

        hiiii

      </div>

      <div class="w-full text-top lg:text-left lg:w-1/2">
        {{ range .right_side.content_options }}

        {{ if eq .type "heading3" }}
            The heading? <h2 id="heading03">{{.heading03}}</h2>
        {{ end }}

        {{ if eq .type "generic_content" }}
            {{.generic_content | markdownify}}
        {{ end }}
 
        
        {{ end }}
        
          </div>

        </div>
     </section>
