<footer>
	<div class="wrapper">
				<!-- 
					<strong>⚠️ I am currently looking for new opportunities! Check out my <a href="">resume</a> or <a
							href="">email me</a>.</strong>
				-->
				
					<strong>If you’d like to chat or make my day</strong>, please <a href="mailto:melanielinares.a11y@gmail.com">send me an email</a> or <a href="https://www.buymeacoffee.com/melanielinares">buy
						me a coffee </a>.
<br>
			©{{ dateFormat "2006" now }} Copyright Melanie Linares.	All rights reserved.
	</div>
</footer>