<section class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex parent-outer">
<div class="generic-content max-w-7xl mx-auto">

    {{ range .content_options }}

        {{ if eq .type "generic_image" }}
            {{ partial "generic_image" . }}
        {{ end }}

        {{ if eq .type "generic_content" }}
            {{ .genericcontent | markdownify }}
        {{ end }}

        {{ if eq .type "two-col-text-grid" }}
            {{ partial "two-col-text-grid" . }}
        {{ end }}

        {{ if eq .type "overlap_bg_img_content" }}
        {{ partial "overlap_bg_img_content" . }}
    {{ end }}
        
    {{end}}

</div>
</section>

<!-- {{ partial "icon-media-block" .introw }} -->