<style>

    .blue .Angled .caption:before, .purple .Angled .caption:before, .green .Angled .caption:before, .purple .Rectangular .caption:before, .green .Rectangular .caption:before, .blue .Rectangular .caption:before, .blue .Angled .img-w-caption .caption:before, .purple .Angled .img-w-caption .caption:before, .green .Angled .img-w-caption .caption:before, .purple .Rectangular .img-w-caption .caption:before {
        background: url('img/blue-border-arrow.png');
        background-repeat: no-repeat;
    }

    .blue .Blank .caption:before, .green .Blank .caption:before, .purple .Blank .caption:before, .blue .Blank .img-w-caption .caption:before, .green .Blank .img-w-caption .caption:before, .purple .Blank .img-w-caption .caption:before {
        background: url('img/white-border-arrow.png');
        background-repeat: no-repeat;
    }
</style>

<section class="{{.background}}" aria-labelledby="heading03">
    <div class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex parent-outer">
<div class="generic-content">

    {{ range .content_options }}

        {{ if eq .type "heading3" }}
            <h2 id="heading03">{{.heading03}}</h2>
        {{ end }}

        {{ if eq .type "generic_content" }}
            {{.generic_content | markdownify}}
        {{ end }}

        {{ if eq .type "CaptionImg" }}
            {{ partial "generic_image" . }}
        {{ end }}

         {{ if eq .type "cards" }}
            {{ partial "icon-cards" . }}
        {{ end }}

        {{ if eq .type "introw" }}
            {{ partial "icon-media-block" . }}
        {{ end }}

        {{ if eq .type "pillfeaturedtext" }}
            {{ partial "pill-featured-text" . }}
        {{ end }}
        
        {{ if eq .type "overlap_bg_img_content" }}
            {{ partial "overlap_bg_img_content" . }}
        {{ end }}

        {{ if eq .type "needtonamethis" }}
            {{ partial "needtonamethis" . }}
        {{ end }}

        {{ if eq .type "display_image_section" }}
            {{ partial "display_image_section" . }}
        {{ end }}        

        {{ if eq .type "fullwidth_img" }}
            {{ partial "fullwidth_img" . }}
        {{ end }}

        {{ if eq .type "fifty_fifty" }}
            {{ partial "fifty_fifty" . }}
        {{ end }}

        {{ if eq .type "scroll-image" }}
            {{ partial "scroll-image" . }}
        {{ end }}

        {{ if eq .type "image-jumble-grid" }}
            {{ partial "image-jumble-grid" . }}
        {{ end }}

    {{ end }}

</div></div>
</section>