<section>
    <div class="inner-wrap">
    <h2>{{ .heading }}</h2>
    <!-- Internationalization and globalization was at the heart of the go-to market strategy -->
    <!-- <ul>
    <li>international sales interns, Outside Sales team members, and the Marketing team were interviewed</li>
    <li>Marketing ran specific user surveys</li>
    <li>The website would need multi-language support, translated documentation, and branding tweaks</li>
    <li>Focus on bold colors, image-focused design, EU-specific regulation requirements</li>
    <li>Unicode considerations</li>
    <li>Coding requirements to allow easier auto translation of content</li>
    </ul> -->

    {{ .markdown | markdownify }}

    {{ partial "icon-media-block" .introw }}

    {{ .markdown_optional | markdownify }}

    </div>
</section>