<!-- <div class="flex-m mhn3-m mb4">

  <div class="ph3-m w-50-m">
    <img src="{{.imageUrl}}" alt="">
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">{{.heading}}</h3>
    <p>{{.text}}</p>
  </div>

</div> -->


<!-- {{ if .values }} -->

<!-- <div style="display: -webkit-box;" class="image-block">
    <div class="icon" style="align-items: center;
      justify-content: center;">
      <img class="" src="/img/icons/unhappy.png" alt="">
    </div>
    <div style="width: calc(100% - 100px);">
        <h3 id="the-main-issue-for-citizens">{{.heading}}</h3>
        <ul>
            <li>Citizens with vision difficulties are unable to understand important safety and legal announcements</li>
            <li>Citizens may have a hard time making convenient online transactions</li>
            <li>Citizens with situational or temporary disabilities (including slow internet speeds) may have difficulties completing tasks</li>
        </ul>
    </div>
</div>

<div style="display: -webkit-box;" class="image-block">
    <div class="icon" style="align-items: center;
      justify-content: center;">
      <img class="" src="/img/icons/unhappy.png" alt="">
    </div>
    <div style="width: calc(100% - 100px);">
        <h3 id="the-main-issue-for-citizens">The main issue for citizens</h3>
        <ul>
            <li>Citizens with vision difficulties are unable to understand important safety and legal announcements</li>
            <li>Citizens may have a hard time making convenient online transactions</li>
            <li>Citizens with situational or temporary disabilities (including slow internet speeds) may have difficulties completing tasks</li>
        </ul>
    </div>
</div> -->

<!-- {{ end }} -->


<div class="pv4">
	<div class="ph3 center">
        
        {{ range .blurbsw }}
        <div class="ph2-ns w-50-ns mb4 icon">
            <img src="{{ .imagew }}" alt="" class="center db mb3">
            <p>{{ .textw | markdownify }}</p>
        </div>
    {{ end }}
        
	</div>
</div>
