<section>
  <div class="inner-wrap content">
  
  <div class="div-4">
  
    <h2>Audit findings and breakdown</h2>
    <h3Focus on components></h3>
    <p>1 Components associated with key functionality such as datapickers and dynamically populated dropdowns received prioritization. This also included custom controls which have a native alternative that is often replaced in favor of less accessible, but visually branded elements.</p>

    {{ partial "icon-media-block" .introw }}
  
    <!-- <div style="display: -webkit-box;" class="image-block">
  <div class="xs-icon" style="align-items: baseline;
    justify-content: center; padding-top: .5em;">
    <img class="" src="/img/icons/ux-design.png" alt="">
      </div>
  <div style="width: calc(100% - 52px);">
  <ul>
  <li>Date pickers were not operable via keyboard or presented instances of keyboard traps</li>
  <li>Custom dropdown elements would refresh pages on keychange when cycling through options</li>
  </ul>
    </div>
    </div>
  
  
    <div style="display: -webkit-box;" class="image-block">
  <div class="xs-icon" style="align-items: baseline;
    justify-content: center; padding-top: .5em;">
    <img class="" src="/img/icons/ux-design.png" alt="">
      </div>
  <div style="width: calc(100% - 52px);">
  <ul>
  <li>Contact forms withought correct label associations were in the footer of every page</li>
  <li>Incorrect use of headings included implicit headings which contained no meaning in html syntax and skips in heading elements which disrupt a screen reader's ability to parse content</li>
  </ul>
    </div>
    </div> -->
    
  
  </div>
  
  <div class="div-5">
  <p>
    <img src="{{.image1}}" >
    <em>{{.image1caption}}</em>
  </p>

    {{if .image2}}
    <p>
    <em>{{.image2caption}}</em>
    <img src="{{.image2}}" >
  </p>
    {{end}}
  
    </div>
  
  </div>
  </section>