<div class="adv-gallery-v5 container max-w-7xl mx-auto">
  <ul class="adv-gallery-v5__grid-1" role="presentation">
    <li class="adv-gallery-v5__grid-1-item-1">
      <img class="adv-gallery-v5__img" src="https://codyhouse.co/app/assets/img/article-v4-img-1.jpg" alt="Image description">
    </li>

    <li class="adv-gallery-v5__grid-1-item-2 cd-flex cd-flex-column">
      <img class="adv-gallery-v5__img cd-margin-bottom-xs" src="https://codyhouse.co/app/assets/img/article-v4-img-1.jpg" alt="Image description">

      <div class="adv-gallery-v5__caption">
        <strong class="adv-gallery-v5__caption-title">Nothing is cheap</strong>
        <p class="adv-gallery-v5__caption-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis in incidunt asperiores eum fugit.</p>
      </div>
    </li>

    <li class="adv-gallery-v5__grid-1-item-3">
      <div class="adv-gallery-v5__grid-2">
        <div class="adv-gallery-v5__grid-2-item-1">
          <img class="adv-gallery-v5__img" src="https://codyhouse.co/app/assets/img/article-v4-img-1.jpg" alt="Image description">
        </div>

        <div class="adv-gallery-v5__grid-2-item-2 cd-flex cd-flex-column">
          <div class="adv-gallery-v5__caption">
            <strong class="adv-gallery-v5__caption-title">I have a dream</strong>
            <p class="adv-gallery-v5__caption-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis in incidunt asperiores eum fugit.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>