<section class="fullwidth">
    <div class="parent-all parent-of-gallery">
      <div class="div1-20"> 
        <img class="full-img" src="{{.image1}}" alt="TBD">
        <em>{{.image2caption}}</em>
      </div>
      <div class="div2-20"> 
        <img class="full-img" src="{{.image2}}" alt="TBD">
        <em>{{.image2caption}}</em>
      </div>
      <div class="div3-20"> 
        <img class="full-img" src="{{.image3}}" alt="TBD">
        <em>{{.image3caption}}</em>
      </div>
      <div class="div4-20"> 
        <img class="full-img" src="{{.image4}}" alt="TBD">
        <em>{{.image4caption}}</em>
      </div>
    </div>
    </section>