<section class="max-w-7xl mx-auto">
    <div class="parent-all parent-of-gallery">
      <div class="div1-20"> 
        <img class="full-img" src="https://codyhouse.co/app/assets/img/adv-gallery-v2-img-3.jpg" alt="TBD">
        <em>Drop-down navigation contained multiple columns and subheaders. This navigation was duplicated within the code for muliple screen sizes rather than using CSS to adjust the layout</em>
      </div>
      <div class="div2-20"> 
        <img class="full-img" src="https://codyhouse.co/app/assets/img/adv-gallery-v2-img-1.jpg" alt="TBD">
        <em>Drop-down navigation contained multiple columns and subheaders. This navigation was duplicated within the code for muliple screen sizes rather than using CSS.fsdfsfd</em>
      </div>
      <div class="div3-20"> 
        <img class="full-img" src="https://codyhouse.co/app/assets/img/adv-gallery-v2-img-2.jpg" alt="TBD">
        <em>This navigation is using CSS to adjust the layout pattern</em>
      </div>
      <div class="div4-20"> 
        <img class="full-img" src="https://codyhouse.co/app/assets/img/adv-gallery-v2-img-4.jpg" alt="TBD">
        <em>Drop-down navigation contained multiple columns and subheaders. This navigation was duplicated within the code for muliple screen sizes rather than using CSS to adjust the layout</em>
      </div>
    </div>
    </section>