<!-- <div class="pv4 this mw7">
  <div class="ph3 center">
    
    <h2>{{.image_list_heading.heading}}</h2>
    <ul class="boom flex-ns mhn2-ns mb3">      
      {{ range .image_list }}
      <li class="ph2-ns w-25-ns tc noteworthy">
        <img src="{{.image}}" alt="" class="center db mb3">

        <p>
          {{.text}}
          <a href="{{.linkurl}}">{{.linktext}}</a>

        </p>

      </li>
      {{ end }}
    </ul>
  </div>
  </div> -->

  <div class="div-5">
    <p><img src="/img/ncdot-navigation.png" alt="this is the alt text" title="Title is optional">
    <em>Drop-down navigation contained multiple columns and subheaders. This navigation was duplicated within the code for muliple screen sizes rather than using CSS to adjust the layout</em></p>
  </div>