<!-- <div id="{{.backgroundcolor}}" class="bg-center cover hero" style="background-image: url('{{.imageUrl}}');"> -->
    <span id=""></span>
  <div id="maincontent" class="max-w-7xl mx-auto ">
    <div class="hero-header" style="display: flex"> <!-- max-w-7xl mx-auto -->
      <div style="display: flex; align-items: center; width: 60em; margin-right: 7em; height: 32em;">
<div>
        <h1 class="text-4xl md:text-5xl">
         
          {{ if .title }}
          <b>{{.title}}</b>

          {{ else }}  
          <b>         
          <script type="text/javascript">

            // document.write("Oh hey");
            var time = new Date();
            var options = { weekday: 'long'};
            var day = new Intl.DateTimeFormat('en-US', options).format(time);
            
            // if (day == 'Tuesday') {
            //   document.write("Oh hello, ");
            // }

            var hr = time.getHours();
            if ((hr >= 20) && (hr <= 24)) {
              // 8:00pm est - 12:59am
              document.write("Hello there, my name is Melanie.");
            } else if ((hr >= 1) && (hr <= 3)) {
              // 1:00am est - 3:59am
              document.write("Working this late on a " + day + "?");
            } else if ((hr >= 4) && (hr <= 11)) { 
              // 4:00am est - 10:59am
                document.write("Hello " + day + ", let's get to work");
              } else if ((hr >= 11) && (hr <= 14)) {
              // 11:00am est - 2:59pm
                document.write("Hey good afternoon! What are you working on today?");
            } else if ((hr >= 16) && (hr <= 19)) {
              // 3:00pm est - 7:59pm
                if (hr < 17) {
                document.write("Hello there, my name is Melanie.");
                }
                else {
                document.write("Hello there, my name is Melanie.");
                }
            } 
            else {
              document.write("Hello there, my name is Melanie.");
            }
        </script>
    </b>
          
          {{ end }}

          {{ if .subtitle }}
           {{.subtitle}}
          {{ end }}

        </h1>

        {{ if .text }}        
        <div class="notice">{{.text}}</div>        
      {{ end }}
</div>
      </div>
      <!-- <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div> -->
     
        <!-- {{ if .text }}        
           <div class="notice">{{.text}}</div>        
        {{ end }} -->
      
      <!-- {{ if .heroP }}
      <div class="mw7 relative bg-fix-primary">
        <p style="margin-top: 2rem" class="di lh-title mb3 white mw6 bg-primary db">
          {{.heroP}} 
          {{ if .heroP }}
          <a href="{{.heroPlinkurl}}">{{.heroPlinktext}}</a>{{ end }}.
        </p>        
      </div>
      {{ end }} -->

      <div class="hero-header-image">
      {{ if .imageUrl2 }} 
      <img src="{{ .imageUrl2 }}" alt="{{ .Title }}" />
      {{ end }}

      <img src="{{ .imageUrl }}" alt="{{ .Title }}" />

      </div>
    </div>
  

  

<!-- <div class="blur-wrap">
<div class="blur-circle"></div>
</div> -->

  <!-- <div class="laptop-img"><img src="img/laptop.gif"/></div> -->
    
</div>

<!-- <div class="bloop"></div> -->

<!-- <script>

  // var element = document.getElementById("herosection");
  // element.classList.add("mystyle");

// why (the above) it doesn't work on firefox?
// var card = $(".hero-header");
// var cardouter = $(".hero");

// $(cardouter).on("mousemove",function(e) {  
//   var ax = -($(window).innerWidth()/2- e.pageX)/50;
//   var ay = ($(window).innerHeight()/2- e.pageY)/40;
//   card.attr("style", "transform: rotateY("+ax+"deg) rotateX("+ay+"deg);-webkit-transform: rotateY("+ax+"deg) rotateX("+ay+"deg);-moz-transform: rotateY("+ax+"deg) rotateX("+ay+"deg)");
// });

</script> -->