<div id="{{.backgroundcolor}}" class="pv5 pv6-l ph3 bg-center cover hero" style="background-image: url('{{.imageUrl}}'); margin-top: -2.5rem; margin-bottom: 5rem; border-bottom: 1px solid transparent; clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);">
  <div class="mw7 ph3" style="">
    <div class="db mb3">
      <div class="mw7 relative mb3">
        <h1 class="f2 f1-l b di lh-title mb3 mw6">
          {{ if .title }}
          {{.title}}

          {{ else }}           
          <script type="text/javascript">
            document.write("Oh hello");
            var day = new Date();
            var hr = day.getHours();
            if ((hr >= 20) && (hr <= 24)) {
              // 8:00pm est - 12:59pm
                document.write(", & good night");
            } else if ((hr >= 1) && (hr <= 5)) {
              // 1:00am est - 5:59am
                document.write(" night owl");              
            } else if ((hr >= 6) && (hr <= 11)) { 
              // 6:00am est - 10:59am
                document.write(", & good morning");
            } else if ((hr >= 11) && (hr <= 15)) {
              // 11:00am est - 3:59pm
                document.write(", & good afternoon");
            } else if ((hr >= 16) && (hr <= 19)) {
              // 4:00pm est - 7:59pm
                document.write(", & good evening");
            } 
            document.write("!");
        </script>
    
          
          {{ end }}

          {{ if .subtitle }}
          <span class="b f2 di lh-solid mb3 mw7">
            {{.subtitle}}
          </span>
          {{ end }}

        </h1>
      </div>
      <!-- <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div> -->
      <div class="mw6half relative">
        {{ if .text }}        
          {{.text}}        
        {{ end }}
      </div>
      <!-- {{ if .heroP }}
      <div class="mw7 relative bg-fix-primary">
        <p style="margin-top: 2rem" class="di lh-title mb3 white mw6 bg-primary db">
          {{.heroP}} 
          {{ if .heroP }}
          <a href="{{.heroPlinkurl}}">{{.heroPlinktext}}</a>{{ end }}.
        </p>        
      </div>
      {{ end }} -->

    </div>
  </div>  
  <div class="homepage-img"><img src="img/Group 493.png"/></div>
  <div class="laptop-img"><img src="img/laptop.gif"/></div>
  
</div>

<script>

  var element = document.getElementById("herosection");
  element.classList.add("mystyle");

</script>