<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{ if .title }}
          {{.title}}

          {{ else }}
          <script type="text/javascript">
            document.write("<p>");
            var day = new Date();
            var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var d = weekday[day.getDay()];
            var hr = day.getHours();
            if (hr == 1) {
                document.write("    Club Life");
            } else if (hr == 2) {
                document.write("    Club Life    ");
            } else if (hr == 3) {
                document.write("    Identity     ");
            } else if (hr == 4) {
                document.write("A State Of Trance");
            } else if (hr == 5) {
                document.write("A State Of Trance");
            } else if ((hr == 6) || (hr == 7) || (hr == 8) || (hr == 9) || (hr == 10) || (hr == 11) || (hr == 12) || (hr == 13) || (hr == 14)) {
                document.write("    New Musikk");
            } else if (hr == 15) {
                document.write("     Protocol");
            } else if ((hr == 16) || (hr == 17) || (hr == 18) || (hr == 19)) {
                document.write("    New Musikk");
            } else if (((hr == 20) || (hr == 21)) &&
                ( d == "Monday" || d == "Tuesday" || d == "Wednesday" || d == "Thursday")) {
                document.write("    Rock Rush");
            } else if (hr == 22 && d == "Monday") {
                document.write(" Spinnin Sessions");
            } else if (hr == 23) {
                document.write(" Planet Perfecto");
            } else if (hr == 0) {
                document.write(" Planet Perfecto");
            }
            document.write("</p>");
        </script>
    
          
          {{ end }}


        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}

        {{ if .heroP }}
        <p style="margin-top: 2rem" class="di lh-title mb3 white mw6 bg-primary db">
          {{.heroP}} 
          {{ if .heroP }}
          <a href="{{.heroPlinkurl}}">{{.heroPlinktext}}</a>{{ end }}.
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
