<header class="nav {{.Params.theme}}">
	<nav id="navbar" class="">
		 <div class="wrapper">
			<div class="flex ">
				<div class="flex " style="width: 100%; ">
					<div>
						<!-- Website Logo -->
						<a href="/index.html" {{ if eq .URL "/" }} class="current" aria-current="page" {{ end }} style="display: inline-block" aria-label="Melanie Linares home">
							<img src="/img/logo.svg" alt="" class=" desktop-logo"/>
							<img src="/img/logo-mobile.svg" alt="" class=" mobile-logo"/>
							<img src="/img/logo-icon.svg" alt="" class=" icon-logo"/>
						</a>
						
					</div>
					<!-- Primary Navbar items -->
					<div class="lg:flex md:flex sm:flex xs:hidden hidden items-center space-x-1 justify-end" style="width: 100%">

						<a href="/about" {{ if eq .URL "/about/" }} class="current" aria-current="page" {{ else }} class="block h-full flex items-center px-2 border-black transition-colors duration-300 ease-in-out" {{ end }}>
							About</a>		
							
						<a href="/post" {{ if eq .URL "/post/" }} class="current b" aria-current="page" {{ else }} class="block h-full flex items-center px-2 border-black transition-colors duration-300 ease-in-out" {{ end }}>
							Work</a>	

						<a href="/article" {{ if eq .URL "/article/" }} class="current " aria-current="page" {{ else }} class="block h-full flex items-center px-2 border-black transition-colors duration-300 ease-in-out" {{ end }}>
							Articles</a>	
					
					</div>
				</div>
				<!-- Mobile menu button -->
				<div class="lg:hidden md:hidden sm:hidden xs:flex flex items-center">
					<button class="outline-none mobile-menu-button" aria-label="navigation menu">
					<svg aria-hidden="true" class=" w-6 h-6 text-gray-500 hover:text-green-500 "
						x-show="!showMenu"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</button>
				</div>
			</div>
		</div>
		<!-- mobile menu -->
		<div class="hidden mobile-menu">
			<ul class="">
				<li>
					<a href="/about" {{ if eq .URL "/about/" }} class="current block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out" aria-current="page" {{ else }} class="block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out" {{ end }}>
						About 
						{{ if eq .URL "/about/" }}<span aria-hidden="true" style="padding-left: .25rem">ᐊ</span>{{end}}
					</a>
				</li>
				<li>
					<a href="/post" {{ if eq .URL "/post/" }} class="current block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out" aria-current="page" {{ else }} class="block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out" {{ end }}>
						Work 
						{{ if eq .URL "/post/" }}<span aria-hidden="true" style="padding-left: .25rem">ᐊ</span>{{end}}
					</a>
				</li>
				<li>
					<a href="/article" {{ if eq .URL "/article/" }} class="current block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out" aria-current="page" {{ else }} class="block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out" {{ end }}>
						Articles 
						{{ if eq .URL "/article/" }}<span aria-hidden="true" style="padding-left: .25rem">ᐊ</span>{{end}}
					</a>
				</li>			
			</ul>
		</div>
		<script>
			const btn = document.querySelector("button.mobile-menu-button");
			const menu = document.querySelector(".mobile-menu");

			btn.addEventListener("click", () => {
				menu.classList.toggle("hidden");
			});
		</script>
	</nav>

</header>


<script>
// Enable hidden nav bar
{
  const nav = document.querySelector(".nav");
  let lastScrollY = window.scrollY;

  window.addEventListener("scroll", () => {
    if (lastScrollY < window.scrollY) {
		if (window.scrollY > 90) {
		nav.classList.remove("transparent");
		nav.classList.add("shadow-sm");
		nav.classList.add("bg-pink");
		nav.classList.add("nav--hidden");
    	}
    } else {
      nav.classList.remove("nav--hidden");
	  if (window.scrollY < 90) {
		nav.classList.add("transparent");
		nav.classList.remove("shadow-sm");
		nav.classList.remove("bg-pink");
    	}
		else {
			nav.classList.remove("transparent");
			nav.classList.add("shadow-sm");
			nav.classList.add("bg-pink");
			nav.classList.remove("nav--hidden");
		}
    }
    lastScrollY = window.scrollY;
  });
}
</script>

