<header class="nav">
	<nav id="navbar" class="flex items-center h-20 justify-between transparent max-w-7xl mx-auto">
	<div class="flex-1 no-underline">
		<a href="/index.html" style="display: inline-block" aria-label="home">
			<img src="/img/logo.svg" alt="Melanie Linares logo" class="h-full desktop-logo"/>
			<img src="/img/logo-mobile.svg" alt="Melanie Linares logo" class="h-full mobile-logo"/>
			<img src="/img/logo-icon.svg" alt="Melanie Linares logo" class="h-full icon-logo"/>

		</a>
	</div>
	<!-- <a class="flex-1 no-underline block h-8"><img src="https://gustui.s3.amazonaws.com/gustlogo.png" class="h-full" /></a> -->
	<ul class=" sm:flex sm:justify-center sm:h-full">

			{{ if eq (relURL .URL) ("/values/") }}
			<a href="/values" class="block h-full flex items-center mx-4 px-2 border-b-2 border-black transition-colors duration-300 ease-in-out hover:text-blue-400">
				About</a>
			{{ else }}
			<a href="/values" class="block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out hover:text-blue-400">
				About</a>
			{{ end }}

			{{ if eq (relURL .URL) ("/post/") }}
			<a href="/post" class="block h-full flex items-center mx-4 px-2 border-b-2 border-black transition-colors duration-300 ease-in-out hover:text-blue-400">
				Work</a>
			{{ else }}
			<a href="/post" class="block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out hover:text-blue-400">
				Work</a>
			{{ end }}

			{{ if eq (relURL .URL) ("/article/") }}
			<a href="/article" class="block h-full flex items-center mx-4 px-2 border-b-2 border-black transition-colors duration-300 ease-in-out hover:text-blue-400">
				Articles</a>
			{{ else }}
			<a href="/article" class="block h-full flex items-center mx-4 px-2 border-b-2 border-transparent transition-colors duration-300 ease-in-out hover:text-blue-400">
				Articles</a>
			{{ end }}
		
		</ul>
	</nav>
</header>


<!-- <header>
<nav id="navbar" class="flex justify-between items-center center relative">
	<div id="skiptocontent"><a href="{{ .Permalink }}#maincontent" class="">skip to main content</a></div>

<div class="inner-nav">


	<ul class="flex b">
		<li>

			<a href="/index.html" style="display: inline-block" aria-label="home">
				<img src="/img/logo.svg" alt="Melanie Linares logo" class="br0 db mb0 desktop-logo"/>
				<img src="/img/logo-mobile.svg" alt="Melanie Linares logo" class="br0 db mb0 mobile-logo"/>
				<img src="/img/logo-icon.svg" alt="Melanie Linares logo" class="br0 db mb0 icon-logo"/>

			</a>
		</li>
		<li><a href="/values" class="pa3 no-underline db">About</a></li>

		<li><a href="/post" class="pa3 no-underline db">Work</a></li>

		<li><a href="/article" class="pa3 no-underline db">Articles</a></li>
	</ul>
</div>
</nav>
</header> -->

<script>

// Enable hidden nav bar
{
  const nav = document.querySelector(".nav");
  let lastScrollY = window.scrollY;

  window.addEventListener("scroll", () => {
    if (lastScrollY < window.scrollY) {
		// nav.classList.add("nav--hidden");
		if (window.scrollY > 200) {
		nav.classList.remove("transparent");
		nav.classList.add("shadow-sm");
		nav.classList.add("bg-white");
		nav.classList.add("nav--hidden");
    	}
    } else {
      nav.classList.remove("nav--hidden");
	  if (window.scrollY < 200) {
		nav.classList.add("transparent");
		nav.classList.remove("shadow-sm");
		nav.classList.remove("bg-white");
    	}
		else {
			nav.classList.remove("transparent");
			nav.classList.add("shadow-sm");
			nav.classList.add("bg-white");
			nav.classList.remove("nav--hidden");
		}
    }

    lastScrollY = window.scrollY;
  });
}
</script>

