<div class="offset-section lg:flex">
    <section class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex">
    
    <div class="w-full text-top lg:text-left lg:w-1/2 lg:-mt-8">
    <h2>
                Meeting with the team to workshop user interface improvements</h2> 
                <p class="mt-4 text-lg text-gray-500 dark:text-gray-300">Open source Tailwind UI components and templates to bootstrap your new apps, projects or landing sites!</p> 
                
      </div>
    
      <div class="cropped-image w-full mt-4 lg:mt-0 lg:w-1/2">
      <img class="full-img" src="https://codyhouse.co/app/assets/img/adv-gallery-v2-img-4.jpg" alt="TBD">
    
      </div>
             
    </section>
     </div>  