    <h3 id="why-not-test-the-entire-site">Why not test the entire site?</h3>
    <p>The NCDOT website consists of several subsites and pages, but are based off templates and reusable components. Sites like this are constantly adding new content, but rarely change the underlying CMS structure. By identifying a representative set of pages the audit process takes less time and is more effective.</p>
    <!-- heading -->
    <h3 id="establishing-a-baseline-with-automatic-testing">Establishing a baseline with automatic testing</h3>
    <!-- end heading -->
      <div style="display: flex; margin-bottom: 2em;" class="full-em">
    <span style="display: inline-block">
    <ul>
    <li>Automatics with Lighthouse, Axe DevTools chrome extension, W.A.V.E. (web accessibility evaluation tool)</li>
    <li>Created a spreadsheet to organize and group issues</li>
    <li>Severity and tractability levels were added to NCDOT ticketing system</li>
    <li>Remaining issues were grouped by page or components, assigned an individual severity and discussed with web dept lead</li>
    </ul>
      </span>
      <span class="" style="align-items: center;justify-content: center;">
      <img src="/img/ncdot-a11y2.png" alt="this is the alt text" style="margin-bottom: 1rem;">
      <em>Issues were prioritized by level of user impact and location</em>
      </span>
      </div>
      <div>
    <!-- heading -->
    <h3 id="manual-testing">Manual testing</h3>
    <!-- end heading -->
    <p>The NVDA screen reader was used to identify issues with the information hierarchy and HTML native elements. Web extensions were utilized for hard to identify issues.</p>
    <ul>
    <li>Keyboard</li>
    <li>Screen reader: NVDA and Talkback</li>
    <li>Color contrast</li>
    <li>Code inspection, including Javascript</li>
    </ul>
      </div>
    <p><img src="/img/ncdot-display.png" alt="this is the alt text" title="Title is optional"></p>