<div class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex lg:items-center" style="margin-top:3.5em">

{{ if eq .img_on_right true }}
<div class="w-full text-center lg:text-left lg:w-3/4 pr-10">

<div class="mt-4">{{.content | markdownify}}</div> 

</div> 

<div class="w-full lg:-mt-16 lg:w-2/4 overlap-bg">
    
    <img class="full-img" src="{{.image}}" alt="TBD">
    {{ if .caption }}
    <div class="caption"><em>{{ .caption }}</em></div>
    {{ end }}

</div>
{{end}}

{{ if eq .img_on_right false }}
<div class="w-full lg:-mt-16 lg:w-3/4 overlap-bg-reverse"> 
    
    <img class="full-img" src="{{.image}}" alt="TBD">

</div>

<div class="w-full text-center lg:text-left lg:w-3/4" style="margin-top: .25em; padding-left: 2.5em; margin-top: -1em;">
    
    {{.content | markdownify}}

</div>

{{end}}

</div>