
    <div class = "NMS-Bienvenida-Collage">
                    <div class = "bloques" id="bloque1" tabindex="0" role="presentation">  
                        
                        <img alt="" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.15752-9/310070711_1246421739449762_476056621377995819_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=42pExsuKmfcAX_nD2SD&_nc_ht=scontent-iad3-1.xx&oh=03_AdTNZrPOr8mPAGbB_s2r85JiXHao9OVehhNunl4ZyGdRFw&oe=645948BB">
                        <div class="text-sm">My favorite Lego sets are the botanical sets. I have been collecting and building each over the past few yesrs.</div>   
                        
                    </div>
                    <div class = "bloques" id="bloque2" tabindex="0" role="presentation">
                        
                        <img alt="" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.15752-9/232836451_368177174693376_1042387185500993213_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=i5eUXqOqi0UAX-PEoMN&_nc_ht=scontent-iad3-1.xx&oh=03_AdRfKwh2Ocn7cGgby0U9sOYL5Z3jFIM-t8AAnXCh8VXMbQ&oe=64595265">
                        <div class="text-sm">Since 2020 I've been visiting my local plant nursery to source plants for my custom-built terrariums.</div>
                        
                    </div>
                    <div tabindex="0" class = "bloques" id="bloque3" role="presentation">
                        
                        <img alt="" src ="https://scontent-iad3-1.xx.fbcdn.net/v/t1.15752-9/193996261_257996582786252_7236595126223073413_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=O-P1zORoHCAAX8CDiC7&_nc_ht=scontent-iad3-1.xx&oh=03_AdSSp76VY9juieVGOgInV6_HKAptvgbgTb2YiBG0hXiN2w&oe=64594C16">
                        <div class="text-sm">I built this terrarium by sourcing local plants, wood, and building the backdrop with expanding foam.</div>
                    </div>
                <div tabindex="0" class = "bloques" id="bloque4" role="presentation">
                        <div class="text-sm">

                            <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7015461031539879936" height="522" width="100%" frameborder="0" allowfullscreen="" aria-label="LinkedIn post from January 2023: 2022 was a huge year of change, learning, and growth..." id="iframe" role="presentation"></iframe>
                        </div>
                        
                    </div>
    </div>
