
    <div class = "NMS-Bienvenida-Collage">
                    <div class = "bloques" id="bloque1" tabindex="0" role="presentation">  
                        
                        <img alt="" src="/img/pinboard-lego.jpeg">
                        <div class="text-sm">My favorite Lego sets are the botanical sets. I have been collecting and building each over the past few years.</div>   
                        
                    </div>
                    <div class = "bloques" id="bloque2" tabindex="0" role="presentation">
                        
                        <img alt="" src="/img/pinboard-nursery.jpeg">
                        <div class="text-sm">Since 2020 I've been visiting my local plant nursery to source plants for my custom-built terrariums.</div>
                        
                    </div>
                    <div tabindex="0" class = "bloques" id="bloque3" role="presentation">
                        
                        <img alt="" src ="/img/pinboard-terrarium.jpeg">
                        <div class="text-sm">I built this terrarium by sourcing local plants, wood, and building the backdrop with expanding foam.</div>
                    </div>
                <div tabindex="0" class = "bloques" id="bloque4" role="presentation">
                        <div class="text-sm">
                            <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7015461031539879936" height="522" width="100%" frameborder="0" allowfullscreen="" aria-label="LinkedIn post from January 2023: 2022 was a huge year of change, learning, and growth..." id="iframe" role="presentation"></iframe>
                        </div>
                        
                    </div>
    </div>
