
    <ul class = "NMS-Bienvenida-Collage" aria-label="pins">
                    <li class = "bloques" id="bloque1" tabindex="0" aria-label="pin 1">  
                        
                        <img alt="birds of paradise lego figure" src="/img/pinboard-lego.jpeg">
                        <div class="text-sm">My favorite Lego sets are the botanical sets. I have been collecting and building each over the past few years.</div>   
                        
                    </li>
                    <li class = "bloques" id="bloque2" tabindex="0" aria-label="pin 2">
                        
                        <img alt="Mel Linares smiling, wearing a white blouse with floral lace and standing in front of pink flowers " src="/img/pinboard-nursery.jpeg">
                        <div class="text-sm">Since 2020 I've been visiting my local plant nursery to source plants for my custom-built terrariums.</div>
                        
                    </li>
                    <li tabindex="0" class="bloques" id="bloque3" aria-label="pin 3">
                        
                        <img alt="jungle themed terrarium with aztec stone mural and vines" src ="/img/pinboard-terrarium.jpeg">
                        <div class="text-sm">I built this terrarium by sourcing local plants, wood, and building the backdrop with expanding foam.</div>
                    </li>
                <li tabindex="0" class = "bloques" id="bloque4" aria-label="pin 4">
                        <div class="text-sm">
                            <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7015461031539879936" height="522" width="100%" frameborder="0" allowfullscreen="" aria-label="LinkedIn post from January 2023: 2022 was a huge year of change, learning, and growth..." id="iframe" role="presentation"></iframe>
                        </div>
                        
                    </li>
    </div>
