{{ if .purplesectionheading }}

<section class="fullwidth purple">
    <div class="inner-wrap"> 
      <div class="newcontent">
        <h2>{{ .purplesectionheading }}</h2>

        {{ if .purplesection1 }}
        {{ .purplesection1 | markdownify }}
        {{ end }}


        
        {{ if .textimagesplitcontent }}
            {{ partial "textimagesplit" . }}
        {{ end }}

        {{ if .textimagesplitcontentreverse }}
        {{ partial "textimagesplitreverse" . }}
    {{ end }}


<div style="display: flex">
<div>
        {{ .purplesection2 | markdownify }}
     </div> 


     {{ if .purplesectionimg }}
     <div class="purple-main-img"><img src="{{ .purplesectionimg }}" alt="{{ .purplesectionimgalt }}"></div>

 {{else}}
 <div class="purple-main-img"><img src=" img/pixels-right.svg" alt="" style="margin-right: 1em; transform: scaleY(-1); filter: brightness(1.05);"></div>
 {{end}}
</div>

  </div>

</div>

</section> 

{{ end }}