<section>

{{ range .typed_list }}

    {{ if eq .type "template_copy" }}
    {{ partial "template_copy" . }}
    {{ end }}

    {{ if eq .type "fifty_fifty" }}
        {{ partial "fifty_fifty" . }}
    {{ end }}

    {{ if eq .type "quote" }}
        {{ partial "quote" . }}
    {{ end }}

    {{ if eq .type "text" }}
        {{ partial "text" . }}
    {{ end }}

    {{ if eq .type "two_column" }}
        {{ partial "two_column" . }}
    {{ end }}    

    {{ if eq .type "fullwidth_img" }}
        {{ partial "fullwidth_img" . }}
    {{ end }}  

    {{ if eq .type "image_grid_gallery" }}
        {{ partial "image_grid_gallery" . }}
    {{ end }}  

    {{ if eq .type "column_cards" }}
    {{ partial "column_cards" . }}
    {{ end }}  

{{ end }}

</section>