<!-- - type: stacked_image_section
heading05: Yes stacked image
image: img/powercord.png
display_image_section_content:
  - type: Content02
    Content002: Yes stacked image - content2(002) -->

<div class="container max-w-7xl mx-auto">
    <!-- <div class="lg:w-4/5"> -->
      <div class="">
    <img src="{{.image1}}" alt="TBD">
    <div class="caption"><em>{{.caption1}}</em></div>
    <br/><br/>



      {{ if .image2 }} 
      <div class="caption"><em>{{.caption2}}</em></div>
      
      <img src="{{.image2}}" alt="TBD">
      {{ end }}

      <!-- </div>
      <div class="w-full mt-4 lg:mt-0 lg:w-1/2"> -->


        <!-- {{ if "heading05" }}
        <h2>{{.heading05}}</h2>
        {{ end }} -->

    {{ range .display_image_section_content }}

      {{ if eq .type "Content02" }}
      <p>{{.Content002 | markdownify}}</p>
      {{ end }}

      {{ if eq .type "introw" }}
      {{ partial "icon-media-block" . }}
      {{ end }}

      {{ if eq .type "OverlapImg" }}
      {{ partial "overlap-img" . }}
      {{ end }}

  {{end}}

      </div>
    </div>