<style>
  .blue .Angled .caption:before, .blue .Angled .img-w-caption .caption:before {
      background: url('img/blue-border-arrow.png');
      background-repeat: no-repeat;
  }

  .blue .Blank .caption:before, .blue .Blank .img-w-caption .caption:before {
      background: url('img/white-border-arrow.png');
      background-repeat: no-repeat;
  }

  .caption + .caption:before, .img-w-caption .caption + .caption:before {
      transform: scaleX(-1) rotate(45deg);
      top: 5.3em;
  }

  .blue .Angled .caption + .caption:before, .blue .Angled .img-w-caption .caption + .caption:before {
      background: url('img/blue-border-arrow.png');
      background-repeat: no-repeat;
  }
</style>

<div class="container max-w-7xl mx-auto">
    <!-- <div class="lg:w-4/5"> -->
    <img src="{{.image1}}" alt="TBD">
    <div class="caption"><em>{{.caption1}}</em></div>



      {{ if .image2 }} 
      <div class="caption"><em>{{.caption2}}</em></div>
      
      <img src="{{.image2}}" alt="TBD">
      {{ end }}

      <!-- </div>
      <div class="w-full mt-4 lg:mt-0 lg:w-1/2"> -->


        <!-- {{ if "heading05" }}
        <h2>{{.heading05}}</h2>
        {{ end }} -->

    {{ range .display_image_section_content }}

      {{ if eq .type "Content02" }}
      <p>{{.Content002 | markdownify}}</p>
      {{ end }}

      {{ if eq .type "introw" }}
      {{ partial "icon-media-block" . }}
      {{ end }}

      {{ if eq .type "OverlapImg" }}
      {{ partial "overlap-img" . }}
      {{ end }}

  {{end}}

    </div>