<!-- <div class="inner-wrap content" style="padding-top: 1.15em; border: 1px solid red;">

    <div class="top-img">
    <img src="{{.image_top}}" alt="">
        <em aria-hidden="true" style="height: 0; font-size: 0;
    margin-bottom: 0;"></em>

    </div>
    <div class="bottom-img">
    <img src="{{.image_bottom}}" alt="">
        <em>{{.caption}}</em>
    </div>    
    
</div> -->

<div class="px-2 py-16 mx-auto sm:max-w-xl md:max-w-full md:px-0 lg:px-0 lg:py-20">
    <div class="grid gap-10 lg:grid-cols-2">
      <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg mb-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            SAMPLE Let us handle<br class="hidden md:block" />
            your next
            <span class="inline-block text-deep-purple-accent-400">destination</span>
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            SAMPLE Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. explicabo.
          </p>
        </div>
        <div>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
            SAMPLE Learn more
            <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
              <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex items-center justify-center -mx-4 lg:pl-8">
        <div class="flex flex-col items-end px-3">
          <img
            class="small-img-top mb-6 rounded shadow-lg"
            src="{{.image_top}}"
            alt=""
          />
          <!-- <em>sdfsdfsdfsf sdfsdf sdfdsfsdf sfdsfsdf sfdsdfsdf sdfsdfsdf sfdf dfs sdf sdfsd fsdfsdfsdfsfsfsf</em> -->
        </div>
        <div class="px-3">
          <img class="rounded shadow-lg large-img-btm" src="{{.image_bottom}}" alt="" />
          <em>{{.caption}}</em>
        </div>
      </div>
    </div>
  </div>

  <!-- object-cover w-40 h-40 rounded shadow-lg sm:h-64 xl:h-80 sm:w-64 xl:w-80 -->