<div class="yup">            
            {{ range .typed_list }}

                {{ if eq .type "heading" }}
                    {{ partial "heading" . }}
                {{ end }}

                {{ if eq .type "generic_content" }}
                    {{ partial "generic_content" . }}
                {{ end }}

                {{ if eq .type "twocol_icon_content" }}
                    {{ partial "twocol_icon_content" . }}
                {{ end }}

                {{ if eq .type "generic_image" }}
                    {{ partial "generic_image" . }}
                {{ end }}
                
                {{ if eq .type "Twocol_image_content" }}
                    {{ partial "Twocol_image_content" . }}
                {{ end }}

                {{ if eq .type "display_image_section" }}
                    {{ partial "display_image_section" . }}
                {{ end }}

                {{ if eq .type "stacked_image_section" }}
                    {{ partial "stacked_image_section" . }}
                {{ end }}

                {{ if eq .type "Twocol_content" }}
                    {{ partial "Twocol_content" . }}
                {{ end }}

                {{ if eq .type "scroll-image" }}
                    {{ partial "scroll-image" . }}
                {{ end }}

                {{ if eq .type "overlap_bg_img_content" }}
                    {{ partial "overlap_bg_img_content" . }}
                {{ end }}

                {{ if eq .type "fullwidth-img" }}
                    {{ partial "fullwidth-img" . }}
                {{ end }}

                {{ if eq .type "two-col-text-grid" }}
                    {{ partial "two-col-text-grid" . }}
                {{ end }}

                {{ if eq .type "icon-cards" }}
                    {{ partial "icon-cards" . }}
                {{ end }}

                {{ if eq .type "featured-text" }}
                    {{ partial "featured-text" . }}
                {{ end }}

                {{ if eq .type "image-jumble-grid" }}
                    {{ partial "image-jumble-grid" . }}
                {{ end }}

                {{ if eq .type "offset-two-column" }}
                    {{ partial "offset-two-column" . }}
                {{ end }}

                {{ if eq .type "pill-featured-text" }}
                    {{ partial "pill-featured-text" . }}
                {{ end }}

                {{ if eq .type "scroll-image" }}
                    {{ partial "scroll-image" . }}
                {{ end }}

                <!-- {{ if eq .type "stacked_images" }}
                    {{ partial "stacked_images" . }}
                {{ end }}

                {{ if eq .type "fancy_img_with_content" }}
                    {{ partial "fancy_img_with_content" . }}
                {{ end }}

                {{ if eq .type "scrollable_img_with_caption" }}
                    {{ partial "scrollable_img_with_caption" . }}
                {{ end }}

                {{ if eq .type "blurb" }}
                    {{ partial "blurb" . }}
                {{ end }}

                {{ if eq .type "img_with_caption" }}
                    {{ partial "img_with_caption" . }}
                {{ end }} -->

                <!-- {{ if eq .type "text_with_scroll_img" }}
                    {{ partial "test-multi-block" . }}
                {{ end }}

                {{ if eq .type "type_2_object" }}
                    {{ partial "icon_section_right_img" . }}
                {{ end }}

                {{ if eq .type "heading_markdown" }}
                    {{ partial "heading_markdown" . }}
                {{ end }}

                {{ if eq .type "type_4_object" }}
                    {{ partial "test-multi-block4" . }}
                {{ end }}

                {{ if eq .type "type_5_object" }}
                    {{ partial "test-multi-block5" . }}
                {{ end }} -->

            {{ end }}
            
        <!-- </div>
    </div>

    </div> -->
</div>
