<div style="display: flex; margin-bottom: 2em;" class="full-em">
    <span style="display: inline-block">
    <!-- <ul>
    <li>Test Automatics with Lighthouse, Axe DevTools chrome extension, W.A.V.E. (web accessibility evaluation tool)</li>
    <li>Created a spreadsheet to organize and group issues</li>
    <li>Severity and tractability levels were added to NCDOT ticketing system</li>
    <li>Remaining issues were grouped by page or components, assigned an individual severity and discussed with web dept lead</li>
    </ul> -->
    {{ .textimagesplitcontent | markdownify }}
      </span>
      {{ if .image1 }}
      <span class="" style="align-items: center;justify-content: center;">
      <img src="{{ .image1 }}" alt="this is the alt text" style="margin-bottom: 1rem;">
      <em>{{ .textimagesplitimagecaption }}</em>
      </span>
      {{ end }}
      </div>