<!-- <div class="parent-all max-w-7xl mx-auto">
    <div class="div1-13"><h3>{{.heading}}</h3></div>
    <div class="div2-13">{{.content1}}</div>
    <div class="div3-13"> {{.content2}}
    </div>
    </div> -->


    <div class="max-w-7xl mx-auto">
        <!-- image or overlap image -->
        [...]
        <!-- end image or overlap image -->
          </div>
        <br>
        <div class="parent-all max-w-7xl mx-auto">
        <div class="div1-16 caption" > 
        Drop-down navigation contained multiple columns and subheaders. This navigation was duplicated within the code for muliple screen sizes rather than using CSS to adjust the layout
        </div>
        <div class="div2-16"> 
        <h3>Greetings, my gorgeous Spoiled Brats, and welcome to the next episode of coverage of Dead Until Dark!</h3>
        <p>Skip to main link existed but was not functional due to either an incorrect ID or empty href attribute, depending on the template. Navigation was added to a seperate component so it could be reused within templates
        Headings re-organized and given proper hierarchy according to semantics vs aesthetic browser default sizing</p>
        <p>Navigation was added to a seperate component so it could be reused within templates
        . Headings re-organized and given proper hierarchy according to semantics vs aesthetic browser default sizing
        .</p>
        </div>
        </div>