
    
    <div class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex">

    <div class="w-full mt-4 lg:mt-0 lg:w-1/2" style="margin-right: 3rem">

      {{ .two_column.left | markdownify }}

      </div>

      <div class="w-full text-top lg:text-left lg:w-1/2">
        {{ .two_column.right | markdownify }}
        
          </div>

        </div>




     <!-- <section class="container max-w-7xl mx-auto flex">


      <div class="text-component__item-overflow-right">
        {{ .two_column.left | markdownify }}
      </div>
      
      <div>
        {{ .two_column.right | markdownify }}       
      </div>


     </section> -->