<!-- - type: Twocol_image_content
heading05: Yes two col content + img
image: img/starbucks-logo.png
twocol_content_img:
  - type: Content02
    Content002: Yes two col content + img - add two col content & img item -
      content2(002)
  - type: heading3
    heading03: Yes two col content + img - add two col content & img item - heading03 -->

<div class="Twocol_image_content offset-section transparent lg:flex">
    <section class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex">

    <div class="w-full mt-4 lg:mt-0 lg:w-1/2">

        {{ range .twocol_content_1 }}

            {{ if eq .type "heading3" }}
            <h2>{{.heading03}}</h2>
            {{ end }}

            {{ if eq .type "introw" }}
                {{ partial "icon-media-block" . }}
            {{ end }}

            {{ if eq .type "Content02" }}
                <p>{{.Content002 | markdownify}}</p>
            {{ end }}

            {{ if eq .type "OverlapImg" }}
            {{ partial "overlap-img" . }}
            {{ end }}

        {{end}}



        
    

    
      </div>

      <div class="w-full text-top lg:text-left lg:w-1/2">
    
        {{ range .twocol_content_2 }}

            {{ if eq .type "heading3" }}
            <h2>{{.heading03}}</h2>
            {{ end }}

            {{ if eq .type "introw" }}
                {{ partial "icon-media-block" . }}
            {{ end }}

            {{ if eq .type "Content02" }}
                <p>{{.Content002 | markdownify}}</p>
            {{ end }}

            {{ if eq .type "OverlapImg" }}
            {{ partial "overlap-img" . }}
            {{ end }}

        {{end}}
        
          </div>

    </section>
     </div>
