<div>NOT SURE IF I KEEP THIS 23</div>

<!-- <section class="hi Twocol_image_content offset-section transparent lg:flex" aria-labelledby="heading03"> -->
    <section class="angled-section" aria-labelledby="heading03">
    
    <div class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8 lg:flex">

    <div class="w-full mt-4 lg:mt-0 lg:w-1/2">


{{ range .twocol_content_right }}

{{ if eq .type "heading3" }}
<h2 id="heading03">{{.heading03}}</h2>
{{ end }}

{{ if eq .type "introw" }}
    {{ partial "icon-media-block" . }}
{{ end }}

{{ if eq .type "Content02" }}
    <p>{{.Content002 | markdownify}}</p>
{{ end }}

{{ if eq .type "OverlapImg" }}
{{ partial "overlap-img" . }}
{{ end }}

{{end}}
        
    

    
      </div>

      <div class="w-full text-top lg:text-left lg:w-1/2">
        {{ range .twocol_content_left }}

        {{ if eq .type "stacked_image_section" }}
        <!-- <h2>{{.heading05}}</h2> -->
        {{ partial "stacked_image_section" . }}
        {{ end }}

        {{ if eq .type "introw" }}
            {{ partial "icon-media-block" . }}
        {{ end }}

        {{ if eq .type "generic_image" }}
            {{ partial "generic_image" . }}
        {{ end }}

        {{ if eq .type "Content02" }}
            <p>{{.Content002 | markdownify}}</p>
        {{ end }}

        {{ if eq .type "OverlapImg" }}
        {{ partial "overlap-img" . }}
        {{ end }}

    {{end}}


        
          </div>

        </div>
     </section>
