.Angled {
    padding-left: 1.2em;
    padding-right: 1.2em;
    position: relative;
}

.Angled > .container:not(:last-child) {
    /* padding-top: 2.5em;
    /* padding-bottom: 1.75em; */
    position: relative;
}

.pink .Angled {
    background-color: #fcf2f2;
}

.green .Angled {
    background-color: rgba(var(--green-rgb), 0.33);
}

.blue .Angled:not(#top-section) {
    background-color: rgb(243, 247, 255)
}

/* .blue #top-section.Angled {
    background-color: white
} */

/* .purple .Angled {
    background-color: #f8f6ff;
} */

/* .Angled:before {
    content: '';
    width: 100vw; 
    height: 0; 
    border-left: 100vw solid transparent;
    margin-top: -100px;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
} */

/* .purple .Angled:before {
    border-bottom: 100px solid #f8f6ff;
} */

/* section.article.purple #top-section.Angled:before {
    content: '';
    height: 0px;
    width: 0px;
    bottom: 0;
    left: 0;
    border-bottom: 100px solid #eeeaff;
    border-top: solid 6.25rem transparent;
    position: absolute;
    z-index: 0;
    top: unset;
    margin-top: unset
} */

/* #top-section .top-section-content:before {
    content: '';
    height: 0px;
    width: 0px;
    bottom: -4.4rem;
    left: -5vw;
    border-right: solid 103vw black;
    border-top: solid 6.25rem transparent;
    position: absolute;
    z-index: 0;
} */

/* .pink .Angled:before {
    border-bottom: 100px solid #fcf2f2;
}

.green .Angled:before {
    border-bottom: 100px solid rgba(var(--green-rgb), 0.33);
}

.blue .Angled:before {
    border-bottom: 100px solid rgb(243, 247, 255);
} */

/* .Angled:after {
    content: '';
    width: 100vw; 
    height: 0; 
    border-right: 100vw solid transparent;
    position: absolute;
    bottom: -100px;
    z-index: 0;
} */

/* .purple .Angled:not(#top-section):after {
    border-top: 100px solid rgba(var(--purple-rgb), 0.33); 
}

.purple .Angled:has(.display_image_section):after {
    left: 0;
}

.purple section:last-of-type.Angled:not(#top-section):after {
    border-top: unset;
}

.purple.Angled:not(#top-section):after {
    border-top: 100px solid rgba(var(--purple-rgb), 1); 
}

.pink .Angled:after {
    border-top: 100px solid #fcf2f2;
}

.green .Angled:after {
    border-top: 100px solid rgba(var(--green-rgb), 0.33);
} */

/* .green.Angled:not(#top-section):after {
    border-top: 100px solid rgba(var(--green-rgb), 1);
}

.blue .Angled:after {
    border-top: 100px solid rgb(243, 247, 255);
}

.blue.Angled:after {
    border-top: 100px solid rgba(var(--blue-rgb), 1);
} */

/* .cms.purple .partials .yup section.Angled:last-of-type {
    background-color: var(--dark-purple);
    border-top: 1px solid var(--dark-purple);
    color: white;
}

.cms .partials .yup section:last-of-type.Angled > .container:before {
    background: unset;
}

.cms.green .partials .yup section.Angled:last-of-type {
    background-color: var(--dark-green);
    border-top: 1px solid var(--dark-green);
    color: white;
} */