.Blank {
    padding-left: 2em;
    padding-right: 2em;
}

.Angled + .Blank {
    margin-top: 18.75em
}

.Blank + style + .Blank .container:first-of-type {
    margin-top: -3.5em;
}

.Blank + .Blank {
    margin-top: 6em
}

section.Blank + section.Blank:not(:has(h2)) {
    margin-top: -1.5em;
}

.blue section.Blank + section.Blank:not(:has(h2)) {
    margin-top: -6em;
}

section.Blank:has(.overlap-bg) + section.Blank:not(:has(h2)) {
    margin-top: -7em;
}

.Blank {
    background-color: #ffffff;
    position: relative;
    /* padding-bottom: 7.5em;
    margin-bottom: 6em; */
}

.Angled + style + .Blank {
    /* padding-top: 2em */
}

/* .Angled:has(.display_image_section) + section.Blank:before {
    content: '';
    width: 100vw;
    height: 0;
    border-left: 100vw solid transparent;
    margin-top: -18.76em;
    position: absolute;
    top: 0;
    z-index: 1;
    border-bottom: 100px solid white;
} */