blockquote {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    font-style:italic;
    padding-left: 1em;
    letter-spacing: -0.05em;
    word-spacing: -0.35rem;
    margin-bottom: 1em;
}

.blue blockquote, .green blockquote {
    border-left: .15em solid #08cbc2;
}

.purple blockquote {
    border-left: .15em solid #BEA8FF;
}

.blockquote {
    /* margin-top: 2em; */
}

.cms .partials .yup section:last-of-type:has(#results) blockquote {
    font-size: 1.5em;
    font-weight: 100;
    /* margin-top: 2em; */
}

.homepage-blockquote:before {
    content: '>';
    font-size: 2.3rem; 
    font-family: 'JetBrains Mono';
    position: absolute;
    left: -2.5rem;
    color: var(--dark-blue);
    font-weight: bold
}

.homepage-blue .homepage-blockquote:before {
    color: var(--dark-green);;
    margin-top: 0;
}

.homepage-blockquote {
padding-left: 0;
font-style: initial;
font-weight: 100;
}