blockquote {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    font-style:italic;
    padding-left: 1em;
    letter-spacing: -0.05em;
    word-spacing: -0.35rem;
    margin-bottom: 1em;
}

.blue blockquote, .green blockquote {
    border-left: .15em solid #08cbc2;
}

.purple blockquote {
    border-left: .15em solid #BEA8FF;
}

figure + div:has(blockquote) blockquote {
    margin-top: -5rem;
    margin-bottom: 2rem
}

/* .cms .partials .yup section:last-of-type:has(#results) blockquote {
    font-size: 1.5em;
    font-weight: 100;
} */

/* .homepage-blockquote:before {
    content: '>';
    font-size: 2.3rem; 
    font-family: 'JetBrains Mono';
    position: absolute;
    left: -2.5rem;
    color: var(--dark-blue);
    font-weight: bold
} */

/* .homepage-blue .homepage-blockquote:before {
    color: var(--dark-green);;
    margin-top: 0;
}

.homepage-blockquote {
padding-left: 0;
font-style: initial;
font-weight: 100;
} */

.grid blockquote {
    padding: 1.875rem;
    padding-left: 0;
    padding-top: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.15rem;
    letter-spacing: unset;
    word-spacing: unset;
    font-style: normal;
  }

  blockquote small strong {
    display: block;
    margin-top: 1rem
  }

  blockquote.h2 {
    margin-left: 4rem
  }