.card-list .grid:has(> :last-child:nth-child(4)) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

.card-list:has(.grid li:last-child:nth-child(4)) { 
    max-width: 1280px
}  

.lg\:w-1\/2 .fullwidth.card-list ol.grid:not(.process) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:w-1\/2 .fullwidth.card-list ol.grid li {
    position: relative
}

.lg\:w-1\/2 .fullwidth.card-list ol.grid:not(.process) li div.flex, .lg\:w-1\/2 .fullwidth.card-list ol.grid:not(.process) li div.flex > * {
    /* padding: unset; */
}

.lg\:w-1\/2 .fullwidth.card-list ol.grid li div.flex strong {
    /* padding-top: .75em */
}

.fullwidth.mx-auto + .caption + .fullwidth.card-list, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list + .fullwidth.card-list {
    max-width: unset
} 

.fullwidth.mx-auto + .caption + .fullwidth.card-list .process .rounded:before, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list .process .rounded:before, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list + .fullwidth.card-list .process .rounded:before, .lg\:w-1\/2 .fullwidth.card-list ol.grid:not(.process) li:before, .fullwidth.card-list ol.grid:has(li:nth-of-type(2):last-child) li:before {
    content: "";
} 

.fullwidth.mx-auto + .caption + .fullwidth.card-list .process .rounded:not(:last-of-type):after, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list .process .rounded:not(:last-of-type):after, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list + .fullwidth.card-list .process .rounded:not(:last-of-type):after {
    margin-right: -0.95em;
} 


.purple .card-list li:nth-child(odd).flex.p-5.border.rounded.shadow-sm {
    background-color: rgba(var(--purple-rgb), 0.25);
}

.green .card-list li:nth-child(odd).flex.p-5.border.rounded.shadow-sm {
    background-color: rgba(var(--green-rgb), 0.25);
}

.blue .card-list li:nth-child(odd).flex.p-5.border.rounded.shadow-sm {
    background-color: rgba(var(--blue-rgb), 0.25);
}

.fullwidth.mx-auto + .caption + .fullwidth.card-list .process .rounded + .rounded, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list .process .rounded + .rounded, .fullwidth.mx-auto + .caption + .fullwidth.card-list + .fullwidth.card-list + .fullwidth.card-list .process .rounded + .rounded {
    font-weight: 400;
}

p:has(strong:only-child) + .card-list {
    /* margin-top: -1.5em; */
}

.card-list strong, .icon-group strong {
    font-family: 'JetBrains Mono', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.card-list:has(li:nth-of-type(2):last-child) ol, .card-list:has(li:nth-of-type(2):last-child) ul {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}
 
.lg\:w-1\/2 .fullwidth.card-list ol.grid li:nth-of-type(1) + li:last-of-type,
.fullwidth.card-list ol.grid li:nth-of-type(1) + li:last-of-type {
    background-color: unset;
    border: none;
    padding-left: 2.5em;
    box-shadow: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
}

.lg\:w-1\/2 div:not(.icon-content):not(.img-w-caption):not(.fullwidth):not(.icon-with-content):not(.items-center):not(.left-text-only):not(.pill-featured-text):not(.w-full):not(.flex):not(.flex-img) {
    /* padding: 0 2em; */
}


.card-list {
    /* margin-bottom: .75em; */
    max-width: 1200px
}

.card-list:last-child {
    /* margin-bottom: 0; */
}

.card-list .process .rounded:before {
    font-family: 'Poppins', sans-serif;
    font-size: 1.65em;
    /* margin-top: -3px; */
}

.purple .card-list .process .rounded:before {
    color: var(--dark-purple);
}

.purple .Rectangular .card-list .process .rounded:before, .purple .Rectangular .card-list .process .rounded:after, .cms.purple .Rectangular h3 {
    color: white;
}

.card-list .process .rounded:not(:last-of-type):after {
    content: "→"/"";
    color: #08cbc2;
    font-size: 4.55em;
    margin-right: -.72em;
    z-index: 1;
    margin-top: 0;
}

.card-list .process .rounded:nth-of-type(1):before {
    content: "1";
}

.card-list .process .rounded:nth-of-type(2):before {
    content: "2";
}

.card-list .process .rounded:nth-of-type(3):before {
    content: "3";
}


.card-v8 {
    display: block;
    text-decoration: none;
    transition: .2s;
    position: relative;
}

#related .card-v8 div {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    /* padding: 0 1em 1em 1em; */
}

.card-v8 div {
    overflow: hidden;
    --radius-lg: calc(var(--radius, 0.25em)*2);
    border-radius: var(--radius-lg);  
    z-index: 999;
    /* padding: 1em; */
}



.card-v8:hover {
    --color-bg-light: hsl(0, 0%, 100%);
    background-color: var(--color-bg-light);
    box-shadow: var(--shadow-md);
    transform: translate(-5px, -5px);
}

.card-v8:after {
    content: '';
    border: 3px dashed white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    --radius-lg: calc(var(--radius, 0.25em)*2);
    border-radius: var(--radius-lg);  
    transition: .2s;  
    z-index: -1;
}

.card-v8:hover:after {
    transform: translate(7px, 7px);
}

.cms.green + .related-content .card-v8:hover:after {
    border: 2px dashed #08cbc2;
}

.cms.purple + .related-content .card-v8:hover:after {
    border: 2px dashed #08cbc2;
}

.cms.blue + .related-content .card-v8:hover:after {
    border: 2px dashed #08cbc2;
}

.card-v8__title {
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --color-primary-h: 250;
    --color-primary-s: 84%;
    --color-primary-l: 54%;
    background-repeat: no-repeat;
    will-change: background-color;
    transition: background-color .3s var(--ease-in-out);
    text-decoration: none;
    background-color: transparent
}

a.card-v8:hover .card-v8__title {
    background-color: #08cbc282;
}

.card-v8:hover .card-v8__title {
    background-size: 100% 100%;
}

.lg\:w-1\/2 .grid.process {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.lg\:w-1\/2 .grid.process .rounded:not(:last-of-type):after {
    bottom: -0.85em;
    margin-top: 0;
    transform: rotate(90deg);
    position: absolute;
    margin-left: calc(50% - 50px);
    margin-right: 50%;
}