.cms {

	position: relative;

	& section:first-of-type {
		& div:first-of-type {
			& h2 {
				margin-top: 0;
					}
				}
	}

	/* Headings */
	& h1, & h2, & h3, & h4, & h5, & h6 {
		font-weight: 700;
		line-height: 1.25;
    margin-bottom: var(--spacing-small);
	position: relative;
  }

  & h1 {
    font-size: 2.25rem;
  }

  & h2 {
    font-size: 2rem;
  }

  & h2 + div h3,
  h2 + h3,
  .image-block h3 {
	margin-top: 0;
  }

  & h3 {
    font-size: 1.25rem;
	/* padding-top: 1.25rem; */
	margin-bottom: 0;
	margin-top: 5rem;
  }

  & dl {
	margin-bottom: 2.5rem;
  }

  & h2:not(:first-of-type) ~ h3 {
	margin-top: 1.5em;
  }

  & h4 {
    font-size: 1rem;
  }

  & h5 {
    font-size: .875rem;
  }

	/* Images */
	& img {
		/* display: block; */
		/* margin-bottom: var(--spacing-medium); */
		margin-left: auto;
		margin-right: auto;
		/* max-width: 100%; */
		/* max-width: calc(100% - 1rem); */
	}

	/* Links */
	& a {
		color: var(--primary);
		transition: var(--hover-transition);
		&:hover {
			background-color: var(--highlight);
			color: var(--black);
		}
	}

	& .first a {
		color: white;
		transition: var(--hover-transition);
		background-color: #48377d;
		border-radius: .5em;
		padding: .75em;
		text-decoration: unset;
		display: block;
    	width: fit-content;
		margin-top: .75em;
		margin-bottom: 1em;
		&:hover {
			background-color: var(--highlight);
			color: var(--black);
		}
	}

	/* Lists */
	& ul, & ol, & li {
		position: relative;
		margin-top: .5rem;
		padding-bottom: .5rem;
	}

	& ol p {
		display: contents
	}

	& ol li:before {
		position: absolute
	}

	& ul, & ol {
		margin-bottom: var(--spacing-medium);
	}

	& ul ul, & ol ol {
		padding-left: var(--spacing-small);
	}

	& ul {
		line-height: 1.33em;
		/* margin-left: 1.33rem; */
		margin-left: 1.15rem;
		& >li:before {
			content: '✱' / "";
			left: -1.15rem;
			position: absolute;
			/* color: #9da5e8; */
			/* color: #ee9b94; */
			font-size: .4em;
		}
		
		li {
			/* margin-bottom: .5rem; */
		}
	}



	& ol {
		list-style: none;
		margin-left: var(--spacing-medium);
		counter-reset: i 0;
		& li {
			padding-left: .75em;

			&:before {
				font-weight: 800;
				left: var(--spacing-medium);
				margin-right: 1.33rem;
				position: absolute;
				height: 100%;
				content: counter(i);
				counter-increment: i;
				color: var(--primary);
				margin-left: -1.75em;
				margin-top: 0;
			  }
		}

	}

  /* Blockquotes */
  & blockquote {
    /* background-color: var(--grey-1); */
    display: block;
    border-radius: var(--border-radius);
    padding: var(--spacing-large);
	line-height: 1.25em;
    /* color: var(--primary); */
    font-weight: 300;
	font-family: 'Poppins', sans-serif;
    /* font-size: 1.25rem; */
    margin-bottom: var(--spacing-medium);
    & p {
      margin: 0;
    }
  }
}
