footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

footer div.wrapper {
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer a, .notification a {
    text-decoration: underline
}