h1:before {
    content: "";
    display: block;
    width: 1.75em;
    height: 2px;
    padding-top: 0.2em;
    border-top: 4px solid #fff;
}

.hero-header {
    max-width: 1400px; /*should NOT be 1470*/
    margin: 0 auto;
    padding: .5em;
    z-index: 2;
    position: relative;
    margin-bottom: 5em;
}

.hero-header img {
    max-height: 100vh;
}

.hero-header img + img {
    position: absolute;
}

.hero-header img:last-of-type {
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 15px;
    /* width: calc(100% - 410px);
    position: absolute; */
    margin-top: -3px;
    /* box-shadow: 0 0 0 1px #0000000a, 0 1px 6px 0 #00000040; */
    /* height: 28rem; */
    object-fit: cover;
    /* min-width: 100%; */
    transform: rotate(4deg);
    margin-right: -9.5em;
    margin-left: 9.5em;
    /* height: 440px; */
    height: 640px;
    max-width: 700px
}

.hero-header h1 {
    width: 15.5em;
}

.hero-header div:last-of-type p:last-of-type {
    margin-top: 1.5em
}

.hero-header div:last-of-type p:last-of-type a,
.btn {
    border: 2px solid #CF1507;
    text-decoration: none;
    /* background-color: #ffdbe899; */
    padding: .5em .75em;
    border-radius: 3px;
    color: #CF1507;
    background: linear-gradient(to right, #ffffff6e 50%, #E71708 50%);
    background-size: 201% 100%;
    background-position:left bottom;
    transition:all .5s ease;
}

.hero-header div:last-of-type p:last-of-type a:hover,
.hero-header div:last-of-type p:last-of-type a:focus,
.btn:hover,
.btn:focus {
    background-position:right bottom;
    color: green;
    border-color:#E71708;
    box-shadow: inset 0 0 0 2px #cc0808;
}

.hero-header p {
    max-width: 600px
}


.header-images img {
    border: 7px solid white;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);      
}

/* nav img,
nav ul {
    filter: brightness(10);
} */

#navbar {
    position: fixed;
    z-index: 3;
    transition: all 0.3s;
    top: 0;  
    border-top: 7px solid #3c4bd2;
    width: 100%;
    left: 0;
    /* padding: 0 6vw; */
    height: 64px;
}

#navbar ul {
    align-items: center;
  justify-content: right;
}

#navbar ul li {
    margin-top: 0px;
}

/* #navbar ul li {
    padding-bottom: 1em;
} */

#navbar ul a {
    /* margin-bottom: -1em; */
    padding: 1.5em 1em;
    padding-bottom: 1em;
    display: unset;
    color: #48377d;
}

#navbar ul li:not(:first-of-type) a:hover {
    color: red;
    border-bottom: 2px solid red;
    /* margin-bottom: -1em; */
    /* padding: 1.5em calc(1em + 5px); */
    padding-bottom: calc(1em + 2px);
    display: unset;
    /* border-bottom: 2px solid transparent;
    background-color: transparent; */
}

#navbar ul li:not(:first-of-type) a:focus {
    color: red;
    border-bottom: 2px solid red;
    /* margin-bottom: -1em; */
    padding: 1.5em calc(1em + 5px);
    padding-bottom: 1em;
    padding-top: calc(1em + 2px);
    display: unset;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}

#navbar ul li:first-of-type a:focus {
    /* padding: 1.5em 1em;
    padding-bottom: 1em;
    padding-top: calc(1em + 2px);
    display: unset;
    border-bottom: 2px solid transparent;
    background-color: transparent; */
    margin: unset;
    background-color: unset;
}