

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .hero:after {
    content: '';
    height: 15vw;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);

    display: block;
    position: absolute;
    left: 0;
    bottom: -9vw;
    z-index: 0;
} */


/* #red.hero:before {
    background: linear-gradient(180deg, #ffffff 10%, #FFBCCE 45%, #FFBCCE 65%, #FFBCCE 100%);
} */

#darkblue2 .hero-header img:first-of-type {
    z-index: 1;
    margin-top: 6vw;
    height: 500px;
    left: 10vw;
}

#darkblue .hero-header img:first-of-type {
    z-index: 1;
    margin-top: 16.25vw;
    height: 700px;
    left: 0;
    margin-left: 0;
}

#darkblue .hero-header {
    padding-left: 175px;
}

#red.hero:before {
    /* background: linear-gradient(180deg, #ffffff 10%, #ffe7e8 45%, #f5cfd0 65%, #F4AEAC 100%); */
    background: linear-gradient(-45deg, #ffffff, #d6ecff, #E0E9FF, #EDF3FF, #FFEDEE, #FFE1DB, #E0E9FF, #d6ecff, #EDF3FF, #FFEDEE, #FFE1DB, #ffffff, );
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    transform: rotate(
-6deg);
    width: calc(100vw + 90px);
    margin-left: -60px;
    margin-top: 30px;
}

#blue.hero:before {
    background: linear-gradient(180deg, #ffffff 10%, #C8E3F5 45%, #C8E3F5 65%, #A1C0F2 100%);
}

#green.hero:before {
    background: linear-gradient(180deg, #ffffff 10%, #C2E6DF 45%, #C2E6DF 65%, #9ACED5 100%);
}

#purple.hero:before {
    background: linear-gradient(180deg, #ffffff 10%, #AEB9E2 45%, #AEB9E2 65%, #C2AEE2 100%);
}

#hunger-for-professional-betterment + ul img {
    box-shadow: unset;
    border-radius: unset;
}

/* #multi.hero:before {
    background: rgb(57,95,232);
background: radial-gradient(circle at calc(100% - 40vw), rgba(57,95,232,1) 30%, rgba(42,146,224,1) 45%, rgba(75,213,247,1) 60%);
} */

#multi.hero:before {
    /* background: rgb(7, 38, 148);
background: radial-gradient(circle at calc(100% - 40vw), rgba(42,146,224,1) 30%, #1752aa 55%, #1c3781 70%); */
/* content: url(/img/labcorp-header.png)!important; */
content: "" !important;
    /* top: -20vh !important; */
    max-height: unset;
    background-image: url(/img/small-blur-LAB.gif) !important;
    /* height: 200vh !important;
    width: 106vw;
    left: -5em; */
    background-size: contain;
    filter: blur(1em);
    z-index: -2;
    background-repeat: repeat-x;
}

#pink.hero:before {
    /* background: rgb(7, 38, 148);
background: radial-gradient(circle at calc(100% - 40vw), rgba(42,146,224,1) 30%, #1752aa 55%, #1c3781 70%); */
/* content: url(/img/insight-header.png)!important; */
content: "" !important;
    /* top: -30vh !important; */
    max-height: unset;
    background-image: url(/img/small-blur-INS.gif) !important;
    /* height: 200vh !important;
    width: 107vw;
    left: -5em; */
    background-size: contain;
    filter: blur(1em);
    z-index: -2;
    background-repeat: repeat-x;
}

#darkblue.hero:before, #darkblue2.hero:before {
    /* background: rgb(7, 38, 148);
background: radial-gradient(circle at calc(100% - 40vw), rgba(42,146,224,1) 30%, #1752aa 55%, #1c3781 70%); */
/* content: url(/img/stayonline-header.png)!important; */
content: "" !important;
    /* top: -10vh !important; */
    max-height: unset;
    background-image: url(/img/small-blur-SOL.gif) !important;
    /* height: 200vh; */
    /* width: 110vw; */
    /* left: -4em; */
    /* background-size: contain; */
    filter: blur(1em);
    z-index: -2;
    background-repeat: repeat-x;
}

#mixed.hero:before {
content: "" !important;
    /* top: -5vh !important; */
    max-height: unset;
    background-image: url(/img/small-blur-NCDOT.gif) !important;
    /* height: 200vh;
    width: 110vw;
    left: -4em; */
    background-size: contain;
    filter: blur(1em);
    z-index: -2;
}

#mixed2.hero:before {
    /* background: rgb(7, 38, 148);
background: radial-gradient(circle at calc(100% - 40vw), rgba(42,146,224,1) 30%, #1752aa 55%, #1c3781 70%); */
/* content: url(/img/ncdot-header.png)!important; */
content: "" !important;
    /* top: -15vh !important; */
    max-height: unset;
    background-image: url(/img/small-blur-NCDOT.gif) !important;
    /* height: 200vh;
    width: 110vw;
    left: -4em; */
    background-size: contain;
    filter: blur(1em);
    z-index: -2;
    background-repeat: repeat-x;
}

#darkgreen.hero:before {
/* content: url(/img/starbucks-header.png)!important; */
content: "" !important;
    /* top: -3em!important; */
    max-height: unset;
    background-image: url(/img/small-blur-STAR.gif) !important;
    /* height: 200vh;
    width: 108vw;
    left: -5em; */
    background-size: contain;
    filter: blur(1em);
    z-index: -2;
    background-repeat: repeat-x;
}

#mixed2.hero .hero-header img:last-of-type,
#darkgreen.hero .hero-header img:last-of-type,
#multi.hero .hero-header img:last-of-type {
    width: 100%;
    margin-left: unset;
    padding-bottom: 2em;
}

#mixed.hero .hero-header img:last-of-type {
    width: 100%;
    margin-left: unset;
}

#mixed2.hero + #main #wireframe-iterations + p img {
    width: 1700px!important;
    padding-left: 5em!important;
}

/* #darkblue2.hero:before {
    top: -29.5vh;
} */


#pink img:first-of-type {
    -webkit-transform: rotate(5deg);
    width: 75vh;
    left: 7vh;
    margin-top: -65vh;
}

#pink img:last-of-type {
    /* -webkit-transform: rotate(-7deg);
    width: 82vh;
    margin-left: -100vh;
    margin-top: -15vh; */
    display: none
}

#pink .hero-header {
    padding-left: 560px;
    margin-top: 9em;
}

#pink + #main section:not(#wild) {
    padding-top: 440px!important;
}

#mixed .hero-header img:first-of-type {
    position: absolute;
    top: 0;
    margin-left: -400px;
}

#mixed .hero-header img:last-of-type {
    /* width: calc(100% - 410px); width of container */
    height: 600px; /* height of container */
    object-fit: cover;
}

#mixed2 .hero-header img:first-of-type {
    position: absolute;
    top: 5em;
    margin-left: -260px;
    z-index: 0;
    width: 190vh;
    max-width: initial;
}

#multi .hero-header, #pink .hero-header, #darkgreen .hero-header, #darkblue .hero-header, #darkblue2 .hero-header, #mixed .hero-header, #mixed2 .hero-header  {
    -webkit-transform: unset;
}

#multi .hero-header h1 b, #pink .hero-header h1 b, #darkgreen .hero-header h1 b, #darkblue .hero-header h1 b, #darkblue2 .hero-header h1 b, #mixed .hero-header h1 b, #mixed2 .hero-header h1 b {
    color: #48377d;
    font-size: 42px
}

#multi .hero-header h1, #pink .hero-header h1, #darkgreen .hero-header h1, #darkblue .hero-header h1, #darkblue2 .hero-header h1, #mixed .hero-header h1, #mixed2 .hero-header h1 {
    -webkit-text-stroke-color: #48377d;
    margin-bottom: 75px
}

.notice {
    font-size: 14px;
    position: relative;
    padding-left: 25px;
}

.notice:before {
    content: "*" / "";
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: -8px;
    opacity: .33;
    color: black
}

.hero:before {
content: "";
/* mix-blend-mode: screen; */
display: block;
position:absolute;
/* width: 100%; */
height: 80vh;
/* height: 100%; */
/* left: 0;
top: 0;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
padding-bottom: 15vh */
/* left: 0; */
/* top: 0; */
/* top: -18rem; */
/* -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
padding-bottom: 0;
filter: blur(7em);
}

#main .hero:before {
    display: none;
}
#main .hero {
    padding: 0;
}

#hero {
    max-width: 1000px
}

#hero:before {
    /* clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%); */
    z-index: -1;
    height: 100rem;
    max-height: 800px;
    position: absolute;
    top: -104px;
    left: -18px;
    width: calc(100vw + 56px);
    min-width: 280px;
    content: "";
}

#hero p:last-of-type a {
    font-weight: bold
  }

  #hero p:first-of-type {
    margin-top: 2.5rem
  }

  #red h1 {
    -webkit-text-stroke-color: #F11809;
}

#red h1 b {
    /* color: #D52B1D; */
    color: #F7392B;
}

#red .squiggle svg {
    stroke: #F7392B;
}

#blue h1 {
    -webkit-text-stroke-color: #1C79E3;
}

#blue h1 b {
    color: #1448A9;
}

#blue .squiggle svg {
    stroke: #1C79E3;
}

#green h1 {
    -webkit-text-stroke-color: #149377;
}

#green h1 b {
    color: #075558;
}

#green .squiggle svg {
    stroke: #149377;
}

#purple h1 {
    -webkit-text-stroke-color: #6A37F6;
}

#purple h1 b {
    color: #2F1692;
}

#purple .squiggle svg {
    stroke: #6A37F6;
}