
.top-section-content p {
    padding-bottom: 3rem
}

.top-section-content p + p {
    margin-top: -3rem
}

.opportunity-box {
    position:absolute;
    width: 40%;
    max-width: 650px;
    right: 0;
    top: calc(-100% - 2rem);
    border-radius: 2px;
    font-size: .9em;
    z-index: 0
}

.opportunity-box-inner {
    background-color: #ddfded;
    border: 2.25px solid black;
    border-radius: 2px;
}

.opportunity-box:before {
    content: "";
    background-color: white;
    width: 100%;
    margin-top: -.5em;
    margin-left: -.5em;
    position: absolute;
    height: 100%;
    z-index: -1;
    border-radius: 2px;
}

.opportunity-box:after {
    content: "";
    background-color: var(--dark-blue);
    width: 100%;
    top: 0.5em;
    right: -0.5em;
    position: absolute;
    height: 100%;
    z-index: -1;
    border-radius: 2px;
}

.opportunity-box strong {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 14px;
}

.dribbble-shots2 .dribbble-shot {
    border-radius: 5px;
    margin-bottom: 24px;
    overflow: hidden;
    box-shadow: 3px 3px 16px rgba(48, 48, 55, .2);
}

.dribbble-shots2 {
    /* margin-top: 67px; */
}

.Angled.homepage-blue {
    background-color: #ddfded;
    /* margin-top: 8em!important;
    margin-bottom: 1em!important; */
    /* padding-top: 7em;
    padding-bottom: 0; */
    z-index: 1;
}

.Angled.homepage-blue h3 + p {
    /* margin-top: 1.75em; */
}

.Angled.homepage-blue ._10-col-grid + div {
    /* margin-top: -3em */
}

/* .Angled.homepage-blue:before {
    border-bottom: 100px solid #000000;
    content: '';
    width: 100vw;
    height: 0;
    border-left: 103vw solid transparent;
    margin-top: -101px;
    position: absolute;
    top: 0;
    z-index: 0;
    left: -1;
} */

/* .Angled.homepage-blue:not(.about) .container::before {
    border-bottom: 100px solid #d3f6e3;
    content: '';
    width: 100vw;
    height: 0;
    border-left: 103vw solid transparent;
    margin-top: -97px;
    position: absolute;
    top: 0;
    z-index: 0;
    left: -2vw;
} */

/* .Angled.homepage-blue.about .container::before {
    border-bottom: 100px solid #ffffff;
    content: '';
    width: 100vw;
    height: 0;
    border-left: 103vw solid transparent;
    margin-top: -97px;
    position: absolute;
    top: 0;
    z-index: 0;
    left: -2vw;
} */

/* .Angled.homepage-blue .container:after,
.after-homepage-blue .container:after {
    border-top: 103px solid black;
    content: '';
    width: 103vw;
    height: 0;
    border-left: 104vw solid transparent;
    position: absolute;
    bottom: -103px;
    left: -3vw;
} */

/* .Angled.homepage-blue .container:after {
    z-index: -1;
} */
/* 
.after-homepage-blue .container:after {
    z-index: 1;
} */

/* .Angled.homepage-blue:after {
    border-top: 100px solid #d3f6e3;    
    content: '';
    width: 101vw;
    height: 0;
    border-left: 101vw solid transparent;
    position: absolute;
    bottom: -100px;
    z-index: -1;
    left: -1vw
} */

.Angled.homepage-blue.about {
    background-color: #ffffff;
    /* padding-top: 4em;
    padding-bottom: .5em; */
}

.info-bar { 
    grid-column-start: 2;
    grid-column-end: 11;
    background-color: #57A287;
    padding: 30px;
    font-size: 18.66px;
    font-weight: bold;
    letter-spacing: .025rem;
    margin-top: 7rem;
    margin-bottom: -5rem;
    grid-row-start: 1;
 }

 .info-bar-flex-container {
    display: flex;
    align-items: stretch;
  }
  
  .info-bar-flex-container > div {
    color: white;
  }

  .info-bar-box {
    flex-grow: 1; display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-bar-box-inner {
    width: fit-content;
    line-height: 1.5rem
  }

  .info-bar-box-inner .h2 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
  }

  .info-block {
    background-color: #2c1212;
    color: white;
    padding: 2rem;
    position: absolute;
    left: 1.25rem;
    bottom: 1.85rem;
}

.me-homepage {
    background: url(/img/me-homepage.png);
    background-size: contain;
    /* position: absolute; */
    background-repeat: no-repeat;
    /* margin-bottom: -2.2rem;     */
}

.me-homepage-bg {
    height: 31rem;
    background-image: linear-gradient(#F4CBCD 40%, #FFE1E3 77%, #faeaea);
    content: '';
    display: block;
    position: absolute;
    right: 8.5rem;
    top: 1.85rem;
    margin-left: -9.75rem;
    right: calc((100vw - 99.75rem)/2);
    top: 10.6rem;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
}

.top-section-new:has(.homepage) .h1-category-wrapper + h1 {
    z-index: 1
}

section.content, section.Angled.homepage-blue {
    margin-bottom: 2.75rem;
}

section.Angled.homepage-blue:not(:last-child) {
    margin-bottom: 0;
}

h2.homepage {
    font-weight: 400
}

.Angled.homepage-blue:before {
bottom: unset!important;
top: -6.2rem!important;
}

.homepage-blue.about:before {
    bottom: unset!important;
    top: .15rem!important;
    border-bottom: solid 6.25rem transparent!important;
    border-top: unset!important;
    }

    .homepage-blue.about:after {
        top: 0!important;
    }
    .Angled.homepage-blue:after {
        bottom: unset!important;
        top: -6.05rem!important;
    }
    
    .homepage-blue.about:after {
        bottom: unset!important;
        border-bottom: solid 6.25rem transparent!important;
        border-top: unset!important;
    }

 .Angled.homepage-blue.about:before {
    border-bottom: 100px solid black
}

.Angled.homepage-blue.about:after {
    border-top: 100px solid white
}

/* .after-homepage-blue:after {
    border-top: 104px solid white;
    content: '';
    width: 103vw;
    height: 0;
    border-left: 104vw solid transparent;
    position: absolute;
    bottom: -100px;
    z-index: 1;
    left: -4vw;
} */

/* .after-homepage-blue {
    position: relative;
    margin-top: -4rem;
    margin-top: 0;
    padding-bottom: 5em
} */

/* .after-homepage-blue .flex div:has(h3) {
    padding-top: 3em;
    padding-right: 3em
} */

/* .after-homepage-blue .flex div:has(h3) + div {
    margin-right: -1.25rem
} */

.large-non-heading {
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 1.85rem;
    color: #3C0607;
  }

  .large-non-heading strong,
  .medium-non-heading {
    font-size: 1.25rem;
    line-height: 1.35rem;
    font-weight: bold;
  }

  .large-non-heading strong {
    display: block;
    margin-top: 1rem
  }