.icon-with-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.icon {
    max-width: 100px;
    max-height: 100px;
    padding: .25em 0
}

.icon-content {
    margin-left: calc(110px + 1.75em);
}

.icon-with-content {
    margin-bottom: 2.5em;
}

.icon-with-content:last-of-type {
    margin-bottom: 3.5em;
}

.w-full .icon-with-content:last-of-type, .w-full .icon-with-content:last-of-type p {
    margin-bottom: 0;
}

.icon-group {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 340px;
    max-width: 40rem;
}

img.icon {
    border-radius: 0!important
}
