@keyframes hue-rotate-emoji {
    0%{
        filter: hue-rotate(115deg) brightness(0.5);
      }
  
      15%{
        filter: hue-rotate(115deg) brightness(0.5);
        }
          
      18%{
        filter: hue-rotate(175deg) brightness(0.7);
      }  
      
      22%{
          filter: hue-rotate(175deg) brightness(0.7);
        }
  
      28%{
        filter: hue-rotate(195deg) brightness(0.65);
        } 
  
      38%{
        filter: hue-rotate(195deg) brightness(0.65);
        }     
      
      45%{
          filter: hue-rotate(175deg) brightness(0.7);
      }
  
      63%{
        filter: hue-rotate(175deg) brightness(0.7);
        }
  
      85%{
        filter: hue-rotate(115deg) brightness(0.5);
        }
  
      100%{
        filter: hue-rotate(115deg) brightness(0.5);
        }  
}

@keyframes Gradient{
  0%{
      background-position: top;
  }
      
  20%{
      background-position: left center;
  }    

  23%{
      background-position: left center;
    } 
  
  43%{
      background-position: bottom;
  }

  46%{
      background-position: bottom;
    }

  66%{
      background-position: right center;
  }

  69%{
      background-position: right center;
    }

  89%{
      background-position: top;
  }

  100%{
      background-position: top;
    }
}

@keyframes Color{
    0%{
      color:#C44F4F;
      -webkit-text-stroke-color: #C44F4F
    }

    15%{
        color:#C44F4F;
        -webkit-text-stroke-color: #C44F4F
      }
        
    18%{
      color:#243bb4;
      -webkit-text-stroke-color: #243bb4
    }  
    
    22%{
        color:#243bb4;
        -webkit-text-stroke-color: #243bb4
      }

    28%{
        color:#6224b4;
        -webkit-text-stroke-color: #6224b4
      } 

    38%{
        color:#6224b4;
        -webkit-text-stroke-color: #6224b4
      }     
    
    45%{
        color:#243bb4;
        -webkit-text-stroke-color: #243bb4
    }

    63%{
        color:#243bb4;
        -webkit-text-stroke-color: #243bb4
      }

    85%{
        color:#C44F4F;
        -webkit-text-stroke-color: #C44F4F
      }

    100%{
        color:#C44F4F;
        -webkit-text-stroke-color: #C44F4F
      }
  }

  @keyframes BgColor{
    0%{
        background-color:#C44F4F;
    }

    7%{
        background-color:#C44F4F;
    }

    25%{
        background-color:#243bb4;
    }

    30%{
        background-color:#243bb4;
    }
        
    45%{
        background-color:#6224b4;
    }  
    
    50%{
        background-color:#6224b4;
    }  
    
    65%{
        background-color:#243bb4;
    }

    70%{
        background-color:#243bb4;
    }

    85%{
        background-color:#C44F4F;
      }

    100%{
        background-color:#C44F4F;
      }
  }

  @keyframes BorderColor{
    0%{
        border-color: #6224b4;
    }
        
    30%{
        border-color:#243bb4;
    }    

    33%{
        border-color: #243bb4;
      } 
    
    63%{
        border-color:#C44F4F;
    }

    66%{
        border-color:#C44F4F;
      }

    97%{
        border-color:#6224b4;
    }

    100%{
        border-color:#6224b4;
      }
  }

  @keyframes BorderBottom {
    0%{
        border-bottom: 100px solid #C44F4F;
    }

    7%{
        border-bottom: 100px solid #C44F4F;
    }

    25%{
        border-bottom: 100px solid #243bb4;
    }

    30%{
        border-bottom: 100px solid #243bb4;
    }
        
    45%{
        border-bottom: 100px solid #6224b4;
    }  
    
    50%{
        border-bottom: 100px solid #6224b4;
    }  
    
    65%{
        border-bottom: 100px solid #243bb4;
    }

    70%{
        border-bottom: 100px solid #243bb4;
    }

    85%{
        border-bottom: 100px solid #C44F4F;
      }

    100%{
        border-bottom: 100px solid #C44F4F;
      }
  }

  @keyframes BorderTop {
    0%{
        border-top: 100px solid #C44F4F;
    }

    7%{
        border-top: 100px solid #C44F4F;
    }

    25%{
        border-top: 100px solid #243bb4;
    }

    30%{
        border-top: 100px solid #243bb4;
    }
        
    45%{
        border-top: 100px solid #6224b4;
    }  
    
    50%{
        border-top: 100px solid #6224b4;
    }  
    
    65%{
        border-top: 100px solid #243bb4;
    }

    70%{
        border-top: 100px solid #243bb4;
    }

    85%{
        border-top: 100px solid #C44F4F;
      }

    100%{
        border-top: 100px solid #C44F4F;
      }
  }