button:hover {
cursor:pointer;
}

/* .cms a {
  text-decoration: underline
} */

p a, blockquote cite a {
  text-decoration: revert;
}

.bg-pink.purple a, .bg-pink.green a, .bg-pink.blue a, .bg-pink.pink a  {
  color: #ffffff;
}
.article-block h2 a, .article-block h4 a,
.article-block h3 a  {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.article-block h2 a:hover, .article-block h2 a:focus,
.article-block h4 a:hover, .article-block h4 a:focus,
.article-block h3 a:hover, .article-block h3 a:focus {
  text-decoration: unset
}

.article-block h2 a:hover span, .article-block h2 a:focus span,
.article-block h4 a:hover span, .article-block h4 a:focus span,
.article-block h3 a:hover span, .article-block h3 a:focus span {
  background-color: unset;
    background-repeat: no-repeat;
    background-size: 100% 1.25rem;
    background-position: bottom;
    color: inherit;
}

.blue + section .article-block h2 a:hover span, .blue + section .article-block h2 a:focus span {
  background-image: linear-gradient(to bottom right, #89C6FF 50%, #89C6FF 50%), linear-gradient(#89C6FF, #89C6FF), linear-gradient(to top left, #89C6FF 50%, #89C6FF 50%);
}

.purple + section .article-block h2 a:hover span, .purple + section .article-block h2 a:focus span,
.purple section .article-block h2 a:hover span, .purple section .article-block h2 a:focus span {
    background-image: linear-gradient(to bottom right, #BEA8FF 50%, #BEA8FF 50%), linear-gradient(#BEA8FF, #BEA8FF), linear-gradient(to top left, #BEA8FF 50%, #BEA8FF 50%);
}

body.color-violet .work-roll .article-block h4 a:hover span, body.color-violet .work-roll .article-block h4 a:focus span {
  background-image: linear-gradient(to bottom right, #BEA8FF 50%, #BEA8FF 50%), linear-gradient(#BEA8FF, #BEA8FF), linear-gradient(to top left, #BEA8FF 50%, #BEA8FF 50%);
  background-size: 100% 1rem;
  transition: background-image 1s ease;
}

body.color-green .work-roll .article-block h4 a:hover span, body.color-green .work-roll .article-block h4 a:focus span {
  background-image: linear-gradient(to bottom right, #8EE1AF 50%, #8EE1AF 50%), linear-gradient(#8EE1AF, #8EE1AF), linear-gradient(to top left, #8EE1AF 50%, #8EE1AF 50%);
  background-size: 100% 1rem;
  transition: background-image 1s ease;
}

body.color-green .top-section-new.pink:after, body.color-green .top-section-new.pink {
  transition: background-color 1s ease;
  background-color: #ffffff
}

body:not(.color-green) .top-section-new.pink:after, body:not(.color-green) .top-section-new.pink, body:not(.color-violet) .article-block {
  transition: background-color 1s ease;
}

body.color-violet .article-block {
  background-color: rgba(190, 168, 255, .25)
}

body:not(.color-violet) .article-block {
  background-color: rgba(255, 255, 255, .25);
  transition: background-color 1s ease;
}



#navbar a {
  font-size: 1.15em;
}

header.nav.shadow-sm.bg-pink #navbar a {
  color: white
} 

.flex.tags li a {
  font-size: .91rem;
  font-weight: unset;
  margin-right: 7px;
  color: #8353D0;
  background-color: rgba(255, 255, 255, 0.35);
}

.flex.tags li:has(a) {
  margin-bottom: 12px;
}

.flex.tags li:last-child a {
  margin-right: 0;
}

.tags li a, .tags:not(:has(a)) span {
  border-radius: .5em;
  /* padding-top: 0.25rem;
  padding-bottom: 0.5rem; */
}

.tags {
  /* margin-top: 1rem */
  margin-left: auto;
}

.tags li a, .tags:not(:has(a)) span {
  /* box-shadow: 0 0 0 .75px rgba(99, 102, 241, var(--tw-border-opacity)); */
  /* box-shadow: 0 0 0 .75px rgba(0, 0, 0, var(--tw-border-opacity)); */
  padding: .3rem .75rem;
  margin-right: .25rem;
  font-size: .9rem
}

.tags li a {
  margin-right: 0
}

.purple + section .tags li a {
  /* box-shadow: 0 0 0 .75px rgba(131, 83, 208, var(--tw-border-opacity)); */
  /* color: #8353D0; */
}

.tags:not(:has(a)) span {
  color: #000000;
  /* box-shadow: 0 0 0 .75px rgba(0, 0, 0, var(--tw-border-opacity)); */
  display: block
}

/* .tags li a:hover, .tags li a:focus {
  box-shadow: 0 0 0 2px rgba(131, 83, 208, var(--tw-border-opacity));
} */

button.underline, a.underline  {
  font-family: 'JetBrains Mono', sans-serif;
}

button.underline:hover, button.underline:focus, a.underline:hover, a.underline:focus {
  text-decoration:none
}


a.underline {
  font-size: 0.935em;
  text-decoration: underline
}




header.nav.purple #navbar a:hover, header.nav.purple #navbar a:focus {
  background-color: rgba(97, 35, 179, .3);
}
header.nav.green #navbar a:hover, header.nav.green #navbar a:focus {
  background-color: rgba(0, 102, 98, .3);
}
header.nav.blue #navbar a:hover, header.nav.blue #navbar a:focus {
  background-color: rgba(36, 59, 180, .3);
}

header.nav.shadow-sm.bg-pink #navbar a.current {
  background-color: rgba(0, 0, 0, 0.25);
} 

#navbar .wrapper a.current {
  text-decoration: overline;
}

#navbar a:not(.block):first-of-type {
  margin-bottom: -7px;
  box-shadow: 2.5px 0 0 0 black;
  margin-left: -1.235em;
  padding-left: .235em;
}

#navbar a.block:first-of-type, #navbar a.block:nth-of-type(2) {
  /* box-shadow: -1.25px 0px 0 1px black; */
  border-left: 2px solid black;
  border-right: 0;
  margin-right: 0;
  padding: 0 1.235em;
}

#navbar a.block:first-of-type {
  margin-left: -1px
}

#navbar a.block:first-of-type:focus, #navbar a.block:nth-of-type(2):focus {
  outline: 1px solid white;
}

#navbar a.block:nth-of-type(3) {
  box-shadow: -2.5px 0 0 0px black;
  margin-right: -1.235em;
  padding: 0 1.235em;
}


.mobile-menu a.border-b-2:not(.border-transparent) {
  font-weight: bold;
  border-color: transparent;
}

.inline-horizontal-links {
  display: block;
  position: relative;
  margin-top: 5rem
}

.inline-horizontal-links a {
  display: inline-block;
}

.inline-horizontal-links:before {
  content:'';
  display: block;
  width: 100vw;
  position: absolute;
  left: calc((100vw - 98.75rem) /2 * -1);
  top: calc(50% - 1px)
}

.inline-horizontal-links.pink a {
  background-color: #FAEAEA;
  border: 2px solid #5F0717;
  color: #3D0505
} 

.inline-horizontal-links.limegreen a {
  background-color: #ddfded;
  border: 2px solid #5F0717;
  color: #3D0505
}