.nav--hidden {
    transform: translateY(calc(-1 * 5em));
    box-shadow: none;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s;
}

header.transparent, header:not(.shadow-sm){
    transition: background-color .5s;
}

header {
    z-index: 2;
}

header.transparent, header:not(.shadow-sm) {
    background-color: #c4f3db 
}

header.nav:not(.transparent) .mobile-menu {
    background-color: unset
  }

  header.bg-pink.nav.blue #navbar, header:not(.shadow-sm).bg-pink.nav.blue #navbar {
    background-color: #243bb4!important;
  }


header.nav.purple #navbar, header:not(.shadow-sm).nav.purple #navbar {
    background-color: #d3c4ff;
}

header.bg-pink.nav.purple #navbar, header:not(.shadow-sm).bg-pink.nav.purple #navbar {
    background-color: var(--dark-purple);
}

header.bg-pink.nav.green #navbar, header:not(.shadow-sm).bg-pink.nav.green #navbar {
    background-color: var(--dark-green);
}

header.bg-pink.nav.blue #navbar, header:not(.shadow-sm).bg-pink.nav.blue #navbar {
    background-color: var(--dark-blue);
}

header.nav.green #navbar, header:not(.shadow-sm).nav.green #navbar {
    background-color: #c4f3db;
}

header.nav.blue #navbar, header:not(.shadow-sm).nav.blue #navbar {
    background-color: #c4d9ff;
}

header.nav.shadow-sm.bg-pink #navbar a:hover, header.nav.shadow-sm.bg-pink #navbar a:focus {
    background-color: rgba(0, 0, 0, 0.5);
  } 

  header {
    border-bottom: 2.5px solid black;
}
  
.bg-pink .mobile-menu {
    color: white
  }