
.overlap-image, .overlap-image-reverse {
    position: relative;
    margin-bottom: 3em;
}

.overlap-image-reverse {
    margin-top: -5em
}

.overlap-image img:not(.small-img) {
    padding-left: 3em
}

.overlap-image .small-img {
    position: absolute;
    bottom: -3em;
    width: 40%;
}

.overlap-image-reverse img:not(.small-img) {
    padding-right: 3em
}

.overlap-image-reverse .small-img {
    position: absolute;
    bottom: -0;
    width: 40%;
    right: 0;
}

.overlap-image-reverse em {
    width: 50%;
    display: block;
    padding-top: 1.5em;
    padding-right: .5em;
}

.overlap-image em {
    width: 100%;
    display: block;
    padding-top: 1.5em;
    padding-left: 50%;    
}