/* .cms .partials .yup section:last-of-type:after {
    border-top: 0px solid #3a0a7a;
} */

  /* .cms .partials .yup section:last-of-type:has(#results) cite {
    font-weight: 200;
    font-size: .75em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
} */

/* .cms .partials .yup section:last-of-type:has(#results) li::marker {
    color: white
}

.cms .partials .yup section:last-of-type:has(#results) ul:not([class]), 
.cms .partials .yup section:last-of-type:has(#results) p:not([class]) {
    max-width: 940px;
} */


/* display image section */
/* .display_image_section {
    width: 100%;
    max-width: unset;
    margin-bottom: 0;
}

.display_image_section .is-this *:not(div):not(li):not(img):not(small):not(a):not(i):last-child  {
    margin-bottom: 3.5em
}

.display_image_section .max-w-7xl.mx-auto div:not(.parent-all) *:not(:first-child):not(h3:first-of-type):not(h3:first-of-type + ul):not(h3:first-of-type + ul li)  {
    max-width: 625px;
} */