.cms .partials .yup section:last-of-type:after {
    border-top: 0px solid #3a0a7a;
}

.cms .partials .yup section:last-of-type {
    /* padding-bottom: .01em;
    margin-bottom: 4em; */
}

.cms .partials .yup section:last-of-type:has(#results) {
    /* padding-bottom: 10.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 13em!important */
}

.partials .yup {
    /* padding-top: 6.5em; */
  }

  .cms .partials .yup section:last-of-type:has(#results) cite {
    font-weight: 200;
    font-size: .75em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.cms .partials .yup section:last-of-type:has(#results) ul + p{
    /* margin-top: 2em */
}

.cms .partials .yup section:last-of-type:has(#results) li::marker {
    color: white
}

.cms .partials div:nth-of-type(1) section:last-of-type .parent-all {
    /* padding-bottom: 0; */
}

.cms .partials .yup section:last-of-type:has(#results) ul:not([class]), 
.cms .partials .yup section:last-of-type:has(#results) p:not([class]) {
    max-width: 850px;
}


/* display image section */
.display_image_section {
    width: 100%;
    max-width: unset;
    margin-bottom: 0;
}

.display_image_section .is-this *:not(div):not(li):not(img):not(small):not(a):not(i):last-child  {
    margin-bottom: 3.5em
}

.display_image_section .max-w-7xl.mx-auto div:not(.parent-all) *:not(:first-child):not(h3:first-of-type):not(h3:first-of-type + ul):not(h3:first-of-type + ul li)  {
    max-width: 625px;
}