.Angled + style + .Rectangular {
    margin-top: -11em;
    position: relative;
    padding-top: 11em;
    padding-bottom: 11em;
 }

 .Angled + style + .Rectangular:after {
    content: '';
    width: 100vw;
    height: 0;
    border-left: 100vw solid transparent;
    position: absolute;
    top: -100px;
    z-index: 0;
    border-bottom: 100px solid var(--dark-purple);
    left: 0
}

 .Rectangular + .Rectangular,
 .Rectangular + style + .Rectangular {
    margin-top: -16em; 
    padding-top: 0!important
 }

 .Angled + .Rectangular {
    margin-top: -17em; 
 }

.Rectangular {
    padding-left: 2em;
    padding-right: 2em;
}

.cms.blue .Rectangular h3  + p {
    margin-top: .5em;
    margin-bottom: 3em
}

section.Rectangular .generic-content:has(h2) {
    margin-top: 1.3em;
    margin-left: 0;
}

.Rectangular {
    margin-bottom: 13em!important
}

.Rectangular.skip-area {
    margin-bottom: 7.5em!important
}

.Rectangular.purple {
    background-color: var(--dark-purple);
    color: white;
}

.Rectangular.green {
    background-color: var(--dark-green);
    color: white;
}

.Rectangular.blue {
    background-color: var(--dark-blue);
    color: white;
}

.Rectangular h2 span:nth-of-type(1) {
    color: var(--purple-hex);
}

.purple .Rectangular {
    background-color: var(--dark-purple);
    color: white;
}

.pink .Rectangular {
    background-color: #fcf2f2;
}

.green .Rectangular {
    background-color: rgba(var(--green-rgb), 0.33);
}

.blue .Rectangular {
    background-color: var(--dark-blue);
    color: white;
}

.Rectangular:not(.skip-area) {
    padding: 11em 0;
}

.Rectangular + .Rectangular .lg\:w-1\/2:has(.img-w-caption) {
    padding-top: 2.5em 
 }