:root {
    --purple-hex: #E9E3FF;
    --purple-rgb: 233,227,255;

    --dark-purple: #6224B4;

    --green-hex: #D4EFE1;
    --green-rgb: 212, 239, 225;
    --dark-green: #006662;

    --blue-hex: #e2ecff;
    --blue-rgb: 229, 238, 255;
    --dark-blue: #243BB4;

    --spacing: clamp(1.25rem, calc(0.875rem + 0.78125vw), 1.5rem);
    
  }

  .color-violet {
    background-color: #eeeaff;
  }
  .color-green {
    background-color: #ddfded;
  }

  body {transition: background-color 1s ease;}

  body:not(.color-undefined) .has-fullwidth-bg {
    background: unset
  }