:root {
    --purple-hex: #E9E3FF;
    --purple-rgb: 233,227,255;

    --dark-purple: #6224B4;

    --green-hex: #D4EFE1;
    --green-rgb: 212, 239, 225;
    --dark-green: #006662;

    --blue-hex: #e2ecff;
    --blue-rgb: 229, 238, 255;
    --dark-blue: #243BB4;

  }
