.overlap-img {
    position: absolute;
    margin-top: 12em;
    top: 0;
    margin-left: -5rem;
    margin-right: 5rem;
    padding: 0 !important;
}

.responsibilities li {
    padding-right: 2rem
  }