.overlap-img {
    position: absolute;
    margin-top: 12em;
    top: 0;
    margin-left: -5rem;
    margin-right: 5rem;
    padding: 0 !important;
}

.responsibilities li {
    padding-right: 2rem
  }

  /* .article-block .h3, p:not(:last-child) {
    margin-bottom: 2rem;
} */

.responsibilities {
    margin-left: 1.25rem;
    list-style-type: disc;
}