{{ define "main" }}

{{ if eq (relURL .URL) ("/article/") }}
<style>
  footer:before {
    border-bottom: 100px solid var(--dark-purple);
}

footer {
    background-color: var(--dark-purple);
}
</style>
<!-- {{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "backgroundcolor" "green" "title" "Articles" "subtitle" "this is a subtitle" "heroP" "If you have questions on any of these projects or would like to discuss how I may be right for your project please " "heroPlinktext" "get in touch" "heroPlinkurl" "/values") }}


<b>articles landing page</b> -->

<section class="center ph3 content purple" style="padding-top:77px; margin-top: 50px;">

  <div class="shapes" style="pointer-events: none; position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 95.33%;
  opacity: .5;">
  
    <div class="cross cross1" data-wh="20">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="circle crc2"></div>
  
    <div class="cross cross2">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
  </div>

  <div id="top-section" class="Angled purple mb-20">
    <div class="max-w-7xl mx-auto">
  <h1 class="text-4xl leading-none tracking-tight lg:text-6xl md:text-5xl sm:text-4xl"><b>Articles about UX and development </b></h1>
  
    <p><span class="text-xl">
      
      <p class="mt-4 notice"><span aria-hidden="true">*</span>Looking specifically for short-format and blog content? Check out the <a href="/tags/bitesize/" class="underline">#bitesize</a> and <a href="/tags/reference/" class="underline">#reference</a> tags.</p>
  </div>
  
</div>
</section>

{{ end }}

{{ if eq (relURL .URL) ("/post/") }}
<style>
  footer:before {
    border-bottom: 100px solid var(--dark-blue);
}

footer {
    background-color: var(--dark-blue);
}
</style>
<!-- {{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "backgroundcolor" "purple" "title" "Work case studies" "subtitle" "Here are some of my recent projects and the process behind them" "heroP" "If you have questions on any of these projects or would like to discuss how I may be right for your project please " "heroPlinktext" "get in touch" "heroPlinkurl" "/values") }}

<b>work landing page</b> -->

<section class="center ph3 content blue" style="padding-top:77px; margin-top: 50px;">

  <div class="shapes" style="pointer-events: none; position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 95.33%;
  opacity: .5;">
  
    <div class="cross cross1" data-wh="20">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="circle crc2"></div>
  
    <div class="cross cross2">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
  </div>

  <div id="top-section" class="Angled blue mb-20 ">
    <div class="max-w-7xl mx-auto">
  <h1 class="text-4xl leading-none tracking-tight lg:text-6xl md:text-5xl sm:text-4xl"><b>Recent work & case studies</b></h1>

  <p><span class="text-xl">My work focuses on digital accessibility and ux-focused development <strong>for the web.</strong></span></p>
  <br><p class="mt-4 notice mb-12"><span aria-hidden="true">*</span>Looking for mobile app or desktop-application focused work? <a href="mailto:mnmclaughlin0@gmail.com" class="underline">Send me a message</a> and we can chat about other projects I've worked on.</p>


</div>
</div>
</section>

{{ end }}

<section class="max-w-7xl mx-auto center mb-20">
  <ul class="flex-ns flex-wrap mhn1-ns pa3 flex">
      {{ range (.Paginator 7).Pages }}
          <li class="w-3/6 ph1-ns">
            {{ .Render "li"}}
          </li>
      {{ end }}
  </ul>

  <!-- <div class="pa3 w-100">If you are interested in learning more about the type of teams I enjoy working with, please introduce yourself over on LinkedIn and let’s chat!</div> -->

  {{ partial "pagination" . }}
</section>

{{end}}


