{{ define "main" }}

    <section class="top-section-new purple" style="margin-top: 70px; margin-bottom: 4rem; position: relative">

      <div class="wrapper" style="padding-top: .75rem; position: relative">
      
      <div class="h1-category-wrapper"><span class="h1-category">Articles and case studies</span></div>
      <h1>All Tags</h1>
      <p>(content currently disabled while site is in-progress)</p>
      <br>
      
      </div>    

<div class="wrapper mx-auto">
  <ul class="flex-ns flex-wrap flex tags">
      {{ range (sort .Pages "Title") }}
          <li class="ph1-ns flex">

	<a role="none" aria-disabled="true" class="justify-center text-sm font-semibold px-3"><span>{{ .Title }} {{ trim .Pages "Pages" }}</span></a>

</li>
      {{ end }}
      
  </ul>

</div>
    
    </section>

{{end}}
