{{ define "main" }}

<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/blog-index.jpg')">
    <div class="mw7 center ph3">
      <div class="db mb3">
        <div class="mw7 relative bg-fix-primary mb3">
          <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
            Work case studies: All {{ .Title }}
          </h1>
        </div>
      </div>
    </div>
  </div>

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 6).Pages.ByPublishDate.Reverse }}
          <div class="w-100-ns ph1-ns flex">
            


<div class="no-underline pa3 bg-grey-1 br1 mb2 db">

	<a href="{{ .RelPermalink }}" class="no-underline bg-grey-1 br1 mb1 db raise w-100"><h2 class="f3 b lh-title primary">{{ .Title }}</h2></a>

</div>



          </div>
      {{ end }}
  </ul>

  <div class="pa3 w-100">If you are interested in learning more about the type of teams I enjoy working with, please introduce yourself over on LinkedIn and let’s chat!</div>

  {{ partial "pagination" . }}
</div>

{{end}}
