{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.preview "imageUrl2" .Params.image2 "backgroundcolor" .Params.backgroundcolor "title" .Params.titlebold "subtitle" .Params.titlenormal "text" .Params.notice ) }}


  <div id="main" class=" center ph3 pv4">

    <section class="flex-ns grid-parent">

  {{ partial "aside" .Params }}

      <div class="cms center">
        <section class="fullwidth">
          <div class="inner-wrap"> 
            <section>
    <div class="inner-wrap content">
    <div class="first">
      <h2>{{ .Params.introheading }}</h2>
      {{ .Params.introbody | markdownify }}
      <a href="{{ .Permalink }}#test">Skip to the results</a>
    </div>
          {{ partial "overview" .Params }}
         
        </section>    

        {{ partial "purple-section" .Params }}

        {{ partial "test-multi-sections" .Params }}

      {{ .Content }}

      <!-- {{ if .Params.technology }}
      {{ partial "imagecaption" .Params }} 
      {{ end }} -->
    </div>
    

  </section>  
  <div class="inner-wrap" style="margin-bottom: 4em;"> 
  <h2 class="related-title">Related case studies</h2> 
  <div id="related" style="position: relative">   
    <div class="inner"> 
      
      
 

    
    {{ range first 3 ( where ( where .Site.Pages ".Params.tags" "intersect" .Params.tags ) "Title" "!=" .Title ) }} 
    

    {{ if isset .Params "preview" }}
    <div class="tile">
<img src="{{ .Params.preview }}" alt="" />
<a href="{{ .Permalink }}">{{ .Title }}</a>
<p>{{ .Params.description }}</p>

  </div>
    {{ end }}
          
        {{ end }}
     </div> </div> </div>
    
<!-- <section id="wild" class="inner-wrap">
  <h2>Find me in the wild</h2>
  <p>UX Y'all - 10/04/2019    |    Modern Web October Event - 10/16/2019    |    Code for Durham: Civic Hacking - 12/10/2019</p>
</section> -->
    </div>
    
      </div>
    {{ end }}