{{ define "main" }}

<div id="top-section" class="{{.Params.theme}}">

  <div class="">

    {{ partial "jumbotron" (dict "imageUrl" .Params.preview "imageUrl2" .Params.image2 "backgroundcolor" .Params.backgroundcolor "title" .Params.titlebold "subtitle" .Params.titlenormal "text" .Params.notice ) }}


      <div id="main" class="max-w-7xl mx-auto ">

        <div class="">

          {{ partial "aside" .Params }}

            <section class="intro-section content-850" aria-labelledby="introheading">
              <div>
                <h2 id="introheading" style="display:block">{{ .Params.introheading }}</h2>
                {{ .Params.introbody | markdownify }}
              </div>

            </section>

        </div>  
      </div>

  </div>

  <!-- <span style="position: absolute;
  -webkit-text-stroke-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  -webkit-text-stroke-width: 1.75px;
  color: transparent;
  font-size: 10em;
  right: -0.05em;
  width: 4em;
  margin-top: -2.4em;
  text-align: right;
  line-height: .61em;
  z-index: 0; opacity: .5;">you are not your user</span> -->

  <!-- start -->
  <div class="shapes">

    <div class="circle" data-wh="125"></div>
  
    <div class="cross cross1" data-wh="20">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="circle crc2"></div>
  
    <div class="cross cross2">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
  </div>
<!-- end   -->

</div>





<div class="{{.Params.theme}} Rectangular skip-area" style="margin-bottom: 10em">
  <div class="container max-w-7xl mx-auto lg:h-128 lg:space-x-8" style="padding: 4em 0">
    <p class="white" style="font-size: 1.33em; font-family: 'JetBrains Mono', sans-serif; display: inline-block">Just want the outcome?</p>
    <a href="{{ .Permalink }}#results" class="skip card-v8 bg radius-lg"><span aria-hidden="true">🔍</span> skip to results</a>
  </div>
</div>

<div class="cms hi {{.Params.theme}}"> 
  <div class="partials">
    <div class="yup">
      {{ partial "test-multi-sections" .Params }}
    </div>
  </div>
</div>
    
<div id="changethislater" class="related-content" style="padding-bottom: 7em; padding-top: 11em;" aria-labelledby="related-title"> 
  <div class="inner-wrap max-w-7xl mx-auto">
    <h2 id="related-title" class="related-title">More  

    {{ if eq .Params.theme "purple" }}  accessibility  {{ end }}
    {{ if eq .Params.theme "blue"}}  UI/UX  {{ end }}
    {{ if eq .Params.theme "green"}}  development  {{ end }}

    case studies & projects</h2> 

    <div id="related" style="position: relative">   
      <ul class="relative mx-auto grid max-w-[40rem] grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-4">  
    
        {{ range first 3 ( where ( where .Site.Pages ".Params.tags" "intersect" .Params.tags ) "Title" "!=" .Title ) }}     

        {{ if isset .Params "preview" }}
        <li>
          <a href="{{ .Permalink }}" class="card-v8 bg radius-lg">
            <span style="position: absolute; opacity: 0;">case study</span>
            <div>
              <img src="{{ .Params.preview }}" alt="" />
              <span class="card-v8__title">{{ .Title }}</span>
              <p class="padding-sm">{{ .Params.description }}</p>
            </div>
          </a>
        </li>
        {{ end }}
          
        {{ end }}

      </ul> 
    </div> 
  </div>
</div>
  
{{ end }}