{{ define "main" }}
<style>.caption:before {
  background: url(img/white-border-arrow.png);
  background-repeat: no-repeat;
}</style>
<!-- <section class="center ph3 content green mb-20">

  <div id="top-section" class="Angled green mb-52 about">
    <div class="max-w-7xl mx-auto top-section-content">
  <h1 class="text-4xl leading-none tracking-tight lg:text-6xl md:text-5xl sm:text-4xl"><b>A bit about me</b></h1>

  <h2 class="text-3xl leading-none tracking-tight lg:text-4xl md:text-5xl sm:text-4xl max-w-7xl homepage" style="display:block; max-width: 800px!important; word-spacing: -0.25rem;letter-spacing: -0.06em;line-height: 1; font-family: 'JetBrains Mono'; margin-bottom: .5em">I help brands and agencies ensure accessibility is baked into code and design.</h2>

      <p><span class="text-xl">My name is Melanie Linares and I am an <strong>accessibility-focused UI/UX developer</strong> who has been designing and developing for the web since
    2012.</span></p>
    
    
    <p class="mt-8">As part of the <a href="https://www.levelaccess.com" class="underline">Level Access</a> delivery team as an Accessibility Consultant I work with cross-functional teams and directly with clients to ensure products are accessible and provide a great user experience, beyond WCAG guidelines.</p> <p>Previously I was an Inclusion and Diversity Event Lead and Accessibility and Inclusivity Design team member at <a
      href="https://www.insight.com" class="underline">Insight</a>.</p>
  
    <div class="flex mt-5">
    <a href="/post" style="margin-right: 1rem" class="skip card-v8 homepage bg radius-lg text-center">
      <span class="">Check out my resume</span>
  </a>
  <a href="/retrospective/2023" id="retro" style="min-width: 251px;" class="retrospective skip card-v8 homepage bg radius-lg text-center">
    <span class="">Find me on LinkedIn</span>
  </a>
</div>

</div>
</div>
</section> -->

<section class="top-section-new center ph3 content green" style="margin-top: 70px; margin-bottom: 4rem; position: relative">

  <div class="wrapper flex" style="padding-top: .75rem; position: relative">
  
    <div>
  <div class="h1-category-wrapper"><span class="h1-category">Hey, I'm Mel Linares</span></div>
  <h1>Accessibility professional, ux developer, & <mark>mentor</mark></h1>
  
  <div class="h2">As part of the <a href="https://www.levelaccess.com" class="underline">Level Access</a> delivery consulting team I work with brands and government agencies to ensure UX and accessibility are baked-in to digital products. <span aria-hidden="true">🍞✨</span></div>

  <p>I started my accessibility and usability journey when I moved to Raleigh, NC to study web & graphic design. 2012 was the year I landed my first full-time job after years of freelancing gigs. During this job I led the charge in a responsive-first design and code overhaul of the company's existing site.</p>

<p>I learned a lot during that first job! How to pitch an idea, how to lead with data, how to rally a group of stubborn developers and stakeholders, how to run a user study, and how to own a project start to finish. Mostly I learned that <strong>I have a knack for leadership and a love of accessibility.</strong></p>

<br>

<div class="inline-horizontal-links {{.Params.backgroundcolor}}">
  <a href="https://drive.google.com/file/d/1wy-sYCgWdrL9d0tpPKvTUyMnO6VhF5qL/view?usp=sharing" style="margin-right: 1rem" class="skip">
    <span class="">check out my resume {{ partial "external" }}</span>
</a>
<a href="https://www.linkedin.com/in/melanie-linares-79845553/" id="retro" style="min-width: 251px;" class="retrospective skip">
  <span class="">find me on linkedin {{ partial "external" }} </span>
</a>

<div style="right: -4rem;position: relative;top: -2.4rem;z-index: -1;">
  <img src="/img/mel-about5.jpg" style="object-fit: cover; object-position: top center; min-width: 40rem; max-width: 45rem; height: 100%; width: 100%; opacity: .85; filter: saturate(0.35)contrast(1.25)hue-rotate(-52deg);" alt="desk with skeleton raven, laptop with the text make for good, small telescope nad 3d paper star">
  </div>
</div>

  </div>
  <div style="width: 102rem; max-height: 45rem; padding-left: 11.5rem; position: relative;">
    <img src="/img/mel-about.jpg" style="object-fit: cover; object-position: top center; min-height: 40rem; max-height: 45rem; height: 100%; width: 100%; opacity: .85; filter: saturate(0.75)contrast(1.25)hue-rotate(10deg); transform: scaleX(-1);" alt="myself with long hair, geometric gold glasses, and grinning while wearing earphones">
  <div class="info-block flex">
    <div class="pr-3">
    <span class="h2" style="font-family: 'Poppins', sans-serif;">11+ <small class="h2">years</small></span><small class="h2">building the web</small>
    </div>
    <div>
    <span class="h2" style="font-family: 'Poppins', sans-serif;">120+</span><small class="h2">companies consulted</small>
    </div>
  </div>
  </div>
  </div>


  
  </section>


<section class="mx-auto pt-6 flex wrapper">
  <h2 class="mt-20 block">What I'm up to <span style="display: block">[during the week]</span></h2>

  <div class="mt-0 mx-auto grid max-w-2xl gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none">
    <div class="lg:pt-4">
      <div class="">

        <dl class="mt-4 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none flex col about-up-to" style="max-width: 70rem">

          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/virtual.png">
              I conduct remote design reviews
            </dt>
            <dd>Part of my work at Level Access is assessing prototypes and design systems for UX issues live with clients.</dd>
          </div>
          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/audit.png">
              I audit websites, apps, and shareable digital files
            </dt>
            <dd>Reports (including VPATs) are created and shared with clients that include specific WCAG notes and product recommendations. </dd>
          </div>

          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/space.png">
              I am improving Level Access' methodology
            </dt>
            <dd>Accessibility + Agile! Team Mercury is improving the auditing process for both consultants and clients.</dd>
          </div>

          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/highfive.png">
              I mentor individuals and teams
            </dt>
            <dd>I guide new and growing accessibility professionals on tools, process, and development (including JSX/TSX)</dd>
          </div>




        </dl>
      </div>
    </div>
  </div>
</section>

<section class="mx-auto pt-6 flex wrapper" style="flex-direction: row-reverse">
  <h2 class="mt-20 block">What I'm up to <span style="display: block">[when offline]</span></h2>

  <div class="mt-0 mx-auto grid max-w-2xl gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none">
    <div class="lg:pt-4">
      <div class="">

        <dl class="mt-4 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none flex col about-up-to" style="max-width: 70rem">

          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/virtual.png">
              I conduct remote design reviews
            </dt>
            <dd>Part of my work at Level Access is assessing prototypes and design systems for UX issues live with clients.</dd>
          </div>
          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/audit.png">
              I audit websites, apps, and shareable digital files
            </dt>
            <dd>Reports (including VPATs) are created and shared with clients that include specific WCAG notes and product recommendations. </dd>
          </div>

          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/space.png">
              I am improving Level Access' methodology
            </dt>
            <dd>Accessibility + Agile! Team Mercury is improving the auditing process for both consultants and clients.</dd>
          </div>

          <div class="relative pl-20 p-1rem">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/highfive.png">
              I mentor individuals and teams
            </dt>
            <dd>I guide new and growing accessibility professionals on tools, process, and development (including JSX/TSX)</dd>
          </div>




        </dl>
      </div>
    </div>
  </div>
</section>
 
  <section class="Angled homepage-blue about" style="padding: 5rem 0 8rem 0">

    <div class="container wrapper mx-auto">
      <div class="flex relative _2-col-grid">
      
      <div>
        <h2 style="font-size: 2.3rem; padding-left: 0; font-family: 'Poppins'">Contributions & Certifications</h2>
        <ul class="" style="margin-top: .5em">
          <li><strong>Vue A11y Github Repo</strong> <small><a href="https://github.com/kevinlogan94/vue-a11y" class="underline">https://github.com/kevinlogan94/vue-a11y</a></small><br>Collaborative effort to create vueJS web application for demoing accessibility</li>
          <li style="margin-top: 1em"><strong>Career Village Volunteer</strong> <small><a href="https://careervillage.org/questions/tagged/accessibility" class="underline">https://careervillage.org/questions/tagged/accessibility</a></small><br>Answering student concerns about accessibility, ux, and the web</li>
          <li style="margin-top: 1em"><strong>Amara Caption Volunteer</strong> <small><a href="https://blog.amara.org/2023/12/18/how-to-transcribe-audio-to-text" class="underline">https://blog.amara.org/2023/12/18/how-to-transcribe-audio-to-text</a></small><br>Adding captions and transcriptions to open-source and educational video content</li>
          <li style="margin-top: 1em"><strong>IAAP CPWA</strong> <small><a href="https://www.accessibilityassociation.org/s/cpwa-cpcc-was" class="underline">https://www.accessibilityassociation.org/s/cpwa-cpcc-was</a></small><br>November 2023 - Present</li>
          <li style="margin-top: 1em"><strong>IAAP CPACC</strong> <small><a href="https://www.accessibilityassociation.org/s/cpwa-cpcc-was" class="underline">https://www.accessibilityassociation.org/s/cpwa-cpcc-was</a></small><br>November 2023 - Present</li>
          <li style="margin-top: 1em"><strong>IAAP WAS</strong> <small><a href="https://www.accessibilityassociation.org/s/cpwa-cpcc-was" class="underline">https://www.accessibilityassociation.org/s/cpwa-cpcc-was</a></small><br>September 2021 - Present</li>
        </ul>
        
    </div>

    <div class="_10-col-grid">
      
      <div id="w-node-_12fdc28f-ed3e-590f-dec8-b4b0dbb98728-4b58e707" class="homepage--dribble-shots relative">
        <!-- <div id="w-node-aea9e847-fdbd-5d99-1480-fa09f6bab449-4b58e707">
          <div class="w-dyn-list">
            <div class="w-dyn-items">
              <div class="dribbble-shot w-dyn-item" style="position:relative;padding-top:56.25%;">
                
                <img src="/img/c-and-c5.jpeg" loading="lazy" alt="">
              
            </div><div class="caption" style="margin-left: 4em; margin-top: 1em; padding-right: 1em"><em>A short video about a recent project.<br><button>[view transcript]</button></em></div>
              </div></div>
              </div> -->
              <div class="dribbble-shots2 w-dyn-list">
                <div class="w-dyn-items">
                  <div class="dribbble-shot w-dyn-item">
                    <img src="/img/c-and-c.jpg" loading="lazy" alt="">
                  </div><div class="caption" style="margin-left: 4em; margin-top: 1em; padding-right: 1em"><em>Taking notes in preparation for the CPACC exam.</em></div>
      
                </div>
                        </div>
              </div>    
          </div>
      
      </div>


      <div class="flex relative _2-col-grid" style="margin-top: 2rem">
      
        <div>
          <div class="lg:pr-8">
            <div class="lg:max-w-lg">
              <h2 class="mt-0" style="font-size: 2.3rem; padding-left: 0; font-family: 'Poppins'">Collections</h2>

              <ul>
                <li>
                  <a href="https://boardgamegeek.com/collection/user/melanielinares" class="underline">Boardgame collection<span aria-hidden="true"> ↗</span><span style="position: absolute; opacity: 0">external link</span></span></a>
                </li>
                <li>
                  <details>
                    <summary><h4 class="inline">Books I want to add to my collection</h4></summary>
                    <ul>
                      <li>Alt-Text As Poetry, by Bojana Coklyat and Shannon Finnegan </li>
                      <li><s>Inclusive Design Patterns, by Heydon Pickering</s> ✔️</li>
                      <li><s>Sitting Pretty, by Rebekah Taussig</s> ✔️</li>
                    </ul>
                  </details>      </li>
                <li>
                  <details>
                    <summary><h4 class="inline">What I want to see and do list</h4> (places, activities, etc.)</summary>
                    <ul>
                      <li><s>participate in a GAAD (global accessibility awareness day) event</s> ✔️</li>
                      <li>learn spanish</li>
                      <li>learn ASL (american sign language)</li>
                      <li><s>go to an escape room</s> ✔️</li>
                      <li><s>go on a cruise</s> ✔️</li>
                      <li>learn archery</li>
                    </ul>
                  </details>      </li>
              </ul>
                  </div>
          </div>      
      </div>
  
      <div class="">
        <div class="lg:pr-8">
          <div class="">
            <h2 class="mt-0" style="font-size: 2.3rem; padding-left: 0; font-family: 'Poppins'">Recent post I love</h2>
            <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7026972328563490816" height="172rem" width="100%" frameborder="0" allowfullscreen="" title="Jonathan Avila, CPWA post on LinkedIn about WCAG 2.2"></iframe>
          </div>
        </div>
            </div>
        
        </div>


        </div>
  </section>








  <section class="Angled homepage-blue" style="padding-bottom: 5rem">
 

    <div class="container wrapper mx-auto">
      <div class="flex relative ">
      
      <div>
        <h2 style="font-size: 2.3rem; padding-left: 0; font-family: 'Poppins'">Want to get in touch?</h2>
        
        <div class="flex" style="gap: 4rem;">
        <p>
          <strong>Contact</strong><br>
          If you'd like to reach out to chat or ask me anything, please contact me via <a href="mailto:melanielinares.a11y@gmail.com">email.</a>
        </p>
        <p>
          <strong>Mentoring</strong><br>
          If youwant to schedule some time to talk shop or goals check out my <a href="https://calendly.com/melanielinares">Calendly.</a>
        </p>
        <p>
          <strong>Work Inquiries</strong><br>
         I'm, not currently taking on new projects.
        </p>
        </div>
    </div>

      
      </div>





        </div>

  
  </section>








{{ end }}