{{ define "main" }}


{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "backgroundcolor" "blue" "title" "About me & what I love to do" "subtitle" "I'm a front-end UX/UI developer with 7+ years of experience designing and developing for the web" "heroP" "If you have questions on any of these projects or would like to discuss how I may be right for your project please " "heroPlinktext" "get in touch" "heroPlinkurl" "/values") }}

<section class="mw7 center ph3 pt4" style="padding-top:77px">

  <section class="pa3">
      <h1><b class="db">About me & what I love to do</b> I'm a front-end UX/UI developer with 7+ years of experience designing and developing for the web</h2>
      <p>I currently work as a Senior Software Engineer at <a href="">Insight</a> for government and 
        manufacturing clients. Previously, I designed and developed websites for 
        <a href="">StayOnline LLC</a> and <a href="">The International Society of Automation</a>.</p>
  </section>
  <section class="pa3">
      <h2 class="b">During the week I am an:</h2>
      <ul>
          <li><img class="db"/><b>Inclusion and Diversity Event Lead at Insight</b>
          <br>I help plan internal events and empathy activities to encourage discussion</li>
          <li><img class="db"/><b>Accessibility and Inclusivity Design global team member at Insight</b>               
          <br>I collaborate with other branch leads to focus on training and education for 
          Insight on the global level. Our goal is to ensure that accessibility is an Insight 
          standard vs just an offering</li>             
      </ul>
  </section>
  <section class="pa3">
    <h2 class="b">Bite-sized talks & advocacy:</h2>
    <ul>
        <li>This is the Talk Title - August 2019
          This is a brief description (length: 00:00:00)
        <br> 
        <audio controls>
          <source src="horse.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
      </li>
      <li>This is the Talk Title - November 2019
        This is a brief description (length: 00:00:00)
      <br> 
      <audio controls>
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    </li>           
    </ul>
</section>
<section class="pa3">
  <h2 class="b">During the week I am an:</h2>
  <ul>
      <li><img class="db"/></li>
      <li><img class="db"/></li>
      <li><img class="db"/></li>
      <li><img class="db"/></li>              
  </ul>
  <caption>[From left to right]: <br>
    A few of my favorite board games; A few Shadowrun rpg collectibles I picked up at GenCon 2019 (I was a gamemaster); I love to bike and roller-blade at my 
    local park; My desk and current streaming setup;</caption>
</section>
<section class="pa3">
  <h2 class="b">When I’m not working:</h2>
  <ul>
      <li><img class="db"/><b>I love playing and teaching board games</b>
      <br><a href="">My Board Game Geek (BGG) collection</a></li>
      <li><img class="db"/><b>I run tabletop RPGs on weekends for friends and family</b>               
      <br>I even made this application to <a href="">create a character</a></li>    
      <li><img class="db"/><b>I visit my local park</b>
      <br>When it’s warm I enjoy rollerblading at the park with my dog. <br><a href="">Check out my activity logs</a>.</li>
      <li><img class="db"/><b>I host design and dev streams</b><br> I occasionally stream on my <a href="">twitch channel</a> for designing, painting, 
        and gaming </li>           
  </ul>
</section>
<section class="pa3">
  <h2 class="b">Off-topic collections and lists:</h2>
  <p>I love making lists so here you go! I try to keep it updated annually.</p>
  <ul>
      <li>
        <a href="">My favorite apps, websites, games, food, and places</a>
    </li>
    <li> 
      <a href="">Not your average to-do list</a> (no grocery lists here, only achievement hunting)
    </li>
    <li> 
      <a href="">Things I really want</a> (books, tech, etc)
    </li> 
    <li> 
      <a href="">Virtual Pinboard</a> (photo archive, ribbons, stickers, and badges)
    </li>           
  </ul>
</section>
  <section class="pv4">
    <div class="ph3 center">
      <h2 class="b f3">Find me in the wild</h2>
      <p>
        <b>I’m very active in these meetup groups and associations:</b>
        <ul>
          <li>The Raleigh chapter of The Interaction Design Association (IxDA)</li>
          <li> Triangle User Experience Professionals Association (UXPA)
          </li>
          <li>Women in Tech Allies (WITA)</li>
        </ul>
      </p>
      <p>
        <b>Upcoming events I’ll be at:</b>
        <ul>
          <li>static</li>
          <li>static</li>
          <li>dynamic</li>
        </ul>
      </p>
      </div>
  </section>

</section>

{{ partial "jumbotron" (dict "imageUrl" .Params.image "backgroundcolor" .Params.backgroundcolor "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>

{{ end }}
