{{ define "main" }}


<!-- {{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "backgroundcolor" "blue" "title" "About me & what I love to do" "subtitle" "I'm a front-end UX/UI developer with 7+ years of experience designing and developing for the web" "heroP" "If you have questions on any of these projects or would like to discuss how I may be right for your project please " "heroPlinktext" "get in touch" "heroPlinkurl" "/values") }} -->



<section class="center ph3 content green mb-20" style="padding-top:77px; margin-top: 50px;">

  <div class="shapes" style="pointer-events: none; position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  opacity: .5;">
  
    <div class="cross cross1" data-wh="20">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="circle crc2"></div>
  
    <div class="cross cross2">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  
  </div>

  <div id="top-section" class="Angled green mb-52">
    <div class="max-w-7xl mx-auto">
  <h1 class="text-4xl leading-none tracking-tight lg:text-6xl md:text-5xl sm:text-4xl"><b>A bit about
    me</b></h1>

  <p><span class="text-xl">My name is Melanie <span class="group inline relative" tabindex="0" role="tooltip">
      <span class="">Linares <span aria-hidden="true">🔊</span></span>
      <span class="top-0 group-hover:opacity-100 group-focus:opacity-100 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute left-1/2 
      -translate-x-1/2 translate-y-full opacity-0 mx-auto tooltip">(sounds like "lynn-r-s")</span>
  </span>
 and I am an <strong>accessibility-focused UX developer</strong> who has been designing and developing for the web since
    2012.</span></p>
    



    <p class="mt-8">As part of the <a href="https://www.levelaccess.com" class="underline">Level Access</a> delivery team I work with <strong>brands and
    government agencies</strong> to ensure UX and accessibility are baked-in to digital products. <span
      aria-hidden="true">🍞✨</span> Previously I was an Inclusion and Diversity Event Lead and Accessibility and Inclusivity Design team member at <a
      href="https://www.insight.com" class="underline">Insight</a>.</p>
    <p class="mt-4 notice"><span aria-hidden="true">*</span>Check out my <a href="/files/MelanieLinares-Resume.pdf" class="underline">résumé</a> or find me on <a href="https://www.linkedin.com/in/melanie-linares-79845553" class="underline">LinkedIn</a>.</p>
  </p>
</div>
</div>
</section>

<section id="link-section" class="-mt-64">

  <div class="">
      <div class="-my-4 flex justify-center gap-5 py-4 sm:gap-8">
          <div class="relative aspect-[9/10] w-44 flex-none    sm:w-72 ">
            <img alt="Mel Linares smiling outside with a T-shirt that reads: best effin advisor ever" src="/img/about-advisor.jpeg" width="4240" height="2384" decoding="async" data-nimg="1" class="overflow-hidden sm:rounded-2xl rotate-2 rounded-xl absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
          </div>
          <div class="relative aspect-[9/10] w-44 flex-none   sm:w-72 ">
              <img alt="Mel wearing headphones in a gaming chair" src="/img/about-headphones.jpeg" width="4240" height="2384" decoding="async" data-nimg="1" class="overflow-hidden sm:rounded-2xl -rotate-2 rounded-xl absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
          </div>
          <div class="relative aspect-[9/10] w-44 flex-none   sm:w-72 ">
              <img alt="desk with bird skeleton decoration, telescope, and laptop that reads: make for good" src="/img/about-desk.jpeg" width="4240" height="2384" decoding="async" data-nimg="1" class="overflow-hidden sm:rounded-2xl rotate-2 rounded-xl absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
          </div>
          <div class="relative aspect-[9/10] w-44 flex-none  sm:w-72 ">
              <img alt="office cubicles lit up with twinkle lights and decorated with fake snow and trees" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.15752-9/79905601_3516296208395543_7883798739691765760_n.jpg?stp=dst-jpg_s2048x2048&_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=1n37AGs6qacAX8_j7qM&_nc_ht=scontent-iad3-1.xx&oh=03_AdSv0D3rqyGzFciFxvhD-XetaKt91Pz5CykZzMN5Kfyb0g&oe=645958A3" width="4240" height="2384" decoding="async" data-nimg="1" class="overflow-hidden sm:rounded-2xl -rotate-2 rounded-xl absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
          </div>
          <div class="relative aspect-[9/10] w-44 flex-none  sm:w-72 ">
              <img alt="black dog with white fur around face lazilyrelaxing on a grey couch" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.15752-9/334942838_120277537665736_6577253588895209832_n.jpg?stp=dst-jpg_s2048x2048&_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=_d-_iwgAkNcAX9_seI1&_nc_ht=scontent-iad3-1.xx&oh=03_AdSJbuk9d4lNAmdLf4ptZRl1RuMiIXyD3FNkbNkrkDdkLA&oe=64594D51" width="4240" height="2384" decoding="async" data-nimg="1" class="overflow-hidden sm:rounded-2xl rotate-2 rounded-xl absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
<!-- Modal -->
<button id="modal-trigger" class="absolute bottom-0 text-sm px-6 py-3 underline right-0 -mb-16 mr-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
<span aria-hidden="true">+</span> view personal pinboard
</button>
          </div>
      </div>
  </div>

  </section>

<section class="max-w-7xl mx-auto pt-6">
  <h2 class="mt-20 block">What I'm up to:</h2>

  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
    <div class="lg:pr-8 lg:pt-4">
      <div class="lg:max-w-lg">
        <h3>During the week</h3>
        <dl class="mt-4 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">

          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/virtual.png">
              I conduct remote design reviews
            </dt>
            <dd>Part of my work at Level Access is assessing prototypes and design systems for UX issues directly with teams.</dd>
          </div>
          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/audit.png">
              I audit websites, apps, and shareable digital files
            </dt>
            <dd>Reports are created and shared with clients that include specific WCAG notes and product recommendations. </dd>
          </div>

          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/space.png">
              I am improving Level Access' methodology
            </dt>
            <dd>Accessibility + Agile! Team Mercury is improving the auditing process for both consultants and clients.</dd>
          </div>

          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/highfive.png">
              I mentor individuals and teams
            </dt>
            <dd>I guide new and growing accessibility professionals on tools, process, and development (including JSX/TSX)</dd>
          </div>




        </dl>
      </div>
    </div>
    <div class="lg:pr-8 lg:pt-4">
      <div class="lg:max-w-lg">
        <h3>When I'm not working</h3>
        <dl class="mt-4 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">

          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/boardgame.png">
              I enjoy playing and teaching people how to play boardgames
            </dt>
            <dd>Back in 2019 I was invited to gaming convention, Gencon, to be a gamemaster.</dd>
          </div>

          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/rollerblade.png">
              I can be found rollerblading in the park with my dog
            </dt>
            <dd>As a new interest, I am still working to build up my strength.</dd>
          </div>

          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/podcast.png">
              I occassionally stream on <a href="twitch" class="underline font-bold">Twitch</a> and <a href="youtube" class="underline font-bold">YouTube</a>
            </dt>
            <dd>I chat about accessibility, design, or can be found playing some of my favorite casual games.</dd>
          </div>

          <div class="relative pl-20">
            <dt class="font-semibold text-gray-900">
              <img class="absolute left-0 h-14 w-14 text-indigo-600" src="/img/lego.png">
              I love building Lego sets and custom planted terrariums
            </dt>
            <dd>The Lego botanical sets are my favorite.</dd>
          </div>


        </dl>
      </div>
    </div>
  </div>







</section>



<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50  justify-center items-center" id="modal-id">
  <div class="relative w-auto mt-20 mb-6 mx-auto transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:max-w-[500px] min-[992px]:max-w-[800px] min-[1200px]:max-w-[1140px] transform-none opacity-100">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full mt-20" role="dialog" tabindex="-1" aria-describedby="modal-title" aria-modal="true" id="modal">
      <!--header-->
      <div class="flex items-start justify-between p-5 rounded-t">
        <h3 id="modal-title" class="text-3xl font-semibold text-white">
          Virtual Pinboard
        </h3>
        <button id="close-btn" class="p-1 ml-auto bg-transparent border-0 float-right text-3xl leading-none" onclick="toggleModal('modal-id')">
          <span class="bg-transparent h-6 w-6 text-xl text-white">
            <span aria-hidden="true">×</span> close
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative flex-auto">
        {{ partial "pinboard" }}
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 rounded-b">
        <button id="second-close-btn" class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="hidden opacity-75 fixed inset-0 z-40 bg-black" id="modal-id-backdrop" tabindex="0"></div>

</div>    


  </div>



  <section class="max-w-7xl mx-auto pt-6">
  
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2>Collections</h2>
          <p class="lg:pt-4 text-xl">I love making lists and try to keep these updated annually.</p>
          <ul>
            <li>
              <a href="https://boardgamegeek.com/collection/user/melanielinares" class="underline">Boardgame collection<span aria-hidden="true"> ↗</span><span style="position: absolute; opacity: 0">external link</span></span></a>
            </li>
            <li>
              <details>
                <summary><h4 class="inline">Books I want to add to my collection</h4></summary>
                <ul>
                  <li>Alt-Text As Poetry, by Bojana Coklyat and Shannon Finnegan </li>
                  <li><s>Inclusive Design Patterns, by Heydon Pickering</s> ✔️</li>
                  <li><s>Sitting Pretty, by Rebekah Taussig</s> ✔️</li>
                </ul>
              </details>      </li>
            <li>
              <details>
                <summary><h4 class="inline">What I want to see and do list</h4> (places, activities, etc.)</summary>
                <ul>
                  <li>participate in a GAAD (global accessibility awareness day) event</li>
                  <li>learn spanish</li>
                  <li>learn ASL (american sign language)</li>
                  <li><s>go to an escape room</s> ✔️ - even better, I hosted one</li>
                  <li><s>go on a cruise</s> ✔️</li>
                  <li>learn archery</li>
                </ul>
              </details>      </li>
          </ul>
              </div>
      </div>
      <div class="lg:pr-8 lg:pt-4">
        <div class="">
          <h2>Recent post I love</h2>
          <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7026972328563490816" height="172rem" width="100%" frameborder="0" allowfullscreen="" title="Jonathan Avila, CPWA post on LinkedIn about WCAG 2.2"></iframe>
        </div>
      </div>
    </div>
  
  </section>


  </div>
</section>

{{ end }}