{{ define "main" }}


<!-- {{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "backgroundcolor" "blue" "title" "About me & what I love to do" "subtitle" "I'm a front-end UX/UI developer with 7+ years of experience designing and developing for the web" "heroP" "If you have questions on any of these projects or would like to discuss how I may be right for your project please " "heroPlinktext" "get in touch" "heroPlinkurl" "/values") }} -->



<section class="center ph3 content" style="padding-top:77px; margin-top: 50px;">

  <h1 class="text-4xl leading-none tracking-tight lg:text-6xl md:text-5xl sm:text-4xl" style="color: black">A bit about
    me</h1>

  <p>I am an <strong>accessibility-focused UX developer</strong> who has been designing and developing for the web since
    2012. As part of the <a href="https://www.levelaccess.com">Level Access</a> delivery team I work with brands and
    government agencies to ensure UX and accessibility are built-in to digital products. <span
      aria-hidden="true">🍞✨</span></p>
  <p>Previously I was an Inclusion and Diversity Event Lead and Accessibility and Inclusivity Design team member at <a
      href="www.insight.com">Insight</a>. <br>
    Check out my <a href="resume">résumé</a> or find me on <a href="linkedin">LinkedIn</a>.
  </p>



  <h2>What I'm up to:</h2>

  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
    <div class="lg:pr-8 lg:pt-4">
      <div class="lg:max-w-lg">
        <h3>During the week</h3>
        <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"></path>
              </svg>
              I conduct in-person design reviews
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"></path>
              </svg>
              I audit websites, apps, and shareable digital files
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"></path>
              </svg>
              I am improving Level Access' methodology as part of "Team Mercury" <span
              aria-hidden="true">🪐🔭</span>
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"></path>
              </svg>
              I mentor internal and externam teams on process and accessible development through Agile
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>




        </dl>
      </div>
    </div>
    <div class="lg:pr-8 lg:pt-4">
      <div class="lg:max-w-lg">
        <h3>When I'm not working</h3>
        <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"></path>
              </svg>
              I enjoy playing and teaching people how to play boardgames
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd"></path>
              </svg>
              I can be found rollerblading in the park with my dog Atlas
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path
                  d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z">
                </path>
                <path fill-rule="evenodd"
                  d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                  clip-rule="evenodd"></path>
              </svg>
              I occassionally stream on <a href="twitch">Twitch</a> and <a href="youtube">YouTube</a>
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>

          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path
                  d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z">
                </path>
                <path fill-rule="evenodd"
                  d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                  clip-rule="evenodd"></path>
              </svg>
              I love building Lego sets and custom planted terrariums
            </dt>
            <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
              suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
          </div>


        </dl>
      </div>
    </div>
  </div>




  <section id="link-section">

    <div class="mt-16 sm:mt-20">
        <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
            <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2">
                <img alt="" src="https://spotlight.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fimage-2.3c6c01cf.jpg&w=640&q=75" width="4240" height="2384" decoding="async" data-nimg="1" class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
            </div>
            <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl -rotate-2">
                <img alt="" src="https://spotlight.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fimage-2.3c6c01cf.jpg&w=640&q=75" width="4240" height="2384" decoding="async" data-nimg="1" class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
            </div>
            <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2">
                <img alt="" src="https://spotlight.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fimage-2.3c6c01cf.jpg&w=640&q=75" width="4240" height="2384" decoding="async" data-nimg="1" class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
            </div>
            <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2">
                <img alt="" src="https://spotlight.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fimage-2.3c6c01cf.jpg&w=640&q=75" width="4240" height="2384" decoding="async" data-nimg="1" class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
            </div>
            <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl -rotate-2">
                <img alt="" src="https://spotlight.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fimage-2.3c6c01cf.jpg&w=640&q=75" width="4240" height="2384" decoding="async" data-nimg="1" class="absolute inset-0 h-full w-full object-cover" loading="lazy" style="color:transparent">
            </div>
        </div>
    </div>
    </section>


<div>

<!-- Modal -->
<button id="modal-trigger" class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
  Open regular modal
</button>


<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50  justify-center items-center" id="modal-id">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white" role="dialog" tabindex="-1" ariadescribedby="modal-title" aria-modal="true" id="modal">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 id="modal-title" class="text-3xl font-semibold">
          Modal Title
        </h3>
        <button id="close-btn" class="p-1 ml-auto bg-transparent border-0 text-black float-right text-3xl leading-none font-semibold" onclick="toggleModal('modal-id')">
          <span class="bg-transparent text-black h-6 w-6 text-2xl block">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-4 text-slate-500 text-lg leading-relaxed">
          I always felt like I could do anything. That’s the main
          thing people are controlled by! Thoughts- their perception
          of themselves! They're slowed down by their perception of
          themselves. If you're taught you can’t do anything, you
          won’t do anything. I was taught I could do everything.
        </p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
          Close
        </button>
        <button id="save-btn" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop" tabindex="0"></div>

</div>    



  <h2>During the week:</h2>
  <ul>
    <li><img class="db" /><b>Inclusion and Diversity Event Lead at Insight</b>
      <br>I help plan internal events and empathy activities to encourage discussion
    </li>
    <li><img class="db" /><b>Accessibility and Inclusivity Design global team member at Insight</b>
      <br>I collaborate with other branch leads to focus on training and education for
      Insight on the global level. Our goal is to ensure that accessibility is an Insight
      standard vs just an offering
    </li>
  </ul>
  </div>
  <!-- <div>
    <h2 class="b">Bite-sized talks & advocacy:</h2>
    <ul>
        <li>This is the Talk Title - August 2019
          This is a brief description (length: 00:00:00)
        <br> 
        <audio controls>
          <source src="horse.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
      </li>
      <li>This is the Talk Title - November 2019
        This is a brief description (length: 00:00:00)
      <br> 
      <audio controls>
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    </li>           
    </ul>
  </div> -->
  <div>
    <h2 class="b">During the week I am an:</h2>
    <ul>
      <li><img class="db" /></li>
      <li><img class="db" /></li>
      <li><img class="db" /></li>
      <li><img class="db" /></li>
    </ul>
    <caption>[From left to right]: <br>
      A few of my favorite board games; A few Shadowrun rpg collectibles I picked up at GenCon 2019 (I was a
      gamemaster); I love to bike and roller-blade at my
      local park; My desk and current streaming setup;</caption>
  </div>
  <div>
    <h2 class="b">When I’m not working:</h2>
    <ul>
      <li><img class="db" /><b>I love playing and teaching board games</b>
        <br><a href="">My Board Game Geek (BGG) collection</a>
      </li>
      <li><img class="db" /><b>I run tabletop RPGs on weekends for friends and family</b>
        <br>I even made this application to <a href="">create a character</a>
      </li>
      <li><img class="db" /><b>I visit my local park</b>
        <br>When it’s warm I enjoy rollerblading at the park with my dog. <br><a href="">Check out my activity logs</a>.
      </li>
      <li><img class="db" /><b>I host design and dev streams</b><br> I occasionally stream on my <a href="">twitch
          channel</a> for designing, painting,
        and gaming </li>
    </ul>
  </div>
  <div>
    <h2 class="b">Off-topic collections and lists:</h2>
    <p>I love making lists so here you go! I try to keep it updated annually.</p>
    <ul>
      <li>
        <a href="">My favorite apps, websites, games, food, and places</a>
      </li>
      <li>
        <a href="">Not your average to-do list</a> (no grocery lists here, only achievement hunting)
      </li>
      <li>
        <a href="">Things I really want</a> (books, tech, etc)
      </li>
      <li>
        <a href="">Virtual Pinboard</a> (photo archive, ribbons, stickers, and badges)
      </li>
    </ul>
  </div>
  <div class="pv4">
    <div class="ph3 center">
      <h2 class="b f3">Find me in the wild</h2>
      <p>
        <b>I’m very active in these meetup groups and associations:</b>
      <ul>
        <li>The Raleigh chapter of The Interaction Design Association (IxDA)</li>
        <li> Triangle User Experience Professionals Association (UXPA)
        </li>
        <li>Women in Tech Allies (WITA)</li>
      </ul>
      </p>
      <p>
        <b>Upcoming events I’ll be at:</b>
      <ul>
        <li>static</li>
        <li>static</li>
        <li>dynamic</li>
      </ul>
      </p>
    </div>
  </div>

</section>

{{ partial "jumbotron" (dict "imageUrl" .Params.image "backgroundcolor" .Params.backgroundcolor "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
  {{ if modBool $index 2 }}
  {{ partial "media-block" $element }}
  {{ else }}
  {{ partial "media-block-reverse" $element }}
  {{ end }}
  {{ end }}

</div>

{{ end }}