/*    LAYOUTS:
 *    -------------
 *    Home: default
 *
 *    About: default
 *
 *    Work hub: "/post"
 *    Work individual: "/post/single"
 *
 *    Articles hub: default
 *    Articles individual: default
   *
 */

 @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&=familyMontserrat:wght@500&family=Hepta+Slab:wght@300;400;600;700&familyPermanent+Marker:wght@400;&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;600;800&display=swap');


 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap'); */

 /* @import url('http://fonts.cdnfonts.com/css/jetbrains-mono'); */
/* 
@import url('http://fonts.cdnfonts.com/css/lora'); */

/* External Library Includes */
/* @import './imports/_reset'; */

/* Modules */
/* @import './imports/_header';
@import './imports/hero';

@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights'; */
/* @import './imports/_line-height'; */
/* @import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths'; */
/* @import './imports/_widths'; */
/* @import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity'; */
/* @import './imports/_spacing'; */
/* @import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale'; */
/* @import './imports/_typography'; */
/* @import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states'; */
/* @import './imports/_z-index'; */
/* @import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms'; */

/* Variables */
/* Importing here will allow you to override any variables in the modules */
/* @import './imports/_colors'; */
@import './imports/_media-queries';
/* @import './imports/_variables'; */

/* Debugging */
/* @import './imports/_debug-children';
@import './imports/_debug-grid'; */

/* Uncomment out the line below to help debug layout issues */
/* @import './imports/_debug'; */


:root {
    /* #f0f0f0 in decimal RGB */
    --purple-hex: #e7e3f7;
    --purple-rgb: 231,227,247;

    --green-hex: #D4EFE1;
    --green-rgb: 212, 239, 225;

    --blue-hex: #E5EEFF;
    --blue-rgb: 229, 238, 255;

    --pink-hex: #fce9e9;
    --pink-rgb: 255, 220, 220
  }


html, body {
    overflow-x:hidden;
  }

li {
    margin-bottom: .33em;
}

  .caption {
    position: relative;
    padding-left: 4em!important;
    padding-top: 2em!important;
 }

 .caption:before, .img-w-caption .caption:before {
    content: "";
    filter: drop-shadow(4px 3px 0px #ffffff);
     top: -1em;
     left: -0.5em;
     width: 60px;
     height: 37px;
     transform: scale(-1, -1) rotate(45deg);
     display: block;
     position: absolute;
 }

 .Angled + .Rectangular,
 .Rectangular + .Rectangular {
    margin-top: -17em 
 }

 .Rectangular + .Rectangular .lg\:w-1\/2:has(.img-w-caption) {
    padding-top: 2.5em 
 }

 .img-w-caption img {
     max-height: 70vh
 }

  p {max-width: 850px;}

  h3 {max-width: 900px}

  .bg-pink.pink {
    background-color: #de4f4f;
  }

  .bg-pink.purple {
    background-color: #6224b4;
  }

  .bg-pink.green {
    /* background-color: #308461; */
    background-color: #1e7a50;    
  }

  .bg-pink.blue {
    background-color: #2740ca;
  }


  .bg-pink.purple a, .bg-pink.green a, .bg-pink.blue a, .bg-pink.pink a  {
    color: #ffffff;
  }

  .bg-pink.purple a img, .bg-pink.green a img, .bg-pink.blue a img, .bg-pink.pink a img {
    filter: grayscale(1) brightness(100);
  }
  

#top-section {
    /* height: 115vh;
    min-height: 800px; */
    padding-bottom: 17em;
}

#top-section.pink {
    background-color: #F8E9E8
}

#top-section.purple {
    background-color: var(--purple-hex);
}

#top-section.green {
    background-color: var(--green-hex);
}

#top-section.blue {
    background-color: var(--blue-hex);
}

#top-section.pink {
    background-color: var(--pink-hex);
}

.cms.pink + .related-content,
.cms.pink + .related-content + footer {
    background-color: var(--pink-hex);
}

.cms.purple + .related-content,
.cms.purple + .related-content + footer {
    background-color: var(--purple-hex);
}


.cms.green + .related-content,
.cms.green + .related-content + footer {
    background-color: var(--green-hex);
}

.cms.blue + .related-content,
.cms.blue + .related-content + footer {
    background-color: var(--blue-hex);
}

header {
    z-index: 1;
}

.hero-header {
    padding-top: 9rem;
}

.hero-header-image {
    max-width: 33.5em;
    height: 33.85em;
    transform: rotate(6deg);
    border-radius: 0.5em;
    margin-top: 2.5em;
    margin-bottom: 3em;
    background-color: white;
    margin-left: -3em;
    margin-right: 1.5em
}

.hero-header-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 0.5em;
    transform: rotate(1.5deg);
    margin-top: -10px;
    margin-left: -5px
}

.intro-section {
    background-color: white;
    border-radius: .5em;
    padding: 2.5em;
    margin-top: -7em;
    position: relative;
}

.intro-section:before {
    content: '';
    display: block;
    border: 2px dashed rgba(222, 79, 79, 1);
    margin-left: -3em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.5em;
    border-radius: 0.5em;
}

.purple .intro-section:before {
    border: 2px dashed #c3ace2;
}

.pink .intro-section:before {
    border: 2px dashed #ebb6b0;
}


.green .intro-section:before {
    border: 2px dashed #b3d9c5;
}

.blue .intro-section:before {
    border: 2px dashed #aabdff;
}

#main {
    position: relative
}

aside {
    position:absolute;
    right: 0;
    margin-top: 7em;
    padding-bottom: 8em;
}

aside img {
    height: 42px;
    width: auto;
    max-width: 115px;
    object-fit: contain;
}


.overlap-bg {
    background-color: #EEF0F8;
    padding: 4em 1em;
    padding-left: 9em;
    margin-left: -9em!important;
    z-index: -1;
}

.overlap-bg-reverse {
    background-color: #EEF0F8;
    padding: 4em 1em;
    padding-right: 9em;
    margin-right: -9em!important;
    /* z-index: -1; */
}

.overlap-image, .overlap-image-reverse {
    position: relative;
    margin-bottom: 3em;
}

.overlap-image-reverse {
    margin-top: -5em
}

.overlap-image img:not(.small-img) {
    padding-left: 3em
}

.overlap-image .small-img {
    position: absolute;
    bottom: -3em;
    width: 40%;
}

.overlap-image-reverse img:not(.small-img) {
    padding-right: 3em
}

.overlap-image-reverse .small-img {
    position: absolute;
    bottom: -0;
    width: 40%;
    right: 0;
}

.overlap-image-reverse em {
    width: 50%;
    display: block;
    padding-top: 1.5em;
    padding-right: .5em;
}

.overlap-image em {
    width: 100%;
    display: block;
    padding-top: 1.5em;
    padding-left: 50%;    
}

ul:not(.icon-group),
ul:not(.vertical-icon-group),
ul:not(.project-info),
ol:not(.icon-group),
ol:not(.vertical-icon-group),
ol:not(.project-info) {
    list-style: disc;
    padding-left: 1em;
    margin: .65em 0;
}

ul.grid, ol.grid {
    padding-left: 0;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: .875em;
    font-weight: 600;
}

p:has(strong:only-child) + .card-list {
    margin-top: -1.5em;
}

ul.icon-group,
ul.vertical-icon-group,
ul.project-info {
    list-style: none;
    padding-left: 0;
    margin: .65em 0;
}

ul.project-info {
    max-width: 15em;
}

ul.project-info ul {
    list-style: disc;
    padding-left: 1.25em;
    margin: 0;
}

ul.project-info b {
    display: block;
    margin-top: .25em
}

.offset-section:not(.transparent) {
    background-color: #EEF0F8;
}

.offset-section.transparent {
    background-color: transparent;
}

.offset-section .cropped-image {
    margin-top: -3em;
    margin-bottom: 3em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.full-img {
width: 100%;
max-width: 1400px;
}

.scroll-image {
    min-height: 300px;
    /* max-height: 500px; */
    overflow-x: auto;
}

.scroll-image img {
    height: 100%!important;
    max-width: unset!important;
}

.overlap-bg-reverse {
    margin-top: -12em!important;
}

.parent-all {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    padding-bottom: 6em;
    /* padding: 0 1em; */
}

/* .parent-of-gallery {

    }
 */

.div1-04 { grid-area: 1 / 1 / 2 / 7; }
.div2-04 { grid-area: 1 / 7 / 2 / 13; }

.parent-outer {
    position: relative;
}

.content-850 {
    max-width: 850px;
}

.content-850 h3:not(:nth-of-type(1)),
.content-850 h3:not(:nth-of-type(1)) + p,
.content-850 h3:not(:nth-of-type(1)) + ul,
.content-850 h3:not(:nth-of-type(1)) + p + ul {
    padding-right: 6rem;
    width: calc(100% - 12em);
}

.div2-04 img { 
    position: absolute;
    bottom: 0;
    /* right: 0; */
    right: -8.5em;
    /* width: calc(50% + 12.75em); */
    width: calc(50% + 15.75em);
 }

 .div1-09 { grid-area: 1 / 1 / 2 / 13; }
 .div2-09 { grid-area: 2 / 7 / 3 / 13; }

.parent-of-gallery em,
.div3-10 em {
    display: block!important;
    margin-top: .5em
}
     
    .div1-20 { grid-area: 1 / 1 / 2 / 4; }
    .div2-20 { grid-area: 1 / 4 / 3 / 11; }
    .div3-20 { grid-area: 3 / 2 / 5 / 6; }
    .div4-20 { grid-area: 3 / 6 / 4 / 13; }

.div1-16 { grid-area: 1 / 1 / 2 / 5; }
.div2-16 { grid-area: 1 / 6 / 2 / 13; }

.div2-16 h3 {
    margin-top: -.25em;
    padding-bottom: .25em;
}
    
.div1-13 { 
    grid-area: 1 / 1 / 2 / 13; max-width: 850px; 
}
.div2-13 { grid-area: 2 / 1 / 6 / 6; }
.div3-13 { grid-area: 2 / 7 / 6 / 13; }

.div1-10 { grid-area: 1 / 1 / 2 / 9; }
.div2-10 { grid-area: 2 / 1 / 3 / 9; }
.div3-10 { grid-area: 2 / 10 / 3 / 13; margin-top: -5em; }

.center-text-only {
    max-width: 850px;
    margin: 0 auto;
    padding: 1em;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.05em;
}

.left-text-only {
    max-width: 850px;
    padding: 1em;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.05em;
    border: 2px solid black;
    border-radius: .5em;
}

.caption {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 12.5px;
}

em {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 12.5px;
    line-height: 1.65em;
}

.Angled .lg\:w-1\/2 + .lg\:w-1\/2 em {
    padding-bottom: 4em;
    display: block;
}

.card-list strong, .icon-group strong {
    font-family: 'JetBrains Mono', sans-serif;
    display: block; 
}

.icon-group {
    display: inline-flex!important;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 340px;
    max-width: 40rem;
}

.icon-with-content img {
    /* filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(540deg) brightness(64%) contrast(117%); */
    /* filter: invert(21%) sepia(100%) saturate(329%) hue-rotate(303deg) brightness(185%) contrast(102%) */
}

h2:before {
    content: '﹁'/ '';
    transform: scaleX(-1);
    /* color: #DE4F4F; */
}

.cms.purple h2:before,
.cms.purple h2:after {
    color: #6224b4;
}

.cms.pink h2:before,
.cms.pink h2:after {
    color: #de4f4f;
}

.cms.green h2:before,
.cms.green h2:after {
    color: #308461;
}


.cms.blue h2:before,
.cms.blue h2:after {
    color: #4F6EDE;
}

h2:after {
    content: '﹂'/ '';
    transform: scaleX(-1);
    font-family: Poppins,sans-serif;
    position: absolute;
    right: 0;
    font-size: 5rem;
    /* bottom: -0.73em; */
    bottom: -1em;
    margin-right: -.3em;
    opacity: .25;
    /* color: #DE4F4F; */
}

.intro-section h2:before,
.intro-section h2:after {
    content: '';
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.65em!important;
    font-weight: 600!important;
    line-height: 1.25;
    /* color: #00414d; */
    color: #E16060;
    margin-top: 1.5em!important;
    /* word-spacing: -0.25rem !important; */
}

.icon-with-content {
    margin-top: 3em!important;
}

.icon-with-content h3 {
    margin-top: 0!important;
}

.generic-content div.max-w-7xl {
    padding-bottom: 6em;
}
 
h2 {
    position: relative;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 2.3em!important;
    line-height: 1.15;
    /* font-weight: bold!important; */
    /* color: #DE4F4F; */
    display: inline;
}

h2 + * {
    margin-top: 2.5em!important;
}

.Twocol_image_content, .parent-outer {
    margin-bottom: 10em;
}

.yup section:last-of-type.parent-outer {
    margin-bottom: 0;
}

div + .Twocol_image_content {
    margin-bottom: 1em;
}

.Angled + .Blank {
    margin-top: -2.5em;
}

.cms h3 {
    margin-bottom: .5em;
}

.cms p, .intro-section p {
    margin-bottom: 2em;
}

.intro-section p:first-of-type {
    margin-top: 1em!important;
}

/* .cms p + ul, .intro-section p + ul {
    margin-top: -2em;
    margin-bottom: 2em;
} */

.cms p + ul {
    margin-top: -1em;
    margin-bottom: 1.5em;
}

.cms p:has(strong:only-child) + ul {
    margin-top: -1.75em;
}

.Angled .container {
    padding-top: 2.5em;
    padding-bottom: 1.75em;
}

.max-w-7xl.mx-auto.image {
    padding-bottom: 0;
}

.lg\:w-1\/2 .caption-w-img img {
    margin-top: -4.75em;
}

section.Blank + section.Blank .container:before {
    content: "";
    width: calc(100% - 12em);
    margin-left: 6em;
    display: block;
    position: absolute;
    margin-top: -10em;
    opacity: .65;
}

.cms.pink section.Blank + section.Blank .container:before {
    border-top: 2px solid var(--pink-hex);
}

.cms.purple section.Blank + section.Blank .container:before {
    border-top: 2px solid var(--purple-hex);
}

.cms.green section.Blank + section.Blank .container:before {
    border-top: 2px solid var(--green-hex);
}

.cms.blue section.Blank + section.Blank .container:before {
    border-top: 2px solid var(--blue-hex);
}

.yup section:first-of-type .lg\:w-1\/2:has(h2),
.yup section:first-of-type .lg\:w-1\/2:has(img),
.yup section:first-of-type .generic-content:has(h2),
section.Rectangular .generic-content:has(h2),
.lg\:w-3\/4:has(h2) {
    margin-top: -2.15em;
}

.lg\:w-1\/2 div {
    padding: 0 4em;
    padding-left:0;
    padding-right:8em;
}

.lg\:w-1\/2 + .lg\:w-1\/2 div {
    padding: 0 4em;
    padding-right:0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke-width: 1.75px;
    /* -webkit-text-stroke-color: #DE4F4F; */
    color: transparent;
    font-weight: 800!important;
    word-spacing: .5rem;
}

h1 b {
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: unset;
    /* color: #DE4F4F; */
    font-family: 'JetBrains Mono', sans-serif;
    word-spacing: -1.15rem;
}

.purple h1  {
    -webkit-text-stroke-color: #6224b4;
}

.green h1  {
    /* -webkit-text-stroke-color: #308461; */
    -webkit-text-stroke-color: #1e7a50;    
}

.blue h1  {
    /* -webkit-text-stroke-color: #4F6EDE; */
    -webkit-text-stroke-color: #2740ca;
}

.pink h1  {
    -webkit-text-stroke-color: #de4f4f;
}


.purple h1 b  {
    color: #6224b4;
}

.pink h1 b  {
    color: #de4f4f;
}

.green h1 b  {
    color: #1e7a50;
}

.blue h1 b  {
    color: #2740ca;
}


.cms img {
    border-radius: 1em;
}

.notice {
    font-size: 13px;
    position: relative;
    padding-left: 35px;
    /* color: white; */
    margin-top: 1em;
    font-family: 'JetBrains Mono', sans-serif;
}

.notice:before {
    content: "*" / "";
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -21px;
    opacity: .33;
    color: rgba(222, 79, 79, 0.75);
    /* color: white */
}

/* .cms section {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
} */

.cms section h2 {
    max-width: 850px;
    word-spacing: -0.5rem !important;
}

.cms + section {
margin-top: 10em;
}

.cms .partials div:nth-of-type(1) section:last-of-type .parent-all {
    padding-bottom: 0;
}

/* .cms .partials div:nth-of-type(1) section {
    margin-top: -2.15em;
} */

/* .cms .partials div:nth-of-type(1) section .w-full.text-top img {
    margin-top: 3em;
    width: 100%;
    padding: 0 2em .5em 2em;
}

.cms .partials div:nth-of-type(1) section .w-full.text-top img + em {
    margin: 0 2em 0 2em;
    display: block;
} */

.div3-13 {
    padding-bottom: 6em;
}

#related img {
min-height: 250px;    
max-height: 250px;
object-fit: cover;
object-position: 50% 0%;
}

.yup > section:not(:last-of-type) {
    position: relative;
    margin-bottom: 17em
}

.yup {
    background-color: #ffffff;
}

.container.max-w-7xl .generic-content {    
    max-width: 1024px!important;
    margin-left: 0;
}

.container.max-w-7xl.parent-outer .generic-content {    
    width: 100%!important;
    max-width: unset!important;
    margin-left: 0;
}

.container.max-w-7xl .generic-content > *:not(.card-list):not(.display_image_section):not(.fullwidth) {
    max-width: 850px!important;
    margin-left: 0;
}

.display_image_section {
    width: 100%;
    max-width: unset!important;
    margin-bottom: 0;
}

img.fullwidth {
    width: 100%;
    max-width: unset!important;
}

.display_image_section .content-850 {
    max-width: 715px;
}

.card-list {
    margin-bottom: 2.5em;
    max-width: 1024px
}

.card-list .process .rounded:before {
    color: #7f63ca;
    font-family: 'Poppins', sans-serif;
    font-size: 1.65em !important;
    margin-top: -3px;
}

.card-list .process .rounded:not(:last-of-type):after {
    content: "→"/"";
    color: #949494;
    font-size: 2.75em;
    margin-right: -.75em;
    z-index: 1;
}

.card-list .process .rounded:nth-of-type(1):before {
    content: "1"/"";
}

.card-list .process .rounded:nth-of-type(2):before {
    content: "2"/"";
}

.card-list .process .rounded:nth-of-type(3):before {
    content: "3"/"";
}


.Blank {
    background-color: #ffffff;
    position: relative;
}

#takeaway,
.Angled {
    position: relative;
    padding-top: 5em;
    margin-top:-7.5em!important;
    margin-bottom: 14.25em;
}

.purple #takeaway,
.purple .Angled,
.purple .Rectangular {
    /* background-color: #f4f5fd; C24242 */
    /* background-color: #E7E3F7; */
    background-color: rgba(var(--purple-rgb), 0.33);
}

.pink #takeaway,
.pink .Angled,
.pink .Rectangular {
    background-color: #fcf2f2;
}

.green #takeaway,
.green .Angled,
.green .Rectangular {
    background-color: rgba(var(--green-rgb), 0.33);
}

.blue #takeaway,
.blue .Angled,
.blue .Rectangular {
    background-color: rgba(var(--blue-rgb), 0.33);
}

/* #takeaway {
    color: #FFE2E2;
} */

#takeaway {
    background-color: #00414d;
    color: #E2EEFF;
}

/* .yup > section:nth-of-type(3) h2,
.yup > section:nth-of-type(3) h3, */
#takeaway h2,
#takeaway h3 {
    color: #FFE2E2;
}


#takeaway h2 {
    color: #E2EEFF;
}

#takeaway:before,
.Angled:before {
    content: '';
    width: 100vw; 
    height: 0; 
    border-left: 100vw solid transparent;
    margin-top: -100px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.purple #takeaway:before,
.purple .Angled:before {
    /* border-bottom: 100px solid #f4f5fd;C24242  */
    border-bottom: 100px solid rgba(var(--purple-rgb), 0.33);
}

.pink #takeaway:before,
.pink .Angled:before {
    /* border-bottom: 100px solid #f4f5fd;C24242  */
    border-bottom: 100px solid #fcf2f2;
}


.green #takeaway:before,
.green .Angled:before {
    border-bottom: 100px solid rgba(var(--green-rgb), 0.33);
}

.blue #takeaway:before,
.blue .Angled:before {
    border-bottom: 100px solid rgba(var(--blue-rgb), 0.33);
}

#takeaway:before {
    border-bottom: 100px solid #00414d;
}

.purple h2 {
    color: #6224b4;
}

.pink h2 {
    color: #de4f4f;
}

.green h2 {
    color: #1e7a50;
}

.blue h2 {
    color: #2740ca;
}

.cms.purple h3 {
    color: #7F63CA
}

.cms.pink h3 {
    color: #D93A3A
}

.cms.green h3 {
    color: #308461
}

.cms.blue h3 {
    color: #4F6EDE
}

#takeaway:after,
.Angled:after {
    content: '';
    width: 100vw; 
    height: 0; 
    border-right: 100vw solid transparent;
    position: absolute;
    bottom: -100px;
    z-index: 0;
}

.purple #takeaway:after,
.purple .Angled:after {
    /* border-top: 100px solid #f4f5fd;C24242  */
    border-top: 100px solid rgba(var(--purple-rgb), 0.33);
}

.pink #takeaway:after,
.pink .Angled:after {
    /* border-top: 100px solid #f4f5fd;C24242  */
    border-top: 100px solid #fcf2f2;
}

.green #takeaway:after,
.green .Angled:after {
    border-top: 100px solid rgba(var(--green-rgb), 0.33);
}

.blue #takeaway:after,
.blue .Angled:after {
    border-top: 100px solid rgba(var(--blue-rgb), 0.33);
}

#takeaway:after {
    border-top: 100px solid #00414d;
}

.div2-04 img {
    margin-right: -1em;
    webkit-filter: drop-shadow(-1px 1px 0px rgba(34, 34, 34, 0.25));
  filter: drop-shadow(-1px 1px 0px  rgba(34, 34, 34, 0.25));
}
/* 
.yup > section:nth-of-type(1):after {
    content:'';
    border-top: 3px solid #fae6e6;
    width: 75.5em;
    height: 5px;
    position: absolute;
    bottom: -7em;
    margin-left: calc((100vw - 75.5em) /2);
    opacity: .5;
} */

.cms .fullwidth h2:before {
    opacity: .22;
    mix-blend-mode: overlay;
}

.cms h2:before,
.cms + section h2:before {
    font-family: Poppins,sans-serif;
    position: absolute;
    left: 0;
    font-size: 5rem;
    /* margin-top: -0.68em; */
    margin-top: -1em;
    margin-left: -.3em;
    opacity: .25;
}

.icon-with-content {
    margin-left: auto;
    margin-right: auto;
}

.icon {
    max-width: 80px;
    max-height: 80px;
    padding: .25em 0
}

.icon-content {
    margin-left: calc(80px + 1em);
}

/* .icon-with-content {
    padding: 1em 0;
    margin-bottom: 1em;
} */

.nav--hidden {
    transform: translateY(calc(-1 * 5em));
    box-shadow: none;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.transparent {
    --tw-bg-opacity: 0;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

#tags li {
    display: inline-block;
    margin: 1em .25em;
}

#tags li a {
    border-radius: .5em;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
}

#tags li a:hover, #tags li a:focus {
    box-shadow: 0 0 0 2px rgba(99, 102, 241, var(--tw-border-opacity));
}

#tags li a:focus:focus-visible {
    box-shadow: unset;
    outline-color: rgba(99, 102, 241, var(--tw-border-opacity))!important;
    outline-width: 2px!important;
}

.radius-lg {
    --radius-lg: calc(var(--radius, 0.25em)*2);
    border-radius: var(--radius-lg);
}

.bg {
    --color-primary-h: 250;
    --color-primary-s: 84%;
    --color-primary-l: 54%;
    --bg-o: 1;
    background-color: hsla(var(--color-bg-h),var(--color-bg-s),var(--color-bg-l),var(--bg-o));
}

.card-v8 {
    display: block;
    text-decoration: none;
    transition: .2s;
    position: relative;
}

.card-v8 div {
    overflow: hidden;
    --radius-lg: calc(var(--radius, 0.25em)*2);
    border-radius: var(--radius-lg);  
    z-index: 999;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 1em 1em 1em;
}

.card-v8 div img {
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: 1em;
    width: calc(100% + 2em);
    max-width: unset;
}

.card-v8:hover {
    /* --shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12); */
    --color-bg-light: hsl(0, 0%, 100%);
    background-color: var(--color-bg-light);
    box-shadow: var(--shadow-md);
    transform: translate(-5px, -5px);
}

.card-v8:after {
    content: '';
    border: 3px dashed white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    --radius-lg: calc(var(--radius, 0.25em)*2);
    border-radius: var(--radius-lg);  
    transition: .2s;  
    z-index: -1;
}

.card-v8:hover:after {
    transform: translate(7px, 7px);
}

.cms.pink + .related-content .card-v8:hover:after {
    border: 2px dashed #de4f4f;
}

.cms.green + .related-content .card-v8:hover:after {
    border: 2px dashed #1e7a50;
}

.cms.purple + .related-content .card-v8:hover:after {
    border: 2px dashed #6224b4;
}

.cms.blue + .related-content .card-v8:hover:after {
    border: 2px dashed #2740ca;
}

.card-v8__title {
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --color-primary-h: 250;
    --color-primary-s: 84%;
    --color-primary-l: 54%;
    background-repeat: no-repeat;
    will-change: background-size;
    transition: background-size .3s var(--ease-in-out);
    text-decoration: none;
    background-image: linear-gradient(transparent 50%,hsla(var(--color-primary-h),var(--color-primary-s),var(--color-primary-l),.2) 50%);
    background-size: 0 100%;
}

.card-v8:hover .card-v8__title {
    background-size: 100% 100%;
}
