/*    LAYOUTS:
 *    -------------
 *    Home: default
 *
 *    About: default
 *
 *    Work hub: "/post"
 *    Work individual: "/post/single"
 *
 *    Articles hub: default
 *    Articles individual: default
   *
 */
 @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&=familyMontserrat:wght@500&family=Hepta+Slab:wght@300;400;600;700&familyPermanent+Marker:wght@400;&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap');
 
 @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_header';
@import './imports/hero';

@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
/* @import './imports/_line-height'; */
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
/* @import './imports/_widths'; */
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
/* @import './imports/_spacing'; */
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
/* @import './imports/_typography'; */
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
/* @import './imports/_z-index'; */
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
/* @import './imports/_debug-children';
@import './imports/_debug-grid'; */

/* Uncomment out the line below to help debug layout issues */
/* @import './imports/_debug'; */

html, body {
    overflow-x:hidden;
}

.content {
  position: relative  
} 

.content .first:after {
    content: '';
    position: absolute;
    display: block;
    background-size:cover!important;
    z-index: -1;
    /* filter: blur(3em); */
    background-repeat: no-repeat!important;
    background: url('/img/orange-gradient.png');
}

.takeaway:after {
    content: '';
    height: 300px;
    width: 100vw;
    position:absolute;
    margin-top: 2em;
    margin-left: -2em;
    background-color: white;
    z-index: -1;
}

/* .content.mini + .takeaway */
.takeaway {
    background-color: #48347f;
    color: white;
}

/* .content.mini + .takeaway h2  */
.takeaway h2 {
    color: white;
}

.hero-header:before {
    content: '';
    position: absolute;
    display: block;
    background-size:cover!important;
    z-index: -1;
    filter: blur(3em);
    background-repeat: no-repeat!important;
    background: url('/img/orange-circles.png');
    transform: scaleX(-1);
    top: -80vh;
    left: -20vh;
    width: 310vh;
    height: 130vh;
}

.hero {
    margin-top: 6em;
}

section {
    margin-bottom: 6em;
}

.takeaway.fullwidth {
    padding: 2em 1.5em 2em 1.5em;
    margin-bottom: 0;
}
  
.fullwidth {
    padding: 2em 0 4em 0;
    margin-top: 4em;
}

.fullwidth.img {
    margin-top: -2em;
    height:250px;
    background-attachment: fixed;
    margin-bottom: 6em;
}

.fullwidth.purple {
    background-color: #48377D;
    color: white;
}

.fullwidth.white {
    background-color: white;
    color: #333333;
}

.fullwidth.purple h2 {
    color: white;
}

.cms h2 {
    z-index: 1;
}

h2:after {
    content: "";
    display: block;
    width: 1.75em;
    height: 2px; 
    padding-top: .4em;
    border-top: 2px solid #4CD5F7;
}

.cms .fullwidth h2:before {
    opacity: .15;
}

.cms h2:before {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 0;
    font-size: 5rem;
    margin-top: -0.75em;
    margin-left: 0;
    opacity: .1;
}

.cms .fullwidth h2:before {
    color: white;
    mix-blend-mode: overlay;
}

.cms .fullwidth h2:before {
    color: black;
}

/* section:nth-of-type(1) has class .content and does not get a number */
section:nth-of-type(2) h2:before {
    content: "01" / "";
}

section:nth-of-type(3) h2:before {
    content: "02" / "";
}

section:nth-of-type(4) h2:before {
    content: "03" / "";
}

section:nth-of-type(5) h2:before {
    content: "04" / "";
}

section:nth-of-type(6) h2:before {
    content: "05" / "";
}

section:nth-of-type(7) h2:before {
    content: "06" / "";
}

section:nth-of-type(8) h2:before {
    content: "07" / "";
}

section:nth-of-type(9) h2:before {
    content: "08" / "";
}

section.takeaway h2:before {
    content: "";
}

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  
  .squiggle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 30px;
    transform: rotate(45deg);
  }
  .squiggle svg {
    position: absolute;
    bottom: -48px;
    left: -48px;
    width: 100px;
    height: 100px;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 190;
    stroke-dashoffset: 186;
    transform: translate(0, 0);
    animation-duration: 3.5s;
    animation-name: squiggle;
    animation-iteration-count: infinite;
    animation-direction: linear;
    animation-timing-function: linear;
  }
  
  @keyframes squiggle {
    0% {
      stroke-dashoffset: 186;
      transform: translate(0, 0);
    }
    100% {
      stroke-dashoffset: 355;
      transform: translate(43px, -43px);
    }
  }


.latest-project h3{
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.15rem;
    padding: 0 1.5em;
    padding-bottom: 1.15em;
}

 #related .inner .tile a:first-of-type {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#related .inner .tile a:first-of-type + p {
    font-size: 15px;
    margin: 1em 0;
}

h2 {
    color: #48377d;
    font-family: 'Poppins', sans-serif;
}

.hero .hero-header img {
    background-color: #483181;
}

.content blockquote {
    background-color: #D93A3A;
    color: white;
}

.project-info {
    grid-area: 1 / 9 / 2 / 12;
}

.project-info {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.project-info img {
    height: 38px;
}

.project-info b, .project-info span b {
    display: block;
    color: #7C67BC;
    font-size: .75em;
    margin-top: .5em;
}

.project-info li {
    margin-bottom: .75em;
}

.project-info li ul li {
    margin-bottom: unset;
}

em {
    display: block;
    font-size: .75em;
    margin-bottom: 1.5em;
    padding-top: .5em;
}

#main {
    max-width: 1400px;
}

.content blockquote:before {
    content: '"' / "";
    margin-left: -.75em; 
    margin-top: -.75em; 
    position:absolute;
    color: #48377d;
    font-family: 'Passion One', cursive;
    transform: rotate(180deg);
    font-size: 2.75em;
}

summary:hover {
    cursor:pointer
}

.div2 {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 1em;
    padding: 2em 1em 2em 1em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.20), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.10), 
    0 8px 8px rgba(0,0,0,0.05),
    0 16px 16px rgba(0,0,0,0.02);
}

.div2 > * {
    margin-left: 0
}

.div2 h2:before {
    margin-left: 0.2em;
}

/* //css-grid// */

.inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
}

.content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    }
    
    .first { grid-area: 1 / 1 / 2 / 9; }
    .div2 { grid-area: 2 / 1 / 5 / 9; }
    .content blockquote { grid-area: 4 / 10 / 5 / 12; }

.div-1 { grid-area: 1 / 1 / 3 / 6; }
.div-2 { grid-area: 2 / 6 / 4 / 11; }
.div-3 { grid-area: 3 / 3 / 5 / 7; }
.div-4 { grid-area: 5 / 1 / 7 / 6; }
.div-5 { grid-area: 5 / 6 / 7 / 11; }

.subparent3 {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 6px;
grid-row-gap: 6px;
}

.subdiv--1 { grid-area: 1 / 1 / 2 / 3; }
.subdiv--2 { grid-area: 1 / 3 / 2 / 6; }

.parent3 {
display: grid;
grid-template-columns: repeat(11, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 6px;
grid-row-gap: 6px;
}

.div--1 { grid-area: 1 / 1 / 2 / 6; }
.div--2 { grid-area: 1 / 6 / 2 / 11; }