

{{ define "main" }}

<section class="top-section-new center {{.Params.backgroundcolor}}" style="margin-top: 70px; margin-bottom: 10rem; position: relative">
  <div class="me-homepage-bg"></div>
  <!-- <div class="notification">WCAG 2.2 is the new standard! <a href="https://calendly.com/melanielinares">Get in touch</a> and learn how to make your next project compliant.</div> -->

<div class="wrapper" style="padding-top: .75rem; position: relative">

  <div class="grid">
  {{ partial "h1-main" . }}

  <div class="grid-7-11">
    <img src="/img/me-homepage.png" alt="I love working with new and existing teams" style="margin-bottom: 6rem">
  </div>
  </div>


<div class="grid">
  <div class="grid-1-6">
    <span class="large-non-heading">
      Hey, my name is Mel and I have been designing & developing for the web since 2012. I have worked with small local companies, government agencies, global enterprises, and mid-size teams as both in-house contributor and consultant.<br>
      <strong>As a Senior UX Accessibility Specialist at Blue Cross NC I am working with the design system and product development teams to ensure user-focused accessibility and Section 508 compliance.</strong>
    </span>
  </div>
  <div class="grid-7-11">
    <h2>
      I love helping teams...
    </h2>
    <ul>
      <li>Ensure design systems are WCAG 2.2 compliant</li>
      <li>Create process/branding documentation</li>
      <li>Comply with Section 508
    Work towards a  culture of constant growth</li>
    <li>Take upcoming and existing projects to the next level</li>
    </ul>
  </div>
</div>

<div class="">
  <h2 class="visibly-hidden">My unique experience</h2>
    <div class="stats" role="list">
      <div class="stat-item" role="listitem">
          <div><span class="h2">11+</span> years</div><div>building the web</div>
      </div>
      <div class="stat-item" role="listitem">
          <div><span class="h2">7+</span> years</div><div>in accessibility</div>
      </div>
      <div class="stat-item" role="listitem">
          <div><span class="h2">7+</span> years</div><div>advocating ux</div>
      </div>
      <div class="stat-item" role="listitem">
          <div><span class="h2">120+</span> </div><div>client high-fives</div>
      </div>
    </div>
  </div>


</section>

<section data-color="green">
  <div class="wrapper">

<div class="">
  <div class="center-icon">
<svg width="3.5rem" height="3.5rem" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <!-- Large Sparkle (Bottom Right) -->
  <path d="M70 45C70 58.8 81.2 70 95 70C81.2 70 70 81.2 70 95C70 81.2 58.8 70 45 70C58.8 70 70 58.8 70 45Z" stroke="#405B91" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
  
  <!-- Medium Sparkle (Center Left) -->
  <path d="M30 35C30 46 39 55 50 55C39 55 30 64 30 75C30 64 21 55 10 55C21 55 30 46 30 35Z" stroke="#405B91" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
  
  <!-- Small Sparkle (Top Center) -->
  <path d="M58 5C58 13.3 64.7 20 73 20C64.7 20 58 26.7 58 35C58 26.7 51.3 20 43 20C51.3 20 58 13.3 58 5Z" stroke="#405B91" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>


  </div>
    <h2 class="">Folks have some really nice things to say </h2>
  <div class="">

<div class="testimonial-section">

  <div class="grid-container">
    <!-- 1. FEATURED CARD (First in HTML) -->
     <div class="featured-card column">
    <div class="card reveal-fx reveal-fx--translate-up">
      <blockquote class="featured-text">
        "Mel is a powerhouse! She is extremely knowledgeable and is willing to share this knowledge with others. She has helped me grow and develop my technical skills."
      </blockquote>
      <div class="featured-footer">
        <br>
        <div class="author-info">
          <div>
            <div class="name">G. King, </div>
            <span class="handle">Consultant</span>
            </div>
        </div>
      </div>
    </div>

    <div class="column" style="flex-direction: row;">

            <div class="card">
        <p class="text">"I very much appreciate Mel's support. She was very prepared and qualified to help address the team's questions. She ensured we were all aligned."</p>
        <br>
        <div class="author-info">
          <div>
            <div class="name">Anonymous Client, </div>
            <span class="handle">Product Designer</span>
            </div>
        </div>
      </div>
      

                    <div class="card">
        <p class="text">"Mel was extremely prepared and qualified to help our team. I appreciate how they kept us alligned and focused, answering our questions confidently. 10/10 would recommend Mel!"</p>
        <br>
        <div class="author-info">
          <div>
            <div class="name">Anonymous Client, </div>
            <span class="handle">Product Manager</span>
            </div>
        </div>
      </div>


</div>

  </div>

    <!-- 2. LEFT COLUMN -->
    <div class="column col-left">
      <div class="card">
        <p class="text">"Melanie's positive attitude and natural leadership skills allow her to take on the role of the leader/mentor with ease, inspiring and guiding her colleagues in the right direction."</p>
        <br>
        <div class="author-info">
          <div>
            <div class="name">D. Middleton, </div>
            <span class="handle">Manager</span>
            </div>
        </div>
      </div>

      <div class="card">
        <p class="text">"Melanie's superpower is their ability to learn and to learn fast!"</p>
        <br>
        <div class="author-info">
          <div>
            <div class="name">N. Spirkovska, </div>
            <span class="handle">Senior Consultant</span>
            </div>
        </div>
      </div>

          <div class="card">
        <p class="text">"Mel is the rock of our 508 accessibility compliance. She consistently goes above and beyond to ensure accessibility for all."</p>
        <br>
        <div class="author-info">
          <div>
            <div class="name">C. Carbone </div>
            <span class="handle">Manager</span>
            </div>
        </div>
      </div>

    </div>



    <!-- 4. RIGHT COLUMN -->
    <div class="column col-right">


      <div>
        <img src="/img/homepage-desk.png" alt="accessibility notes and mug with tea on a wooden desk ">
      </div>

          <!-- 3. CENTER SUB-COLUMNS (Below Featured on Desktop) -->
    <!-- <div class="sub-grid-wrapper"></div> -->
      <div class="column" style="flex-direction: row;">


                          <div class="card">
        <p class="text">"Under her leadership the company more than doubled revenue over the last year or so."</p>
        <br>
        <div class="author-info">
          <div>
            <div class="name">H. Grant, </div>
            <span class="handle">Sales Associate</span>
            </div>
        </div>
      </div> 

            <div class="card">
        <p class="text">"Mel is awesome and consistently goes out of her way to support the team."</p>
        <br>
        <div class="author-info">
          <div>
            <div class="name">T. Darling, </div>
            <span class="handle">Engineer</span>
            </div>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>




  <!-- <div class="">
    <img src="/img/homepage-desk.png" alt="accessibility notes and mug with tea on a wooden desk ">
  </div> -->

</div>

</section>

<section class="has-fullwidth-bg" data-color="violet">
  <div class="wrapper" style="margin-top: 8rem">

{{ partial "blog" . }}

  </div>
</section>
 
{{ end }} 


