

{{ define "main" }}

<!-- //this is what allows markup... only this -->
<!-- <p class="b f4 di lh-title mb3 white mw6 bg-primary"></p>
{{ .Content }} 
</p> -->
<!-- // -->

{{ partial "jumbotron" (dict "imageUrl" .Params.image "backgroundcolor" .Params.backgroundcolor "subtitle" .Params.subtitle "text" .Content) }}

<!-- {{.Params.text}} -->

{{ partial "short-text" .Params.blurb}}
<div class="upcoming-events flex-ns flex-wrap"><div class="ph1-ns w-50-ns"><h2>Upcoming Events:</h2> <b>UX Y'all</b> (Attentee) - 10/04/2020</div>
<div class="ph1-ns w-50-ns flex">sdfkjghsdjfh</div></div>

{{ partial "2-up" .Params }}

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Reada more" "buttonLink" "/values") }} -->
{{ partial "blog" . }}

<section class="pv4">
<div class="ph3 center">
    <h2 class="f3 b lh-title mb2">Find me in the wild</h2>
    <p class="mb4 mw6">UX Y’all - 10/04/2019 | Modern Web October Event – 10/16/2019 | Code for Durham: Civic Hacking – 12/10/2019</p>
  </div>
</section>
{{ end }} 

