

{{ define "main" }}
<style>.caption:before {
  background: url(img/white-border-arrow.png);
  background-repeat: no-repeat;
}</style>

<section class="top-section-new center ph3 content {{.Params.backgroundcolor}}" style="margin-top: 70px; margin-bottom: 6.25rem; position: relative">
  <div class="me-homepage-bg"></div>
  <div class="notification">WCAG 2.2 is live! Learn about how to make your next project compliant.</div>

<div class="wrapper" style="padding-top: .75rem; position: relative">

{{ partial "h1-main" . }}

<div class="inline-horizontal-links {{.Params.backgroundcolor}}">
  <a href="/post" style="margin-right: 1rem" class="skip card-v8 homepage bg radius-lg text-center">
    <span class="">check out my work</span>
</a>
<a href="/retrospective/2023" id="retro" style="min-width: 251px;" class="retrospective skip card-v8 homepage bg radius-lg text-center">
  <span class="">read my 2023 retrospective</span>
</a>
</div>

<h2>Hey, I’m Mel and I have been designing & developing for the web since 2012.</h2>
<p>Advocating for accessibility is my top priority within UX and I love chatting with folks that are new to the space. The development process works best when design teams are brought in early and often. Designs become great designs when teams value accessibility!</p>

<div class="me-homepage"><span class="visibly-hidden">I love working with new and existing teams</span></div>

</div>

<div class="bottom-angled-message"><div class="wrapper">You can <a href="https://calendly.com/melanielinares" class="underline">schedule a chat</a> with me to discuss accessibility and design. I hope your <span id="demo"></span> is going amazing!</div></div>

</section>

<div class="after-angled" style="background-color: white; width: 100%; height: 12rem; transform: rotate(-4deg); margin-top: -10.5rem; margin-bottom: 5rem;"></div>






<!-- 

<section class="Angled homepage-blue">

  <div class="container max-w-7xl mx-auto">
    <div class="flex relative _2-col-grid">
      <div class="_10-col-grid">
    
<div id="w-node-_12fdc28f-ed3e-590f-dec8-b4b0dbb98728-4b58e707" class="homepage--dribble-shots relative">
  <div id="w-node-aea9e847-fdbd-5d99-1480-fa09f6bab449-4b58e707">
    <div class="w-dyn-list">
      <div class="w-dyn-items">
        <div class="dribbble-shot w-dyn-item" style="position:relative;padding-top:56.25%;">
          <iframe src="https://player.vimeo.com/video/727316719?h=aba7540072&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="border: 3px solid #d4efe1; box-shadow: 3px 3px 16px rgba(48, 48, 55, .2); background-color: #d4efe1;
          border-radius: 9px; position:absolute;top:0;left:0;height:100%;" title="Introducing the Practical Accessibility video course" data-ready="true" id="iframe"></iframe>
        
      </div><div class="caption" style="margin-left: 4em; padding-right: 1em"><em>Watch a short video about my process.<br><button>[view transcript]</button></em></div>
        </div></div>
        </div>
        <div class="dribbble-shots2 w-dyn-list">
          <div class="w-dyn-items">
            <div class="dribbble-shot w-dyn-item">
              <img src="/img/hp-3.png" loading="lazy" alt="">
            </div>

          </div>
                  </div>
        </div>    
    </div>
    
    <div>
      <h3 style="font-size: 2.3rem; padding-left: 0; font-family: 'Poppins'">I help brands achieve user-first, compliant products. <b aria-hidden="true" style="filter: hue-rotate(115deg) brightness(0.5);">✨</b></h3>
      <h4 class="text-4xl leading-none tracking-tight lg:text-4xl md:text-4xl sm:text-3xl max-w-7xl homepage" style="display:block; max-width: 825px!important; word-spacing: -0.25rem;letter-spacing: -0.06em;line-height: 1; font-family: 'JetBrains Mono'; margin-bottom: 1.5em">Whether a project is in planning, progress, or QA, I make sure it reaches its potential.</h4>
      <strong style="margin-bottom: 1em">
        Here's some of what I offer:
      </strong>
      <ul class="two-three-col">
        <li>Audit assessments</li>
        <li>Design reviews</li>
        <li>Use case scripting</li>
        <li>Use case analysis</li>
        <li>Web development</li>
        <li>Rapid prototyping</li>
        <li>Document remediation</li>
        <li>Accessible graphics</li>
      </ul>

    <blockquote class="homepage-blockquote relative">
      <p>Mel has been the team's superpower!</p>
    </blockquote>
  </div>
    
    </div>
  </div>
</section> -->

<!-- <section class="after-homepage-blue">
<div class="container max-w-7xl mx-auto">

  <div class="flex relative">
    <div>
      <h3 style="font-size: 2.3rem; padding-left: 0; font-family: 'Poppins'">Latest case studies <strong style="color: #243bb4">&</strong> articles</h3>
      {{ partial "blog" . }}    
  </div>
  
  
  



        {{ range first 1 (where .Site.Pages "Type" "post") }}
        {{ if .Params.thumbnail }}
        <div><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" class="radius-lg"/> </div>{{ end }}
      	{{ end }}


  </div>

  

  </div>
</section> -->

 
{{ end }} 


